Repository nushell/nushell, changes with the labels that .github/labeler.yml gives for each.
All labels: A:plugin-polars, A:std-library, A:ci, A:LSP, A:parser, A:plugins

.github/labeler.yml:

# A bot for automatically labelling pull requests 
# See https://github.com/actions/labeler

A:plugin-polars:
  - changed-files:
    - any-glob-to-any-file:
      - crates/nu_plugin_polars/**

A:std-library:
  - changed-files:
    - any-glob-to-any-file:
      - crates/nu-std/**

A:ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**


A:LSP:
  - changed-files:
    - any-glob-to-any-file:
      - crates/nu-lsp/**

A:parser:
  - changed-files:
    - any-glob-to-any-file:
      - crates/nu-parser/**

A:plugins:
  - changed-files:
    - any-glob-to-any-file:
      # plugins API
      - crates/nu-plugin/**
      - crates/nu-plugin-core/**
      - crates/nu-plugin-engine/**
      - crates/nu-plugin-protocol/**
      - crates/nu-plugin-test-support/**
      # specific plugins (like polars)
      - crates/nu_plugin_*/**

fixup test cases
  tests/repl/test_custom_commands.rs
  tests/repl/test_parser.rs
Labels: none

tests: added simple tests
  crates/nu-cli/tests/completions/mod.rs
Labels: none

docs: adjust description, add examples
  crates/nu-cmd-lang/src/core_commands/attr/complete.rs
Labels: none

accept "full featured"/record suggestions for forward compatibility
  crates/nu-parser/src/parse_shape_specs.rs
Labels: A:parser

feat: add `string@[a b c]` syntax for completions from a const list
  crates/nu-parser/src/parse_shape_specs.rs
  crates/nu-parser/src/parser.rs
Labels: A:parser

add tests
  crates/nu-cli/tests/completions/mod.rs
  crates/nu-parser/src/parse_shape_specs.rs
Labels: A:parser

update reedline to the latest commit
  Cargo.lock
Labels: none

update edit_from_record
  crates/nu-cli/src/reedline_config.rs
Labels: none

fix `attr *` command signatures (#16774)
  crates/nu-cmd-lang/src/core_commands/attr/attr_.rs
  crates/nu-cmd-lang/src/core_commands/attr/category.rs
  crates/nu-cmd-lang/src/core_commands/attr/deprecated.rs
Labels: none

promote `REORDER_CELL_PATHS` to opt out
  crates/nu-experimental/src/options/reorder_cell_paths.rs
Labels: none

use `macos-latest` in CI
  .github/workflows/ci.yml
Labels: A:ci

add more tests after review
  crates/nu-cli/tests/completions/mod.rs
Labels: none

Promote experimental option `reorder-cell-paths` to opt out (#16795)
  crates/nu-experimental/src/options/reorder_cell_paths.rs
Labels: none

Stop using `macos-13` in CI (#16796)
  .github/workflows/ci.yml
Labels: A:ci

Add ast-grep lint for constructing Value directly
  ast-grep/rules/value-variant.yml
Labels: none

adjustments after review
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/tests/completions/mod.rs
Labels: none

use latest crate-ci/typos version
  .github/workflows/typos.yml
Labels: A:ci

fix some typos
  crates/nu-command/src/bytes/add.rs
  crates/nu-command/src/conversions/into/filesize.rs
  crates/nu-command/src/formats/to/xml.rs
  crates/nu-command/src/network/http/client.rs
  crates/nu-command/src/strings/format/date.rs
  crates/nu-command/src/strings/guess_width.rs
  crates/nu-command/src/viewers/table.rs
  crates/nu-command/tests/format_conversions/html.rs
  crates/nu-protocol/src/errors/parse_warning.rs
  crates/nu-protocol/src/errors/shell_warning.rs
  crates/nu-test-support/src/macros.rs
Labels: none

add `view state` command
  crates/nu-command/src/debug/mod.rs
  crates/nu-command/src/debug/view_state.rs
  crates/nu-command/src/default_context.rs
  crates/nu-protocol/src/engine/engine_state.rs
Labels: none

Remove usages of direct Value variant construction
  crates/nu-cli/tests/completions/support/completions_helpers.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_dtype/mod.rs
Labels: A:plugin-polars, A:plugins

test: parameter completions should override command wide completions
  crates/nu-cli/tests/completions/mod.rs
Labels: none

Remove all usages of internal_span
  crates/nu-cmd-extra/src/extra/filters/update_cells.rs
  crates/nu-command/src/conversions/into/value.rs
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/src/generators/seq_date.rs
  crates/nu-command/src/math/abs.rs
  crates/nu-command/src/math/ceil.rs
  crates/nu-command/src/math/floor.rs
  crates/nu-command/src/math/log.rs
  crates/nu-command/src/math/round.rs
  crates/nu-command/src/math/sqrt.rs
  crates/nu_plugin_polars/src/dataframe/command/datetime/as_datetime.rs
  crates/nu_plugin_polars/src/dataframe/command/datetime/replace_time_zone.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_dtype/mod.rs
Labels: A:plugin-polars, A:plugins

Upgrade internal_span lint to an error
  ast-grep/rules/internal_span.yml
Labels: none

fix: completing flags should work, add test
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/tests/completions/mod.rs
Labels: none

Clippy
  crates/nu-command/src/math/abs.rs
  crates/nu-command/src/math/ceil.rs
  crates/nu-command/src/math/floor.rs
  crates/nu-command/src/math/log.rs
  crates/nu-command/src/math/round.rs
  crates/nu-command/src/math/sqrt.rs
Labels: none

flag completions include results from command wide completer
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/tests/completions/mod.rs
Labels: none

fix panic. the optimization here wasnt that big anyway
  crates/nu-cli/src/completions/custom_completions.rs
Labels: none

feat: `each` can flatten streams from the closure without collecting
  crates/nu-command/src/filters/each.rs
Labels: none

test: confirm both collected and streamed behavior
  crates/nu-command/tests/commands/each.rs
Labels: none

refactor(nu! macro): don't mangle the code
  crates/nu-test-support/src/lib.rs
  crates/nu-test-support/src/macros.rs
Labels: none

clippy fix: remove imports
  crates/nu-command/tests/commands/compact.rs
  crates/nu-command/tests/commands/default.rs
  crates/nu-command/tests/commands/flatten.rs
  crates/nu-command/tests/commands/group_by.rs
  crates/nu-command/tests/commands/histogram.rs
  crates/nu-command/tests/commands/into_int.rs
  crates/nu-command/tests/commands/math/sum.rs
  crates/nu-command/tests/commands/merge.rs
  crates/nu-command/tests/commands/move_/column.rs
  crates/nu-command/tests/commands/network/http/head.rs
  crates/nu-command/tests/commands/network/http/options.rs
  crates/nu-command/tests/commands/network/http/patch.rs
  crates/nu-command/tests/commands/network/http/post.rs
  crates/nu-command/tests/commands/network/http/put.rs
  crates/nu-command/tests/commands/network/port.rs
  crates/nu-command/tests/commands/redirection.rs
  crates/nu-command/tests/commands/rename.rs
  crates/nu-command/tests/commands/select.rs
  crates/nu-command/tests/commands/skip/until.rs
  crates/nu-command/tests/commands/skip/while_.rs
  crates/nu-command/tests/commands/take/rows.rs
  crates/nu-command/tests/commands/take/until.rs
  crates/nu-command/tests/commands/take/while_.rs
  crates/nu-command/tests/commands/uniq.rs
  crates/nu-command/tests/commands/uniq_by.rs
  crates/nu-command/tests/commands/wrap.rs
  crates/nu-command/tests/commands/zip.rs
Labels: none

fix errors caused by removing format, eliminate pipeline()
  crates/nu-command/tests/commands/chunk_by.rs
  crates/nu-command/tests/commands/compact.rs
  crates/nu-command/tests/commands/database/into_sqlite.rs
  crates/nu-command/tests/commands/default.rs
  crates/nu-command/tests/commands/detect_columns.rs
  crates/nu-command/tests/commands/error_make.rs
  crates/nu-command/tests/commands/flatten.rs
  crates/nu-command/tests/commands/group_by.rs
  crates/nu-command/tests/commands/histogram.rs
  crates/nu-command/tests/commands/math/sum.rs
  crates/nu-command/tests/commands/merge.rs
  crates/nu-command/tests/commands/move_/column.rs
  crates/nu-command/tests/commands/network/port.rs
  crates/nu-command/tests/commands/platform/kill.rs
  crates/nu-command/tests/commands/rename.rs
  crates/nu-command/tests/commands/roll.rs
  crates/nu-command/tests/commands/rotate.rs
  crates/nu-command/tests/commands/select.rs
  crates/nu-command/tests/commands/skip/until.rs
  crates/nu-command/tests/commands/skip/while_.rs
  crates/nu-command/tests/commands/table.rs
  crates/nu-command/tests/commands/take/rows.rs
  crates/nu-command/tests/commands/take/until.rs
  crates/nu-command/tests/commands/take/while_.rs
  crates/nu-command/tests/commands/ulimit.rs
  crates/nu-command/tests/commands/uniq.rs
  crates/nu-command/tests/commands/uniq_by.rs
  crates/nu-command/tests/commands/url/parse.rs
  crates/nu-command/tests/commands/use_.rs
  crates/nu-command/tests/commands/wrap.rs
  crates/nu-test-support/src/lib.rs
  tests/shell/pipeline/commands/external.rs
  tests/shell/pipeline/commands/internal.rs
Labels: none

some cleanup
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/jobs.rs
Labels: none

docs: add an example for `each --flatten`
  crates/nu-command/src/filters/each.rs
Labels: none

Make ListStream iterator over Result<Value, ShellError>
  crates/nu-protocol/src/pipeline/list_stream.rs
  crates/nu-protocol/src/pipeline/pipeline_data.rs
Labels: none

Inner map
  crates/nu-protocol/src/pipeline/pipeline_data.rs
Labels: none

Engine changes
  crates/nu-engine/src/documentation.rs
  crates/nu-engine/src/eval_ir.rs
Labels: none

Command changes
  crates/nu-command/src/filters/drop/drop_.rs
  crates/nu-explore/src/nu_common/value.rs
  crates/nu-protocol/src/pipeline/pipeline_data.rs
Labels: none

Flatmap
  crates/nu-protocol/src/pipeline/pipeline_data.rs
Labels: none

Add `PipelineData::try_map`
  crates/nu-protocol/src/pipeline/pipeline_data.rs
Labels: none
