Repository nushell/nushell, changes with the labels that .github/labeler.yml gives for each.
All labels: A:plugin-polars, A:std-library, A:ci, A:LSP, A:parser, A:plugins

fix test: `each`'s description contains the word "whole"
  crates/nu-cli/src/menus/help_completions.rs
Labels: none

Add syntax for simple completions from const lists (#16789)
  crates/nu-cli/tests/completions/mod.rs
  crates/nu-parser/src/parse_shape_specs.rs
  crates/nu-parser/src/parser.rs
Labels: A:parser

feat: `each` can flatten streams from the closure without collecting (#16735)
  crates/nu-cli/src/menus/help_completions.rs
  crates/nu-command/src/filters/each.rs
  crates/nu-command/tests/commands/each.rs
Labels: none

feat(std-rfc/xml xaccess): experimental rewrite of `std/xml xaccess`
  crates/nu-std/src/lib.rs
  crates/nu-std/std-rfc/mod.nu
  crates/nu-std/std-rfc/xml/mod.nu
Labels: A:std-library

oops
  toolkit/artifact/api.nu
Labels: none

changing type names for polars custom values
  crates/nu_plugin_polars/src/dataframe/values/nu_dataframe/custom_value.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_dtype/custom_value.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_expression/custom_value.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_lazyframe/custom_value.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_lazygroupby/custom_value.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_schema/custom_value.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_when/custom_value.rs
Labels: A:plugin-polars, A:plugins

deprecate `each while` and `each --keep-empty`
  crates/nu-cmd-extra/src/extra/filters/each_while.rs
  crates/nu-command/src/filters/each.rs
Labels: none

fix broken std code
  crates/nu-command/src/filters/each.rs
  crates/nu-std/std-rfc/iter/mod.nu
  crates/nu-std/std/log/mod.nu
  crates/nu-std/testing.nu
Labels: A:std-library

Update reedline config for Vi mode pair and text object commands
  crates/nu-cli/src/reedline_config.rs
Labels: none

add cell-path input to into string
  crates/nu-command/src/conversions/into/string.rs
  crates/nu-command/tests/commands/str_/into_string.rs
Labels: none

refactor compact, reduce nesting
  crates/nu-command/src/filters/compact.rs
Labels: none

feat: compact works on records too
  crates/nu-command/src/filters/compact.rs
Labels: none

docs: extra description + example
  crates/nu-command/src/filters/compact.rs
Labels: none

feat: compact works on records too
  crates/nu-command/src/filters/compact.rs
Labels: none

refactor compact, reduce nesting
  crates/nu-command/src/filters/compact.rs
Labels: none

docs: extra description + example
  crates/nu-command/src/filters/compact.rs
Labels: none

.github/labeler.yml:

# A bot for automatically labelling pull requests 
# See https://github.com/actions/labeler

A:plugin-polars:
  - changed-files:
    - any-glob-to-any-file:
      - crates/nu_plugin_polars/**

A:std-library:
  - changed-files:
    - any-glob-to-any-file:
      - crates/nu-std/**

A:ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**


A:LSP:
  - changed-files:
    - any-glob-to-any-file:
      - crates/nu-lsp/**

A:parser:
  - changed-files:
    - any-glob-to-any-file:
      - crates/nu-parser/**

A:plugins:
  - changed-files:
    - any-glob-to-any-file:
      # plugins API
      - crates/nu-plugin/**
      - crates/nu-plugin-core/**
      - crates/nu-plugin-engine/**
      - crates/nu-plugin-protocol/**
      - crates/nu-plugin-test-support/**
      # specific plugins (like polars)
      - crates/nu_plugin_*/**
