Repository nushell/nushell, pull requests merged in 2022-11, with the labels that each got.

#6893 make `take` behave like `first`
  crates/nu-command/src/filters/take/take_.rs
  crates/nu-command/tests/commands/take/rows.rs
Labels: breaking-change

#6896 Fix ignore-errors for select
  crates/nu-command/src/filters/select.rs
  crates/nu-command/tests/commands/select.rs
Labels: breaking-change

#7040 Proposal: Remove the sqlparser SQLite commands
  crates/nu-command/Cargo.toml
  crates/nu-command/src/database/commands/and.rs
  crates/nu-command/src/database/commands/as_.rs
  crates/nu-command/src/database/commands/collect.rs
  crates/nu-command/src/database/commands/conversions.rs
  crates/nu-command/src/database/commands/describe.rs
  crates/nu-command/src/database/commands/from_table.rs
  crates/nu-command/src/database/commands/group_by.rs
  crates/nu-command/src/database/commands/into_db.rs
  crates/nu-command/src/database/commands/into_sqlite.rs
  crates/nu-command/src/database/commands/join.rs
  crates/nu-command/src/database/commands/limit.rs
  crates/nu-command/src/database/commands/mod.rs
  crates/nu-command/src/database/commands/open_db.rs
  crates/nu-command/src/database/commands/or.rs
  crates/nu-command/src/database/commands/order_by.rs
  crates/nu-command/src/database/commands/schema.rs
  crates/nu-command/src/database/commands/select.rs
  crates/nu-command/src/database/commands/testing_db.rs
  crates/nu-command/src/database/commands/where_.rs
  crates/nu-command/src/database/expressions/alias.rs
  crates/nu-command/src/database/expressions/and.rs
  crates/nu-command/src/database/expressions/as_nu.rs
  crates/nu-command/src/database/expressions/field.rs
  crates/nu-command/src/database/expressions/function.rs
  crates/nu-command/src/database/expressions/mod.rs
  crates/nu-command/src/database/expressions/or.rs
  crates/nu-command/src/database/expressions/over.rs
  crates/nu-command/src/database/mod.rs
  crates/nu-command/src/database/test_database.rs
  crates/nu-command/src/database/values/definitions/mod.rs
  crates/nu-command/src/database/values/dsl/expression.rs
  crates/nu-command/src/database/values/dsl/mod.rs
  crates/nu-command/src/database/values/dsl/select_item.rs
  crates/nu-command/src/database/values/mod.rs
  crates/nu-command/src/database/values/sqlite.rs
  tests/plugins/custom_values.rs
Labels: breaking-change

#7042 Remove --predicate flag from `find`
  crates/nu-command/src/filters/find.rs
Labels: wait-until-after-nushell-release, breaking-change

#7043 Require input for `date format`
  crates/nu-command/src/date/format.rs
  crates/nu-command/tests/commands/date/format.rs
Labels: wait-until-after-nushell-release, breaking-change

#7041 Require column name(s) in `sort-by`
  crates/nu-command/src/filters/sort_by.rs
  crates/nu-command/tests/commands/sort.rs
  crates/nu-command/tests/commands/sort_by.rs
  src/tests/test_strings.rs
Labels: wait-until-after-nushell-release, breaking-change

#7045 Make seq output type consistent (by removing flags)
  crates/nu-command/src/generators/seq.rs
  src/tests/test_parser.rs
Labels: wait-until-after-nushell-release, breaking-change

#7049 return value::int instead of value::record in `history session`
  crates/nu-command/src/misc/history_session.rs
Labels: wait-until-after-nushell-release, breaking-change

#7054 Simplify `seq char`
  crates/nu-command/src/generators/seq_char.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-command/tests/commands/seq_char.rs
Labels: wait-until-after-nushell-release, breaking-change

#7052 Collapse some `help commands` columns into a single column
  crates/nu-command/src/core_commands/help.rs
  crates/nu-protocol/src/engine/command.rs
Labels: breaking-change

#7086 Convert 'for' to a statement
  crates/nu-command/src/core_commands/for_.rs
  crates/nu-parser/src/parser.rs
  src/tests/test_engine.rs
  src/tests/test_iteration.rs
  tests/shell/pipeline/commands/internal.rs
Labels: breaking-change

#7096 Remove --separator from `seq date`
  crates/nu-command/src/generators/seq_date.rs
Labels: breaking-change

#7105 Add input-output types to $nu.scope.commands
  crates/nu-engine/src/scope.rs
Labels: breaking-change

#7113 fix `ansi --osc` parameter adding extra semi-colon
  crates/nu-command/src/platform/ansi/ansi_.rs
Labels: breaking-change

#7080 `to html --list` now returns a table
  crates/nu-command/src/core_commands/metadata.rs
  crates/nu-command/src/formats/to/html.rs
  crates/nu-command/src/viewers/table.rs
  crates/nu-command/tests/format_conversions/html.rs
  crates/nu-protocol/src/pipeline_data.rs
Labels: breaking-change

#7144 Remove `build-string` command
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/example_test.rs
  crates/nu-command/src/strings/build_string.rs
  crates/nu-command/src/strings/mod.rs
  src/tests/test_strings.rs
Labels: breaking-change

#6983 Grouped config commands better (closes #6911)
  crates/nu-command/src/filesystem/rm.rs
  crates/nu-protocol/src/config.rs
  crates/nu-utils/src/sample_config/default_config.nu
Labels: wait-until-after-nushell-release, breaking-change

#7124 new command `url parse` (#6854) and `url` subcommands tests
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/network/post.rs
  crates/nu-command/src/network/url/host.rs
  crates/nu-command/src/network/url/mod.rs
  crates/nu-command/src/network/url/parse.rs
  crates/nu-command/src/network/url/path.rs
  crates/nu-command/src/network/url/query.rs
  crates/nu-command/src/network/url/scheme.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-command/tests/commands/url/mod.rs
  crates/nu-command/tests/commands/url/parse.rs
Labels: breaking-change

#7010 Make json require string and pass around metadata
  crates/nu-command/src/formats/from/csv.rs
  crates/nu-command/src/formats/from/delimited.rs
  crates/nu-command/src/formats/from/eml.rs
  crates/nu-command/src/formats/from/ics.rs
  crates/nu-command/src/formats/from/ini.rs
  crates/nu-command/src/formats/from/json.rs
  crates/nu-command/src/formats/from/nuon.rs
  crates/nu-command/src/formats/from/ssv.rs
  crates/nu-command/src/formats/from/toml.rs
  crates/nu-command/src/formats/from/tsv.rs
  crates/nu-command/src/formats/from/url.rs
  crates/nu-command/src/formats/from/vcf.rs
  crates/nu-command/src/formats/from/xml.rs
  crates/nu-command/src/formats/from/yaml.rs
  crates/nu-protocol/src/pipeline_data.rs
Labels: breaking-change

#7082 feat: Use Raw text to save if pipeline data is ExternalStream or String
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/tests/commands/save.rs
Labels: breaking-change

#6994 Allow iteration blocks to have an optional extra index parameter (alternative to `-n` flags)
  crates/nu-command/src/filters/all.rs
  crates/nu-command/src/filters/any.rs
  crates/nu-command/src/filters/each.rs
  crates/nu-command/src/filters/each_while.rs
  crates/nu-command/src/filters/insert.rs
  crates/nu-command/src/filters/par_each.rs
  crates/nu-command/src/filters/reduce.rs
  crates/nu-command/src/filters/update.rs
  crates/nu-command/src/filters/upsert.rs
  crates/nu-command/src/filters/where_.rs
  crates/nu-command/tests/commands/all.rs
  crates/nu-command/tests/commands/any.rs
  crates/nu-command/tests/commands/each.rs
  crates/nu-command/tests/commands/insert.rs
  crates/nu-command/tests/commands/reduce.rs
  crates/nu-command/tests/commands/update.rs
  crates/nu-command/tests/commands/upsert.rs
  crates/nu-command/tests/commands/where_.rs
  src/tests/test_parser.rs
Labels: breaking-change

#7156 Make external command substitution works friendly(like fish shell, trailing ending newlines)
  crates/nu-command/src/core_commands/do_.rs
  crates/nu-command/src/env/config/config_env.rs
  crates/nu-command/src/env/config/config_nu.rs
  crates/nu-command/src/filesystem/open.rs
  crates/nu-command/src/network/fetch.rs
  crates/nu-command/src/network/post.rs
  crates/nu-command/src/strings/format/command.rs
  crates/nu-command/src/system/exec.rs
  crates/nu-command/src/system/run_external.rs
  crates/nu-command/src/viewers/table.rs
  crates/nu-engine/src/eval.rs
  crates/nu-parser/src/flatten.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/ast/expr.rs
  crates/nu-protocol/src/ast/expression.rs
  crates/nu-protocol/src/pipeline_data.rs
  src/main.rs
  tests/shell/pipeline/commands/external.rs
Labels: breaking-change

#7177 remove block input support in merge
  crates/nu-command/src/filters/merge.rs
  crates/nu-command/tests/commands/merge.rs
Labels: breaking-change

#7184 Error on negative argument to `last`
  crates/nu-command/src/filters/last.rs
  crates/nu-command/tests/commands/last.rs
Labels: breaking-change

#7186 Error on negative argument of `first`
  crates/nu-command/src/filters/first.rs
  crates/nu-command/tests/commands/first.rs
Labels: breaking-change

#7176 Rename dataframe `describe` to `summary` so that the normal `describe` isn't overloaded
  crates/nu-command/src/dataframe/eager/mod.rs
  crates/nu-command/src/dataframe/eager/summary.rs
Labels: breaking-change

#7209 `uniq -i` does not convert to lowercase (#7192)
  crates/nu-command/src/filters/uniq.rs
  crates/nu-command/tests/commands/uniq.rs
Labels: breaking-change

#7259 Upgrade `windows` and `trash` crates
  Cargo.lock
  crates/nu-command/Cargo.toml
Labels: wait-until-after-nushell-release

#7264 fix dfr datetime conversion
  crates/nu-command/src/dataframe/values/nu_dataframe/conversion.rs
Labels: wait-until-after-nushell-release
