Repository nushell/nushell, pull requests merged in 2022-10, with the labels that each got.

#6286 WIP/ Checkout to new `tabled`
  Cargo.lock
  Cargo.toml
  crates/nu-command/src/viewers/table.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-command/tests/commands/table.rs
  crates/nu-table/Cargo.toml
  crates/nu-table/src/lib.rs
  crates/nu-table/src/main.rs
  crates/nu-table/src/nu_protocol_table.rs
  crates/nu-table/src/table.rs
  crates/nu-table/src/table_theme.rs
  crates/nu-table/src/textstyle.rs
  crates/nu-table/src/width_control.rs
  crates/nu-table/tests/constrains.rs
  crates/nu-table/tests/style.rs
  out.log
Labels: tabled

#6710 nu-table: Check perf improvements
  Cargo.lock
  crates/nu-table/Cargo.toml
Labels: wait-until-after-nushell-release

#6781 Add support to render right prompt on last line of the prompt
  Cargo.lock
  Cargo.toml
  crates/nu-cli/Cargo.toml
  crates/nu-cli/src/prompt.rs
  crates/nu-cli/src/prompt_update.rs
  crates/nu-command/Cargo.toml
  crates/nu-protocol/src/config.rs
  crates/nu-utils/src/sample_config/default_config.nu
Labels: wait-until-after-nushell-release

#6904 fix: ✨ "saner" default for mv
  crates/nu-command/src/filesystem/mv.rs
  crates/nu-command/tests/commands/move_/mv.rs
Labels: breaking-change
