Repository nushell/nushell, pull requests merged in 2022-12, with the labels that each got.

#7252 Add did-you-mean suggestions for bitwise ops
  crates/nu-parser/src/parser.rs
Labels: wait-until-after-nushell-release

#7262 add -f, --force for save command
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/tests/commands/save.rs
  crates/nu-engine/src/eval.rs
Labels: wait-until-after-nushell-release, file-system, breaking-change

#7267 make histogram sorted
  crates/nu-command/src/charting/histogram.rs
Labels: wait-until-after-nushell-release

#7351 Make SQLite queries cancellable
  Cargo.lock
  crates/nu-command/src/database/values/sqlite.rs
  crates/nu-command/src/filesystem/open.rs
  crates/nu-command/src/viewers/table.rs
Labels: signal-cancel

#7241 Better errors when bash-like operators are used
  crates/nu-command/tests/commands/math/mod.rs
  crates/nu-command/tests/commands/zip.rs
  crates/nu-parser/src/errors.rs
  crates/nu-parser/src/lex.rs
  crates/nu-parser/src/parser.rs
  crates/nu-parser/tests/test_parser.rs
  src/tests/test_engine.rs
  src/tests/test_math.rs
  src/tests/test_type_check.rs
Labels: breaking-change

#7413 make split row works like python and rust ways
  crates/nu-command/src/strings/split/row.rs
Labels: breaking-change

#7475 break `for`, `loop`, `while` execution when external command runs to failed
  crates/nu-command/src/core_commands/for_.rs
  crates/nu-command/src/core_commands/loop_.rs
  crates/nu-command/src/core_commands/while_.rs
  crates/nu-command/tests/commands/for_.rs
  crates/nu-command/tests/commands/loop_.rs
  crates/nu-command/tests/commands/while_.rs
Labels: breaking-change

#7468 remove output, append, bin flag from fetch command
  crates/nu-command/src/network/fetch.rs
Labels: breaking-change

#7480 add `--long` flag to `history` command for sqlite history
  crates/nu-command/src/misc/history.rs
Labels: breaking-change

#7527 Add "fall-through" signatures
  crates/nu-cli/src/syntax_highlight.rs
  crates/nu-cli/tests/completions.rs
  crates/nu-command/src/system/exec.rs
  crates/nu-command/src/system/run_external.rs
  crates/nu-command/tests/commands/exec.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-parser/src/known_external.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/ast/call.rs
  crates/nu-protocol/src/signature.rs
  crates/nu-utils/src/sample_config/default_config.nu
  src/tests/test_known_external.rs
Labels: wait-until-after-nushell-release, breaking-change

#7533 avoid panic when using from nuon
  crates/nu-command/src/formats/from/nuon.rs
  crates/nu-command/tests/format_conversions/nuon.rs
  tests/fixtures/formats/code.nu
Labels: wait-until-after-nushell-release

#7410 Make `config.filesize_format`/`config.filesize_metric` conflict resolution consistent
  crates/nu-command/src/strings/format/filesize.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu-protocol/tests/test_config.rs
  crates/nu-test-support/src/macros.rs
Labels: breaking-change

#7539 let case_insensitive option work for variable completion as well
  crates/nu-cli/src/completions/variable_completions.rs
Labels: wait-until-after-nushell-release

#7392 tighter restrictions on `alias` and `def` names
  crates/nu-command/tests/commands/alias.rs
  crates/nu-command/tests/commands/def.rs
  crates/nu-parser/src/errors.rs
  crates/nu-parser/src/parse_keywords.rs
Labels: breaking-change

#7577 Make `to text` stream ListStreams
  crates/nu-command/src/formats/to/text.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-command/tests/commands/to_text.rs
Labels: streaming

#7588 Fix error message when interrupting table with `ctrl+c`
  crates/nu-command/src/viewers/table.rs
Labels: signal-cancel, streaming

#7611 Expand Nushell's help system
  crates/nu-command/src/core_commands/help.rs
  crates/nu-command/src/core_commands/help_aliases.rs
  crates/nu-command/src/core_commands/help_commands.rs
  crates/nu-command/src/core_commands/help_modules.rs
  crates/nu-command/src/core_commands/mod.rs
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/system/nu_check.rs
  crates/nu-command/src/system/run_external.rs
  crates/nu-command/tests/commands/alias.rs
  crates/nu-command/tests/commands/help.rs
  crates/nu-command/tests/commands/use_.rs
  crates/nu-command/tests/main.rs
  crates/nu-engine/src/lib.rs
  crates/nu-engine/src/scope.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/overlay.rs
  crates/nu-protocol/src/shell_error.rs
  crates/nu-protocol/src/signature.rs
  src/tests/test_custom_commands.rs
  tests/modules/mod.rs
  tests/overlays/mod.rs
Labels: breaking-change

#7002 return Error if get meet nothing and without "i"
  crates/nu-command/src/filters/get.rs
  crates/nu-command/tests/commands/cal.rs
  crates/nu-command/tests/commands/where_.rs
Labels: breaking-change

#7623 last, skip, drop, take until, take while, skip until, skip while, where, reverse, shuffle, append, prepend and sort-by raise error when given non-lists
  crates/nu-command/src/filters/append.rs
  crates/nu-command/src/filters/drop/drop_.rs
  crates/nu-command/src/filters/last.rs
  crates/nu-command/src/filters/prepend.rs
  crates/nu-command/src/filters/reverse.rs
  crates/nu-command/src/filters/shuffle.rs
  crates/nu-command/src/filters/skip/skip_.rs
  crates/nu-command/src/filters/skip/skip_until.rs
  crates/nu-command/src/filters/skip/skip_while.rs
  crates/nu-command/src/filters/sort_by.rs
  crates/nu-command/src/filters/take/take_until.rs
  crates/nu-command/src/filters/take/take_while.rs
  crates/nu-command/src/filters/where_.rs
  crates/nu-command/tests/commands/append.rs
  crates/nu-command/tests/commands/drop.rs
  crates/nu-command/tests/commands/last.rs
  crates/nu-command/tests/commands/prepend.rs
  crates/nu-command/tests/commands/reverse.rs
  crates/nu-command/tests/commands/skip/skip_.rs
  crates/nu-command/tests/commands/skip/until.rs
  crates/nu-command/tests/commands/skip/while_.rs
  crates/nu-command/tests/commands/sort_by.rs
  crates/nu-command/tests/commands/str_/mod.rs
  crates/nu-command/tests/commands/take/rows.rs
  crates/nu-command/tests/commands/take/until.rs
  crates/nu-command/tests/commands/take/while_.rs
  crates/nu-command/tests/commands/where_.rs
  crates/nu-protocol/src/pipeline_data.rs
  crates/nu-protocol/src/shell_error.rs
Labels: breaking-change
