Repository nushell/nushell, pull requests merged in 2023-01, with the labels that each got.

#7647 Make `get` hole errors and cell path hole errors identical (improvement on #7002)
  crates/nu-cli/src/repl.rs
  crates/nu-command/src/filters/drop/column.rs
  crates/nu-command/src/filters/empty.rs
  crates/nu-command/src/filters/get.rs
  crates/nu-command/src/filters/length.rs
  crates/nu-command/src/filters/select.rs
  crates/nu-command/src/strings/format/command.rs
  crates/nu-command/src/viewers/griddle.rs
  crates/nu-command/src/viewers/table.rs
  crates/nu-command/tests/commands/default.rs
  crates/nu-command/tests/commands/get.rs
  crates/nu-command/tests/commands/open.rs
  crates/nu-command/tests/commands/select.rs
  crates/nu-engine/src/eval.rs
  crates/nu-explore/src/nu_common/table.rs
  crates/nu-explore/src/nu_common/value.rs
  crates/nu-parser/src/eval.rs
  crates/nu-protocol/src/pipeline_data.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu_plugin_inc/src/inc.rs
  src/tests/test_cell_path.rs
  src/tests/test_table_operations.rs
Labels: breaking-change

#7589 Make stream info visible to users in `describe`
  crates/nu-command/src/core_commands/describe.rs
  crates/nu-command/src/example_test.rs
  crates/nu-command/src/filters/par_each.rs
  crates/nu-command/tests/commands/first.rs
  crates/nu-command/tests/commands/last.rs
  crates/nu-command/tests/commands/seq.rs
Labels: breaking-change

#7284 Remove `math eval` command
  Cargo.lock
  crates/nu-command/Cargo.toml
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/deprecated/math_eval.rs
  crates/nu-command/src/deprecated/mod.rs
  crates/nu-command/src/math/eval.rs
  crates/nu-command/src/math/mod.rs
  crates/nu-command/tests/commands/math/eval.rs
  crates/nu-command/tests/commands/math/mod.rs
  crates/nu-command/tests/commands/reduce.rs
  crates/nu-command/tests/commands/str_/collect.rs
Labels: breaking-change

#7687 Remove environment variable hiding from `hide`
  crates/nu-command/src/core_commands/hide.rs
Labels: breaking-change

#7713 Remove `engine_state` clones in REPL eval
  crates/nu-cli/src/nu_highlight.rs
  crates/nu-cli/src/repl.rs
  crates/nu-cli/src/syntax_highlight.rs
  crates/nu-cli/src/validation.rs
Labels: performance

#7661 Progress bar Implementation
  Cargo.lock
  crates/nu-command/Cargo.toml
  crates/nu-command/src/filesystem/open.rs
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/src/formats/to/text.rs
  crates/nu-command/src/lib.rs
  crates/nu-command/src/network/fetch.rs
  crates/nu-command/src/network/post.rs
  crates/nu-command/src/progress_bar.rs
  crates/nu-command/src/system/run_external.rs
  crates/nu-command/src/viewers/table.rs
  crates/nu-protocol/src/pipeline_data.rs
  crates/nu-protocol/src/value/stream.rs
  src/main.rs
Labels: wait-until-after-nushell-release

#7711 don't expand tilde if we quote external arguments
  crates/nu-command/src/system/run_external.rs
  crates/nu-command/tests/commands/run_external.rs
Labels: wait-until-after-nushell-release

#7740 Trim quotes when shelling out to cmd.exe
  crates/nu-command/src/system/run_external.rs
  crates/nu-command/tests/commands/redirection.rs
  crates/nu-command/tests/commands/run_external.rs
Labels: breaking-change

#7702 Rename `to url` command to `url build-query`
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/formats/to/mod.rs
  crates/nu-command/src/network/url/build_query.rs
  crates/nu-command/src/network/url/mod.rs
  crates/nu-command/tests/format_conversions/url.rs
Labels: breaking-change

#7675 make `save` stream on list stream data
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/tests/commands/save.rs
Labels: streaming

#7796 `fetch` -> `http get` and `post` -> `http post`
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/deprecated/deprecated_commands.rs
  crates/nu-command/src/network/http/get.rs
  crates/nu-command/src/network/http/http_.rs
  crates/nu-command/src/network/http/mod.rs
  crates/nu-command/src/network/http/post.rs
  crates/nu-command/src/network/mod.rs
  crates/nu-command/src/strings/split/words.rs
Labels: breaking-change

#7850 To csv fix
  crates/nu-command/src/formats/to/csv.rs
  crates/nu-command/src/formats/to/delimited.rs
  crates/nu-command/src/formats/to/tsv.rs
  crates/nu-command/tests/format_conversions/csv.rs
Labels: breaking-change

#7781 convert SyntaxShape::Table into the corresponding Type
  crates/nu-protocol/src/syntax_shape.rs
Labels: type-system, semantics

#7883 Support extended unicode escapes in strings: "\u{10fff}"
  crates/nu-parser/src/parser.rs
  crates/nu-parser/tests/test_parser.rs
  crates/nu-parser/tests/test_parser_unicode_escapes.rs
  src/tests/test_parser.rs
Labels: breaking-change

#7897 make `parse -r` columns return 0-indexed uncapitalised
  crates/nu-command/src/strings/parse.rs
  crates/nu-command/tests/commands/parse.rs
Labels: breaking-change
