Repository nushell/nushell, pull requests merged in 2023-06, with the labels that each got.

#9322 Change install context of windows terminal profile to `per-user`
  wix/main.wxs
Labels: platform-specific, windows

#9343 add the ability to have a list of glob excludes
  crates/nu-command/src/filesystem/glob.rs
Labels: breaking-change

#9315 Logger constants refactored, `format` argument added, better formatting of failed (non) equality assertions
  crates/nu-std/std/assert.nu
  crates/nu-std/std/log.nu
  crates/nu-std/std/mod.nu
  crates/nu-std/tests/logger_tests/commons.nu
  crates/nu-std/tests/logger_tests/test_basic_commands.nu
  crates/nu-std/tests/logger_tests/test_log_custom.nu
  crates/nu-std/tests/logger_tests/test_log_format_flag.nu
  crates/nu-std/tests/logger_tests/test_logger_env.nu
  crates/nu-std/tests/test_logger.nu
Labels: std-library

#9372 Fix typos
  crates/nu-utils/src/sample_config/default_config.nu
Labels: wait-until-after-nushell-release

#9368 don't allow `save` command to save both stdout and stderr to the same file
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/tests/commands/save.rs
Labels: breaking-change

#9355 std: refactor test-runner to no longer require tests to be exported
  .github/workflows/ci.yml
  crates/nu-std/src/lib.rs
  crates/nu-std/std/mod.nu
  crates/nu-std/std/testing.nu
  crates/nu-std/tests/logger_tests/test_basic_commands.nu
  crates/nu-std/tests/logger_tests/test_log_custom.nu
  crates/nu-std/tests/logger_tests/test_log_format_flag.nu
  crates/nu-std/tests/logger_tests/test_logger_env.nu
  crates/nu-std/tests/test_asserts.nu
  crates/nu-std/tests/test_dirs.nu
  crates/nu-std/tests/test_iter.nu
  crates/nu-std/tests/test_setup_teardown.nu
  crates/nu-std/tests/test_std.nu
  crates/nu-std/tests/test_xml.nu
  toolkit.nu
Labels: std-library

#9031 refactor: merge `repl_buffer_state`, `repl_cursor_pos` into one mutex
  crates/nu-cli/src/commands/commandline.rs
  crates/nu-cli/src/repl.rs
  crates/nu-protocol/src/engine/engine_state.rs
  src/test_bins.rs
Labels: needs-core-team-attention

#9427 Remove ZB and ZiB from file size type
  crates/nu-command/src/formats/from/nuon.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu-protocol/src/value/unit.rs
  crates/nu-utils/src/sample_config/default_config.nu
Labels: breaking-change

#9415 Changes global allocator to mimalloc, improving performance.
  Cargo.lock
  Cargo.toml
  crates/nu-cmd-lang/Cargo.toml
  crates/nu-cmd-lang/src/core_commands/version.rs
  src/main.rs
Labels: wait-until-after-nushell-release

#9449 Fix bug in std dirs drop; improve documentation
  crates/nu-std/std/dirs.nu
  crates/nu-std/tests/test_dirs.nu
Labels: std-library

#9425 toolkit: use `--features` instead of `--dataframe` and refactor a bit
  toolkit.nu
Labels: needs-core-team-attention, toolkit, refactor

#9455 move common tools from `nu-command` to `nu-cmd-base`
  Cargo.lock
  Cargo.toml
  crates/nu-cmd-base/Cargo.toml
  crates/nu-cmd-base/src/input_handler.rs
  crates/nu-cmd-base/src/lib.rs
  crates/nu-command/Cargo.toml
  crates/nu-command/src/bytes/add.rs
  crates/nu-command/src/bytes/at.rs
  crates/nu-command/src/bytes/ends_with.rs
  crates/nu-command/src/bytes/index_of.rs
  crates/nu-command/src/bytes/length.rs
  crates/nu-command/src/bytes/remove.rs
  crates/nu-command/src/bytes/replace.rs
  crates/nu-command/src/bytes/reverse.rs
  crates/nu-command/src/bytes/starts_with.rs
  crates/nu-command/src/conversions/fill.rs
  crates/nu-command/src/conversions/fmt.rs
  crates/nu-command/src/conversions/into/binary.rs
  crates/nu-command/src/conversions/into/bool.rs
  crates/nu-command/src/conversions/into/datetime.rs
  crates/nu-command/src/conversions/into/decimal.rs
  crates/nu-command/src/conversions/into/filesize.rs
  crates/nu-command/src/conversions/into/int.rs
  crates/nu-command/src/conversions/into/string.rs
  crates/nu-command/src/hash/generic_digest.rs
  crates/nu-command/src/lib.rs
  crates/nu-command/src/network/url/encode.rs
  crates/nu-command/src/platform/ansi/strip.rs
  crates/nu-command/src/strings/encode_decode/base64.rs
  crates/nu-command/src/strings/encode_decode/hex.rs
  crates/nu-command/src/strings/format/filesize.rs
  crates/nu-command/src/strings/str_/case/mod.rs
  crates/nu-command/src/strings/str_/contains.rs
  crates/nu-command/src/strings/str_/distance.rs
  crates/nu-command/src/strings/str_/ends_with.rs
  crates/nu-command/src/strings/str_/index_of.rs
  crates/nu-command/src/strings/str_/length.rs
  crates/nu-command/src/strings/str_/replace.rs
  crates/nu-command/src/strings/str_/reverse.rs
  crates/nu-command/src/strings/str_/starts_with.rs
  crates/nu-command/src/strings/str_/substring.rs
  crates/nu-command/src/strings/str_/trim/trim_.rs
Labels: cratification, refactor

#9496 clean up config by removing legacy options
  crates/nu-command/tests/commands/table.rs
  crates/nu-protocol/src/config.rs
  crates/nu-utils/src/sample_config/default_config.nu
Labels: breaking-change

#9509 cratification: move the bytes command to nu-cmd-extra
  Cargo.lock
  Cargo.toml
  crates/nu-cli/Cargo.toml
  crates/nu-cli/src/lib.rs
  crates/nu-cli/src/repl.rs
  crates/nu-cmd-base/Cargo.toml
  crates/nu-cmd-base/src/lib.rs
  crates/nu-cmd-base/src/util.rs
  crates/nu-cmd-extra/Cargo.toml
  crates/nu-cmd-extra/src/extra/bytes/add.rs
  crates/nu-cmd-extra/src/extra/bytes/at.rs
  crates/nu-cmd-extra/src/extra/bytes/build_.rs
  crates/nu-cmd-extra/src/extra/bytes/bytes_.rs
  crates/nu-cmd-extra/src/extra/bytes/collect.rs
  crates/nu-cmd-extra/src/extra/bytes/ends_with.rs
  crates/nu-cmd-extra/src/extra/bytes/index_of.rs
  crates/nu-cmd-extra/src/extra/bytes/length.rs
  crates/nu-cmd-extra/src/extra/bytes/mod.rs
  crates/nu-cmd-extra/src/extra/bytes/remove.rs
  crates/nu-cmd-extra/src/extra/bytes/replace.rs
  crates/nu-cmd-extra/src/extra/bytes/reverse.rs
  crates/nu-cmd-extra/src/extra/bytes/starts_with.rs
  crates/nu-cmd-extra/src/extra/mod.rs
  crates/nu-cmd-extra/tests/commands/bytes/mod.rs
  crates/nu-cmd-extra/tests/commands/bytes/starts_with.rs
  crates/nu-cmd-extra/tests/commands/mod.rs
  crates/nu-cmd-extra/tests/main.rs
  crates/nu-command/Cargo.toml
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/hook.rs
  crates/nu-command/src/lib.rs
  crates/nu-command/src/strings/str_/index_of.rs
  crates/nu-command/src/strings/str_/substring.rs
  crates/nu-command/tests/commands/mod.rs
  src/main.rs
Labels: breaking-change

#9032 Test examples of `use`
  crates/nu-cmd-lang/src/core_commands/use_.rs
  crates/nu-cmd-lang/src/example_test.rs
Labels: needs-core-team-attention

#9574 remove let-env, focus on mutating $env
  .github/workflows/release-pkg.nu
  crates/nu-cmd-lang/src/core_commands/def_env.rs
  crates/nu-cmd-lang/src/core_commands/export_def_env.rs
  crates/nu-cmd-lang/src/core_commands/hide_env.rs
  crates/nu-cmd-lang/src/core_commands/module.rs
  crates/nu-cmd-lang/src/core_commands/overlay/hide.rs
  crates/nu-cmd-lang/src/core_commands/overlay/use_.rs
  crates/nu-color-config/src/style_computer.rs
  crates/nu-command/src/debug/view_source.rs
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/deprecated/let_env.rs
  crates/nu-command/src/deprecated/mod.rs
  crates/nu-command/src/env/export_env.rs
  crates/nu-command/src/env/let_env.rs
  crates/nu-command/src/env/mod.rs
  crates/nu-command/src/example_test.rs
  crates/nu-command/tests/commands/nu_check.rs
  crates/nu-command/tests/commands/redirection.rs
  crates/nu-command/tests/commands/rm.rs
  crates/nu-command/tests/commands/save.rs
  crates/nu-command/tests/commands/source_env.rs
  crates/nu-command/tests/commands/table.rs
  crates/nu-command/tests/commands/use_.rs
  crates/nu-command/tests/commands/with_env.rs
  crates/nu-engine/src/eval.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/tests/into_config.rs
  crates/nu-protocol/tests/test_config.rs
  crates/nu-std/std/dirs.nu
  crates/nu-std/std/help.nu
  crates/nu-std/std/log.nu
  crates/nu-std/std/mod.nu
  crates/nu-std/tests/test_std.nu
  crates/nu-utils/src/sample_config/default_config.nu
  crates/nu-utils/src/sample_config/default_env.nu
  crates/nu-utils/src/sample_config/sample_login.nu
  scripts/coverage-local.nu
  src/config_files.rs
  src/tests/test_engine.rs
  src/tests/test_hiding.rs
  src/tests/test_modules.rs
  src/tests/test_parser.rs
  tests/hooks/mod.rs
  tests/modules/mod.rs
  tests/overlays/mod.rs
  tests/overlays/samples/spam.nu
  tests/parsing/mod.rs
  tests/shell/environment/env.rs
  tests/shell/mod.rs
  tests/shell/pipeline/commands/internal.rs
  toolkit.nu
Labels: breaking-change, environment, language
