Repository nushell/nushell, pull requests merged in 2023-07, with the labels that each got.

#9406 Implement annotations support in test runner
  crates/nu-std/std/assert.nu
  crates/nu-std/std/testing.nu
  crates/nu-std/tests/logger_tests/test_basic_commands.nu
  crates/nu-std/tests/logger_tests/test_log_custom.nu
  crates/nu-std/tests/logger_tests/test_log_format_flag.nu
  crates/nu-std/tests/logger_tests/test_logger_env.nu
  crates/nu-std/tests/test_asserts.nu
  crates/nu-std/tests/test_dirs.nu
  crates/nu-std/tests/test_iter.nu
  crates/nu-std/tests/test_setup_teardown.nu
  crates/nu-std/tests/test_std.nu
  crates/nu-std/tests/test_xml.nu
  toolkit.nu
Labels: tests, std-library

#9582 make the behaviours of `last` and `first` more consistent
  crates/nu-command/src/filters/first.rs
  crates/nu-command/src/filters/last.rs
  crates/nu-command/tests/commands/first.rs
  crates/nu-command/tests/commands/last.rs
Labels: needs-design, semantics, breaking-change, needs-core-team-attention

#9594 Fix: return all headers with the same name from `http <method>`
  crates/nu-command/src/network/http/client.rs
Labels: breaking-change, networking

#9453 Command to get individual keys
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/platform/input/input_listen.rs
  crates/nu-command/src/platform/input/mod.rs
  crates/nu-command/src/platform/mod.rs
  crates/nu-std/src/lib.rs
  crates/nu-std/std/input.nu
Labels: needs-core-team-attention, new-command

#9607 Add `pwd` command to stdlib
  crates/nu-std/src/lib.rs
  crates/nu-std/std/mod.nu
Labels: std-library

#9614 improve subtyping
  crates/nu-parser/src/type_check.rs
  crates/nu-protocol/src/ty.rs
  src/tests/test_type_check.rs
Labels: type-system, release-note-mention

#9611 test-runner: Add option to exclude single test and module
  crates/nu-std/std/testing.nu
Labels: std-library

#9404 REFACTOR: move the 0% commands to `nu-cmd-extra`
  Cargo.lock
  crates/nu-cmd-base/Cargo.toml
  crates/nu-cmd-base/src/formats/mod.rs
  crates/nu-cmd-base/src/formats/to/delimited.rs
  crates/nu-cmd-base/src/formats/to/mod.rs
  crates/nu-cmd-base/src/lib.rs
  crates/nu-cmd-extra/Cargo.toml
  crates/nu-cmd-extra/assets/228_themes.json
  crates/nu-cmd-extra/src/example_test.rs
  crates/nu-cmd-extra/src/extra/conversions/fmt.rs
  crates/nu-cmd-extra/src/extra/conversions/mod.rs
  crates/nu-cmd-extra/src/extra/filters/each_while.rs
  crates/nu-cmd-extra/src/extra/filters/mod.rs
  crates/nu-cmd-extra/src/extra/filters/roll/mod.rs
  crates/nu-cmd-extra/src/extra/filters/roll/roll_.rs
  crates/nu-cmd-extra/src/extra/filters/roll/roll_down.rs
  crates/nu-cmd-extra/src/extra/filters/roll/roll_left.rs
  crates/nu-cmd-extra/src/extra/filters/roll/roll_right.rs
  crates/nu-cmd-extra/src/extra/filters/roll/roll_up.rs
  crates/nu-cmd-extra/src/extra/filters/rotate.rs
  crates/nu-cmd-extra/src/extra/filters/update_cells.rs
  crates/nu-cmd-extra/src/extra/formats/from/mod.rs
  crates/nu-cmd-extra/src/extra/formats/from/url.rs
  crates/nu-cmd-extra/src/extra/formats/mod.rs
  crates/nu-cmd-extra/src/extra/formats/to/html.rs
  crates/nu-cmd-extra/src/extra/formats/to/mod.rs
  crates/nu-cmd-extra/src/extra/mod.rs
  crates/nu-cmd-extra/src/extra/platform/ansi/gradient.rs
  crates/nu-cmd-extra/src/extra/platform/ansi/link.rs
  crates/nu-cmd-extra/src/extra/platform/ansi/mod.rs
  crates/nu-cmd-extra/src/extra/platform/mod.rs
  crates/nu-cmd-extra/src/extra/strings/encode_decode/decode_hex.rs
  crates/nu-cmd-extra/src/extra/strings/encode_decode/encode_hex.rs
  crates/nu-cmd-extra/src/extra/strings/encode_decode/hex.rs
  crates/nu-cmd-extra/src/extra/strings/encode_decode/mod.rs
  crates/nu-cmd-extra/src/extra/strings/format/command.rs
  crates/nu-cmd-extra/src/extra/strings/format/filesize.rs
  crates/nu-cmd-extra/src/extra/strings/format/mod.rs
  crates/nu-cmd-extra/src/extra/strings/mod.rs
  crates/nu-command/Cargo.toml
  crates/nu-command/src/conversions/mod.rs
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/filters/mod.rs
  crates/nu-command/src/formats/from/mod.rs
  crates/nu-command/src/formats/to/delimited.rs
  crates/nu-command/src/formats/to/md.rs
  crates/nu-command/src/formats/to/mod.rs
  crates/nu-command/src/platform/ansi/mod.rs
  crates/nu-command/src/platform/mod.rs
  crates/nu-command/src/strings/encode_decode/mod.rs
  crates/nu-command/src/strings/format/mod.rs
  crates/nu-command/src/strings/mod.rs
  crates/nu-command/tests/commands/each.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-command/tests/format_conversions/mod.rs
  src/tests/test_engine.rs
Labels: breaking-change, needs-core-team-attention, cratification

#9613 allow tables to have annotations
  crates/nu-cmd-dataframe/src/dataframe/eager/drop_duplicates.rs
  crates/nu-cmd-dataframe/src/dataframe/eager/drop_nulls.rs
  crates/nu-cmd-dataframe/src/dataframe/eager/melt.rs
  crates/nu-cmd-dataframe/src/dataframe/eager/summary.rs
  crates/nu-cmd-extra/src/extra/bytes/index_of.rs
  crates/nu-cmd-extra/src/extra/filters/update_cells.rs
  crates/nu-command/src/conversions/into/decimal.rs
  crates/nu-command/src/conversions/into/duration.rs
  crates/nu-command/src/path/basename.rs
  crates/nu-command/src/path/dirname.rs
  crates/nu-command/src/path/exists.rs
  crates/nu-command/src/path/expand.rs
  crates/nu-command/src/path/join.rs
  crates/nu-command/src/path/parse.rs
  crates/nu-command/src/path/relative_to.rs
  crates/nu-command/src/path/split.rs
  crates/nu-command/src/path/type.rs
  crates/nu-command/src/strings/str_/contains.rs
  crates/nu-command/src/strings/str_/distance.rs
  crates/nu-parser/src/parser.rs
  crates/nu-parser/src/type_check.rs
  crates/nu-protocol/src/syntax_shape.rs
  crates/nu-protocol/src/ty.rs
  crates/nu_plugin_query/src/nu/mod.rs
  src/tests/test_signatures.rs
Labels: type-system, breaking-change, release-note-mention

#9628 test-runner: add configurable threading
  crates/nu-std/std/testing.nu
Labels: std-library

#9647 cratification: start moving over the math commands to nu-cmd-extra
  crates/nu-cmd-extra/src/extra/math/arccos.rs
  crates/nu-cmd-extra/src/extra/math/arccosh.rs
  crates/nu-cmd-extra/src/extra/math/arcsin.rs
  crates/nu-cmd-extra/src/extra/math/arcsinh.rs
  crates/nu-cmd-extra/src/extra/math/arctan.rs
  crates/nu-cmd-extra/src/extra/math/arctanh.rs
  crates/nu-cmd-extra/src/extra/math/mod.rs
  crates/nu-cmd-extra/src/extra/mod.rs
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/math/mod.rs
Labels: breaking-change, cratification

#9657 cratification: part II of the math commands to nu-cmd-extra
  crates/nu-cmd-extra/src/example_test.rs
  crates/nu-cmd-extra/src/extra/math/cos.rs
  crates/nu-cmd-extra/src/extra/math/cosh.rs
  crates/nu-cmd-extra/src/extra/math/egamma.rs
  crates/nu-cmd-extra/src/extra/math/mod.rs
  crates/nu-cmd-extra/src/extra/math/phi.rs
  crates/nu-cmd-extra/src/extra/math/pi.rs
  crates/nu-cmd-extra/src/extra/math/sin.rs
  crates/nu-cmd-extra/src/extra/math/sinh.rs
  crates/nu-cmd-extra/src/extra/math/tan.rs
  crates/nu-cmd-extra/src/extra/math/tanh.rs
  crates/nu-cmd-extra/src/extra/math/tau.rs
  crates/nu-cmd-extra/src/extra/mod.rs
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/example_test.rs
  crates/nu-command/src/math/mod.rs
Labels: breaking-change, cratification

#9677 Remove broken compile-time overload system
  crates/nu-cli/src/eval_file.rs
  crates/nu-engine/src/scope.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
  crates/nu-parser/tests/test_parser.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/overlay.rs
Labels: breaking-change

#9687 Refactor path commands
  crates/nu-command/src/path/basename.rs
  crates/nu-command/src/path/dirname.rs
  crates/nu-command/src/path/exists.rs
  crates/nu-command/src/path/expand.rs
  crates/nu-command/src/path/join.rs
  crates/nu-command/src/path/mod.rs
  crates/nu-command/src/path/parse.rs
  crates/nu-command/src/path/relative_to.rs
  crates/nu-command/src/path/split.rs
  crates/nu-command/src/path/type.rs
  crates/nu-command/tests/commands/path/join.rs
  crates/nu-command/tests/commands/path/parse.rs
  crates/nu-command/tests/commands/path/split.rs
  crates/nu-protocol/src/value/mod.rs
Labels: breaking-change

#9676 sync default config / env with default behaviour without any configuration
  crates/nu-command/tests/commands/table.rs
  crates/nu-protocol/src/config.rs
  crates/nu-utils/src/sample_config/default_config.nu
  crates/nu-utils/src/sample_config/default_env.nu
Labels: needs-design, configuration, needs-core-team-attention

#9704 fix removing symlinks on windows
  crates/nu-command/src/filesystem/rm.rs
  crates/nu-command/tests/commands/rm.rs
Labels: file-system, windows

#9754 Fix capture logic for inner closures
  crates/nu-parser/src/parser.rs
  src/tests/test_parser.rs
Labels: scoping/name-resolution

#9755 add `any -> record` to `metadata`
  crates/nu-command/src/debug/metadata.rs
Labels: type-system

#9646 change the output of `which` to be more explicit
  crates/nu-command/src/system/which_.rs
  crates/nu-command/tests/commands/which.rs
Labels: breaking-change, release-note-mention

#9775 add `table -> table` to `into datetime`
  crates/nu-command/src/conversions/into/datetime.rs
  crates/nu-command/tests/commands/into_datetime.rs
  crates/nu-command/tests/commands/mod.rs
Labels: type-system

#9741 Add explicit input types for vectorized `into int` form
  crates/nu-command/src/conversions/into/int.rs
Labels: type-system

#9742 Use explicit in/out list types for vectorized commands
  crates/nu-cmd-extra/src/extra/bits/not.rs
  crates/nu-cmd-extra/src/extra/bytes/add.rs
  crates/nu-cmd-extra/src/extra/bytes/at.rs
  crates/nu-cmd-extra/src/extra/math/arccos.rs
  crates/nu-cmd-extra/src/extra/math/arccosh.rs
  crates/nu-cmd-extra/src/extra/math/arcsin.rs
  crates/nu-cmd-extra/src/extra/math/arcsinh.rs
  crates/nu-cmd-extra/src/extra/math/arctan.rs
  crates/nu-cmd-extra/src/extra/math/arctanh.rs
  crates/nu-cmd-extra/src/extra/math/cosh.rs
  crates/nu-cmd-extra/src/extra/math/exp.rs
  crates/nu-cmd-extra/src/extra/math/ln.rs
  crates/nu-cmd-extra/src/extra/math/sinh.rs
  crates/nu-cmd-extra/src/extra/math/tanh.rs
  crates/nu-cmd-extra/src/extra/platform/ansi/gradient.rs
  crates/nu-cmd-extra/src/extra/strings/encode_decode/decode_hex.rs
  crates/nu-cmd-extra/src/extra/strings/encode_decode/encode_hex.rs
  crates/nu-command/src/conversions/fill.rs
  crates/nu-command/src/conversions/into/filesize.rs
  crates/nu-command/src/math/round.rs
  crates/nu-command/src/strings/encode_decode/decode_base64.rs
  crates/nu-command/src/strings/encode_decode/encode_base64.rs
  crates/nu-command/src/strings/str_/case/camel_case.rs
  crates/nu-command/src/strings/str_/case/capitalize.rs
  crates/nu-command/src/strings/str_/case/downcase.rs
  crates/nu-command/src/strings/str_/case/kebab_case.rs
  crates/nu-command/src/strings/str_/case/pascal_case.rs
  crates/nu-command/src/strings/str_/case/screaming_snake_case.rs
  crates/nu-command/src/strings/str_/case/snake_case.rs
  crates/nu-command/src/strings/str_/case/title_case.rs
  crates/nu-command/src/strings/str_/case/upcase.rs
  crates/nu-command/src/strings/str_/contains.rs
  crates/nu-command/src/strings/str_/ends_with.rs
  crates/nu-command/src/strings/str_/expand.rs
  crates/nu-command/src/strings/str_/index_of.rs
  crates/nu-command/src/strings/str_/replace.rs
  crates/nu-command/src/strings/str_/starts_with.rs
  crates/nu-command/src/strings/str_/substring.rs
Labels: type-system

#9739 Fix output signature of `split chars`/`words`
  crates/nu-command/src/strings/split/chars.rs
  crates/nu-command/src/strings/split/words.rs
Labels: type-system, breaking-change

#9778 Adjust signatures for cellpath access of tables
  crates/nu-cmd-extra/src/extra/bits/into.rs
  crates/nu-cmd-extra/src/extra/bytes/add.rs
  crates/nu-cmd-extra/src/extra/bytes/at.rs
  crates/nu-cmd-extra/src/extra/bytes/ends_with.rs
  crates/nu-cmd-extra/src/extra/bytes/length.rs
  crates/nu-cmd-extra/src/extra/bytes/reverse.rs
  crates/nu-cmd-extra/src/extra/bytes/starts_with.rs
  crates/nu-cmd-extra/src/extra/strings/encode_decode/decode_hex.rs
  crates/nu-cmd-extra/src/extra/strings/encode_decode/encode_hex.rs
  crates/nu-cmd-extra/src/extra/strings/format/filesize.rs
  crates/nu-command/src/conversions/into/binary.rs
  crates/nu-command/src/conversions/into/bool.rs
  crates/nu-command/src/conversions/into/string.rs
  crates/nu-command/src/hash/generic_digest.rs
  crates/nu-command/src/network/url/encode.rs
  crates/nu-command/src/network/url/parse.rs
  crates/nu-command/src/platform/ansi/strip.rs
  crates/nu-command/src/strings/encode_decode/decode_base64.rs
  crates/nu-command/src/strings/encode_decode/encode_base64.rs
  crates/nu-command/src/strings/str_/ends_with.rs
  crates/nu-command/src/strings/str_/index_of.rs
  crates/nu-command/src/strings/str_/length.rs
  crates/nu-command/src/strings/str_/reverse.rs
  crates/nu-command/src/strings/str_/starts_with.rs
Labels: type-system

#9816 Set the rest variable to the correct type
  crates/nu-parser/src/parser.rs
  src/tests/test_parser.rs
Labels: parser, type-system

#9793 Fix signatures for cellpath access of records
  crates/nu-cmd-extra/src/extra/bits/into.rs
  crates/nu-cmd-extra/src/extra/bytes/add.rs
  crates/nu-cmd-extra/src/extra/bytes/at.rs
  crates/nu-cmd-extra/src/extra/bytes/ends_with.rs
  crates/nu-cmd-extra/src/extra/bytes/index_of.rs
  crates/nu-cmd-extra/src/extra/bytes/length.rs
  crates/nu-cmd-extra/src/extra/bytes/remove.rs
  crates/nu-cmd-extra/src/extra/bytes/replace.rs
  crates/nu-cmd-extra/src/extra/bytes/reverse.rs
  crates/nu-cmd-extra/src/extra/bytes/starts_with.rs
  crates/nu-cmd-extra/src/extra/platform/ansi/gradient.rs
  crates/nu-cmd-extra/src/extra/strings/encode_decode/decode_hex.rs
  crates/nu-cmd-extra/src/extra/strings/encode_decode/encode_hex.rs
  crates/nu-cmd-extra/src/extra/strings/format/filesize.rs
  crates/nu-command/src/conversions/into/binary.rs
  crates/nu-command/src/conversions/into/bool.rs
  crates/nu-command/src/conversions/into/datetime.rs
  crates/nu-command/src/conversions/into/decimal.rs
  crates/nu-command/src/conversions/into/duration.rs
  crates/nu-command/src/conversions/into/filesize.rs
  crates/nu-command/src/conversions/into/int.rs
  crates/nu-command/src/conversions/into/string.rs
  crates/nu-command/src/hash/generic_digest.rs
  crates/nu-command/src/network/url/encode.rs
  crates/nu-command/src/network/url/parse.rs
  crates/nu-command/src/platform/ansi/strip.rs
  crates/nu-command/src/strings/encode_decode/decode_base64.rs
  crates/nu-command/src/strings/encode_decode/encode_base64.rs
  crates/nu-command/src/strings/str_/case/camel_case.rs
  crates/nu-command/src/strings/str_/case/capitalize.rs
  crates/nu-command/src/strings/str_/case/downcase.rs
  crates/nu-command/src/strings/str_/case/kebab_case.rs
  crates/nu-command/src/strings/str_/case/pascal_case.rs
  crates/nu-command/src/strings/str_/case/screaming_snake_case.rs
  crates/nu-command/src/strings/str_/case/snake_case.rs
  crates/nu-command/src/strings/str_/case/title_case.rs
  crates/nu-command/src/strings/str_/case/upcase.rs
  crates/nu-command/src/strings/str_/contains.rs
  crates/nu-command/src/strings/str_/distance.rs
  crates/nu-command/src/strings/str_/ends_with.rs
  crates/nu-command/src/strings/str_/index_of.rs
  crates/nu-command/src/strings/str_/length.rs
  crates/nu-command/src/strings/str_/replace.rs
  crates/nu-command/src/strings/str_/reverse.rs
  crates/nu-command/src/strings/str_/starts_with.rs
  crates/nu-command/src/strings/str_/substring.rs
  crates/nu-command/src/strings/str_/trim/trim_.rs
Labels: type-system, wait-until-after-nushell-release

#9817 add input_output_type to ansi command
  crates/nu-command/src/platform/ansi/ansi_.rs
  crates/nu-command/tests/commands/platform/ansi_.rs
Labels: type-system

#9827 Fix the implied collect type to 'any'
  crates/nu-parser/src/parser.rs
  src/tests/test_parser.rs
Labels: type-system

#9829 Fix signature of `split row`
  crates/nu-command/src/strings/split/row.rs
  crates/nu-command/tests/commands/split_row.rs
Labels: type-system

#9822 change signature of `enumerate` to `any -> table`
  crates/nu-command/src/filters/enumerate.rs
Labels: type-system

#9823 allow `print` to take data as input again
  crates/nu-cli/src/print.rs
  tests/shell/pipeline/commands/internal.rs
Labels: type-system

#9836 Narrow signature of `math ceil`/`floor`
  crates/nu-command/src/math/ceil.rs
  crates/nu-command/src/math/floor.rs
Labels: type-system

#9830 Fix `math min`/`max` signatures
  crates/nu-command/src/math/max.rs
  crates/nu-command/src/math/min.rs
Labels: type-system

#9843 Fix type signature of median
  crates/nu-command/src/math/median.rs
Labels: type-system

#9844 Fix signature for `math abs`
  crates/nu-command/src/math/abs.rs
Labels: type-system

#9847 Fix signature for `math sum`
  crates/nu-command/src/math/sum.rs
Labels: type-system

#9845 Fix `math log` signature
  crates/nu-command/src/math/log.rs
Labels: type-system

#9846 Fix signature for `math mode`
  crates/nu-command/src/math/mode.rs
Labels: type-system

#9788 Add `format duration` to replace `into duration --convert`
  crates/nu-cmd-extra/src/extra/mod.rs
  crates/nu-cmd-extra/src/extra/strings/format/duration.rs
  crates/nu-cmd-extra/src/extra/strings/format/mod.rs
  crates/nu-command/src/conversions/into/duration.rs
Labels: wait-until-after-nushell-release, breaking-change

#9771 Accept records for http subcommand headers (-H)
  crates/nu-command/src/network/http/client.rs
  crates/nu-command/tests/commands/network/http/get.rs
Labels: wait-until-after-nushell-release, release-note-mention

#9770 Replace `&Span` with `Span` since `Span` is `Copy`
  crates/nu-cli/src/commands/keybindings_list.rs
  crates/nu-cli/src/reedline_config.rs
  crates/nu-cli/src/syntax_highlight.rs
  crates/nu-cli/src/util.rs
  crates/nu-cmd-extra/src/extra/platform/ansi/gradient.rs
  crates/nu-cmd-extra/src/extra/platform/ansi/link.rs
  crates/nu-cmd-lang/src/core_commands/use_.rs
  crates/nu-command/src/debug/explain.rs
  crates/nu-command/src/debug/view_source.rs
  crates/nu-command/src/debug/view_span.rs
  crates/nu-command/src/filters/find.rs
  crates/nu-command/src/formats/to/delimited.rs
  crates/nu-command/src/formats/to/toml.rs
  crates/nu-command/src/help/help_aliases.rs
  crates/nu-command/src/math/avg.rs
  crates/nu-command/src/math/max.rs
  crates/nu-command/src/math/median.rs
  crates/nu-command/src/math/min.rs
  crates/nu-command/src/math/mode.rs
  crates/nu-command/src/math/product.rs
  crates/nu-command/src/math/stddev.rs
  crates/nu-command/src/math/sum.rs
  crates/nu-command/src/math/utils.rs
  crates/nu-command/src/math/variance.rs
  crates/nu-command/src/platform/dir_info.rs
  crates/nu-command/src/strings/char_.rs
  crates/nu-engine/src/eval.rs
  crates/nu-engine/src/scope.rs
  crates/nu-protocol/src/config.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu_plugin_gstat/src/gstat.rs
  crates/nu_plugin_gstat/src/nu/mod.rs
  crates/nu_plugin_query/src/query_json.rs
  crates/nu_plugin_query/src/query_xml.rs
Labels: wait-until-after-nushell-release

#9773 Module: support defining const and use const variables inside of function
  crates/nu-cmd-lang/src/core_commands/export_const.rs
  crates/nu-cmd-lang/src/core_commands/mod.rs
  crates/nu-cmd-lang/src/core_commands/use_.rs
  crates/nu-cmd-lang/src/default_context.rs
  crates/nu-engine/src/eval.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/ast/import_pattern.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/overlay.rs
  crates/nu-protocol/src/exportable.rs
  crates/nu-protocol/src/module.rs
  src/tests/test_modules.rs
Labels: wait-until-after-nushell-release
