Repository nushell/nushell, pull requests merged in 2023-10, with the labels that each got.

#10545 stdlib: Reduce test file parsing overhead
  crates/nu-std/std/testing.nu
Labels: tests, performance, std-library

#10551 improve assertion error messages in `std assert`
  crates/nu-std/std/assert.nu
Labels: std-library

#10519 add `to ndjson` and `to jsonl` to the standard library
  crates/nu-std/std/formats.nu
  crates/nu-std/tests/test_formats.nu
Labels: std-library, new-command

#10588 Remove cd w/ abbreviations
  Cargo.lock
  crates/nu-command/Cargo.toml
  crates/nu-command/src/filesystem/cd.rs
  crates/nu-command/src/filesystem/cd_query.rs
  crates/nu-command/src/filesystem/mod.rs
  crates/nu-command/tests/format_conversions/html.rs
  crates/nu-protocol/src/config.rs
  crates/nu-utils/src/sample_config/default_config.nu
Labels: breaking-change

#10603 Allow specifying a custom date format in std log
  crates/nu-std/std/log.nu
Labels: std-library

#10604 remove underline from std NU_LOG_FORMAT
  crates/nu-std/std/log.nu
  crates/nu-std/tests/logger_tests/test_logger_env.nu
Labels: std-library

#10342 remove `random decimal`
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/random/decimal.rs
  crates/nu-command/src/random/mod.rs
Labels: breaking-change, deprecation

#10341 remove `into decimal`
  crates/nu-command/src/conversions/into/decimal.rs
  crates/nu-command/src/conversions/into/mod.rs
  crates/nu-command/src/default_context.rs
Labels: breaking-change, deprecation

#10678 rename nushell's cp command to cp-old making coreutils the default cp
  Cargo.lock
  Cargo.toml
  crates/nu-command/src/filesystem/cp.rs
  crates/nu-command/src/filesystem/ucp.rs
  crates/nu-command/tests/commands/cp.rs
  crates/nu-command/tests/commands/ucp.rs
Labels: deprecation, coreutils-uutils

#10686 add Ellie to the standard library
  crates/nu-std/std/mod.nu
Labels: delight, std-library, new-command

#9740 Fix output types of `math` commands to be narrower
  crates/nu-command/src/math/sqrt.rs
Labels: type-system

#10672 Update `polars` to `0.33`
  Cargo.lock
  crates/nu-cmd-dataframe/Cargo.toml
  crates/nu-cmd-dataframe/src/dataframe/eager/sql_context.rs
  crates/nu-cmd-dataframe/src/dataframe/lazy/groupby.rs
  crates/nu-cmd-dataframe/src/dataframe/series/date/as_datetime.rs
  crates/nu-cmd-dataframe/src/dataframe/series/masks/is_in.rs
Labels: dataframe

#10680 Use `heck` for string casing (again)
  Cargo.lock
  crates/nu-cmd-extra/Cargo.toml
  crates/nu-cmd-extra/src/extra/strings/str_/case/camel_case.rs
  crates/nu-cmd-extra/src/extra/strings/str_/case/kebab_case.rs
  crates/nu-cmd-extra/src/extra/strings/str_/case/pascal_case.rs
  crates/nu-cmd-extra/src/extra/strings/str_/case/screaming_snake_case.rs
  crates/nu-cmd-extra/src/extra/strings/str_/case/snake_case.rs
  crates/nu-cmd-extra/src/extra/strings/str_/case/title_case.rs
Labels: breaking-change

#10593 allow multiple extensions
  crates/nu-command/src/filesystem/open.rs
  crates/nu-command/tests/commands/open.rs
Labels: needs-design, file-format

#10721 Escape path that could be a flag
  crates/nu-cli/src/completions/completion_common.rs
  crates/nu-cli/tests/completions.rs
  tests/fixtures/quoted_completions/--help
  tests/fixtures/quoted_completions/-42
  tests/fixtures/quoted_completions/-inf
  tests/fixtures/quoted_completions/4.2
Labels: wait-until-after-nushell-release

#10718 remove the last mention to `let-env`
  crates/nu-std/CONTRIBUTING.md
Labels: wait-until-after-nushell-release

#10744 Refactor: simplify lex_item impl
  crates/nu-parser/src/lex.rs
Labels: wait-until-after-nushell-release

#10735 Refactor: remove duplicate code to simplify `lite_parsing` logic.
  crates/nu-parser/src/lite_parser.rs
Labels: wait-until-after-nushell-release

#10737 Add `--ignore-error` to reject
  crates/nu-command/src/filters/reject.rs
  crates/nu-command/tests/commands/reject.rs
Labels: wait-until-after-nushell-release

#10716 deprecate `extern-wrapped` and `export extern-wrapped`
  crates/nu-cmd-lang/src/core_commands/export_extern_wrapped.rs
  crates/nu-cmd-lang/src/core_commands/extern_wrapped.rs
Labels: wait-until-after-nushell-release, release-note-mention, deprecation

#10715 deprecate `def-env` and `export def-env`
  crates/nu-cmd-lang/src/core_commands/def_env.rs
  crates/nu-cmd-lang/src/core_commands/export_def_env.rs
Labels: wait-until-after-nushell-release, release-note-mention, deprecation

#10709 Extract common logic for setting error in `parse_short_flags`
  crates/nu-parser/src/parser.rs
Labels: parser

#10770 rename `unfold` to `generate`
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/generators/generate.rs
  crates/nu-command/src/generators/mod.rs
  crates/nu-command/tests/commands/generate.rs
  crates/nu-command/tests/commands/mod.rs
Labels: breaking-change

#10668 Remove `to xml --pretty`
  crates/nu-command/src/formats/to/xml.rs
Labels: wait-until-after-nushell-release, breaking-change, release-note-mention, deprecation

#10771 add `unfold` back with a deprecation warning
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/generators/mod.rs
  crates/nu-command/src/generators/unfold.rs
  crates/nu-command/tests/commands/unfold.rs
Labels: deprecation

#10778 Spell out our platform support policy
  PLATFORM_SUPPORT.md
  README.md
Labels: documentation, build-package

#10687 add `toolkit run` to run a Nushell revision
  toolkit.nu
Labels: wait-until-after-nushell-release, toolkit

#10798 Deprecate `size` to `str stats`
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/strings/size.rs
  crates/nu-command/src/strings/str_/mod.rs
  crates/nu-command/src/strings/str_/stats.rs
Labels: deprecation

#10807 Finish removing `profile` command and related data
  crates/nu-cmd-extra/src/extra/formats/to/html.rs
  crates/nu-command/src/debug/metadata.rs
  crates/nu-command/src/debug/mod.rs
  crates/nu-command/src/debug/profile.rs
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/filesystem/ls.rs
  crates/nu-command/src/filters/uniq.rs
  crates/nu-command/src/viewers/table.rs
  crates/nu-explore/src/nu_common/value.rs
  crates/nu-protocol/src/pipeline_data.rs
Labels: breaking-change

#10728 Make debug info lazy
  crates/nu-command/src/debug/info.rs
  crates/nu-command/tests/commands/debug_info.rs
  crates/nu-command/tests/commands/mod.rs
Labels: wait-until-after-nushell-release

#10824 readd update flag to cp command
  crates/nu-command/src/filesystem/ucp.rs
  crates/nu-command/tests/commands/cp.rs
Labels: coreutils-uutils

#10277 sync `$env.config.filesize.metric`
  crates/nu-utils/src/sample_config/default_config.nu
Labels: configuration, wait-until-after-nushell-release

#10710 expand paths and split PATH in `std path add`
  crates/nu-std/std/mod.nu
  crates/nu-std/tests/test_std.nu
Labels: wait-until-after-nushell-release, std-library

#10488 implement whoami using uutils
  Cargo.lock
  crates/nu-command/Cargo.toml
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/platform/mod.rs
  crates/nu-command/src/platform/whoami.rs
Labels: wait-until-after-nushell-release, coreutils-uutils

#10848 `group-by` now returns a table instead of a record
  crates/nu-command/src/filters/group_by.rs
  crates/nu-std/std/testing.nu
Labels: enhancement

#10785 Add `umkdir` command
  Cargo.lock
  crates/nu-command/Cargo.toml
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/filesystem/mod.rs
  crates/nu-command/src/filesystem/umkdir.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-command/tests/commands/umkdir.rs
Labels: file-system, release-note-mention, coreutils-uutils
