Repository nushell/nushell, pull requests merged in 2023-09, with the labels that each got.

#10231 Make `append`/`prepend` consistent for ranges
  crates/nu-command/src/filters/append.rs
  crates/nu-command/src/filters/prepend.rs
Labels: breaking-change

#9678 move math constants to standard library
  crates/nu-cmd-extra/src/example_test.rs
  crates/nu-cmd-extra/src/extra/math/cos.rs
  crates/nu-cmd-extra/src/extra/math/egamma.rs
  crates/nu-cmd-extra/src/extra/math/euler.rs
  crates/nu-cmd-extra/src/extra/math/ln.rs
  crates/nu-cmd-extra/src/extra/math/mod.rs
  crates/nu-cmd-extra/src/extra/math/phi.rs
  crates/nu-cmd-extra/src/extra/math/pi.rs
  crates/nu-cmd-extra/src/extra/math/sin.rs
  crates/nu-cmd-extra/src/extra/math/tan.rs
  crates/nu-cmd-extra/src/extra/math/tanh.rs
  crates/nu-cmd-extra/src/extra/math/tau.rs
  crates/nu-cmd-extra/src/extra/mod.rs
  crates/nu-std/src/lib.rs
  crates/nu-std/std/math.nu
Labels: breaking-change

#10254 change LOG_FORMAT to NU_LOG_FORMAT in nu-std library
  crates/nu-std/std/log.nu
  crates/nu-std/tests/logger_tests/test_logger_env.nu
Labels: breaking-change

#9929 rename the types with spaces in them to use `-`
  crates/nu-color-config/src/style_computer.rs
  crates/nu-command/src/formats/to/nuon.rs
  crates/nu-command/src/strings/str_/replace.rs
  crates/nu-command/tests/commands/table.rs
  crates/nu-engine/src/eval.rs
  crates/nu-protocol/src/syntax_shape.rs
  crates/nu-protocol/src/ty.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu-utils/src/sample_config/default_config.nu
  src/ide.rs
  src/tests/test_cell_path.rs
Labels: type-system, breaking-change

#10097 use uutils/coreutils cp command in place of nushell's cp command
  Cargo.lock
  crates/nu-command/Cargo.toml
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/filesystem/mod.rs
  crates/nu-command/src/filesystem/ucp.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-command/tests/commands/ucp.rs
  tests/fixtures/cp/dir_with_10_files/0
  tests/fixtures/cp/dir_with_10_files/1
  tests/fixtures/cp/dir_with_10_files/2
  tests/fixtures/cp/dir_with_10_files/3
  tests/fixtures/cp/dir_with_10_files/4
  tests/fixtures/cp/dir_with_10_files/5
  tests/fixtures/cp/dir_with_10_files/6
  tests/fixtures/cp/dir_with_10_files/7
  tests/fixtures/cp/dir_with_10_files/8
  tests/fixtures/cp/dir_with_10_files/9
  tests/fixtures/cp/dir_with_mount/copy_me.txt
  tests/fixtures/cp/dir_with_mount/copy_me/copy_me.txt
  tests/fixtures/cp/existing_file.txt
  tests/fixtures/cp/hello_dir/hello.txt
  tests/fixtures/cp/hello_dir_with_file/hello_world.txt
  tests/fixtures/cp/hello_world.txt
  tests/fixtures/cp/how_are_you.txt
Labels: coreutils-uutils

#10338 Change `echo` to print when not redirected
  crates/nu-cmd-lang/src/core_commands/echo.rs
  crates/nu-cmd-lang/src/core_commands/try_.rs
  crates/nu-command/tests/commands/echo.rs
  crates/nu-command/tests/commands/for_.rs
  crates/nu-command/tests/commands/loop_.rs
  crates/nu-command/tests/commands/while_.rs
  tests/const_/mod.rs
Labels: breaking-change, POSIX-expectations

#10292 Remove pythonic `int * list` behavior
  crates/nu-command/tests/commands/math/mod.rs
  crates/nu-parser/src/type_check.rs
  crates/nu-protocol/src/value/mod.rs
Labels: semantics, breaking-change, syntax

#10293 Remove python-like string multiplication
  crates/nu-command/tests/commands/math/mod.rs
  crates/nu-command/tests/commands/parse.rs
  crates/nu-parser/src/type_check.rs
  crates/nu-protocol/src/eval_const.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu-std/std/testing.nu
  tests/const_/mod.rs
Labels: semantics, breaking-change

#10333 Update internal use of `decimal` to `float`
  crates/nu-cmd-dataframe/src/dataframe/values/nu_dataframe/between_values.rs
  crates/nu-command/src/conversions/into/binary.rs
  crates/nu-command/src/conversions/into/bool.rs
  crates/nu-command/src/conversions/into/filesize.rs
  crates/nu-command/src/conversions/into/float.rs
  crates/nu-command/src/conversions/into/int.rs
  crates/nu-command/src/conversions/into/string.rs
  crates/nu-command/tests/commands/into_filesize.rs
  crates/nu-command/tests/commands/math/mod.rs
  crates/nu-command/tests/commands/str_/into_string.rs
  crates/nu-command/tests/commands/str_/mod.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/syntax_shape.rs
  crates/nu-std/std/dt.nu
  tests/shell/pipeline/commands/internal.rs
Labels: breaking-change, naming-things :bike: :hut:

#10373 fix the pretty printing of failing tests in std
  crates/nu-std/std/testing.nu
Labels: std-library

#10064 Remove `str replace --string` after deprecation
  crates/nu-command/src/strings/str_/replace.rs
Labels: wait-until-after-nushell-release, breaking-change, deprecation

#10418 allow `values` command to support `LazyRecord`s
  crates/nu-command/src/filters/values.rs
  crates/nu-command/tests/commands/insert.rs
Labels: wait-until-after-nushell-release

#10427 new command: `into value`
  Cargo.lock
  crates/nu-command/Cargo.toml
  crates/nu-command/src/conversions/into/mod.rs
  crates/nu-command/src/conversions/into/value.rs
  crates/nu-command/src/default_context.rs
Labels: wait-until-after-nushell-release

#10399 nu-table: Add table option `--abbreviated`
  crates/nu-command/src/viewers/table.rs
  crates/nu-command/tests/commands/table.rs
  crates/nu-protocol/src/config.rs
  crates/nu-utils/src/sample_config/default_config.nu
Labels: wait-until-after-nushell-release

#10355 Improve `select` row perf for large N
  crates/nu-command/src/filters/select.rs
Labels: performance

#10391 Transient prompt
  crates/nu-cli/src/prompt_update.rs
  crates/nu-cli/src/repl.rs
  crates/nu-utils/src/sample_config/default_env.nu
Labels: wait-until-after-nushell-release

#10456 differentiating between `--x` and `--x: bool`
  crates/nu-command/tests/commands/def.rs
  crates/nu-parser/src/parser.rs
  crates/nu-std/std/help.nu
  src/tests/test_custom_commands.rs
  src/tests/test_parser.rs
  toolkit.nu
Labels: needs-design, breaking-change, needs-core-team-attention

#10477 fix public boolean switches in the standard library
  crates/nu-std/std/mod.nu
Labels: std-library

#10466 std dt datetime-diff: fix uninitialized field ref when borrowing
  crates/nu-std/std/dt.nu
  crates/nu-std/tests/test_dt.nu
Labels: std-library

#10480 Command: Add `config env/nu --default` to print defaults
  crates/nu-command/src/env/config/config_env.rs
  crates/nu-command/src/env/config/config_nu.rs
  crates/nu-command/tests/commands/config_env_default.rs
  crates/nu-command/tests/commands/config_nu_default.rs
  crates/nu-command/tests/commands/mod.rs
Labels: release-note-mention

#10478 remove the `$nothing` variable
  crates/nu-command/tests/commands/do_.rs
  crates/nu-engine/src/eval.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/lib.rs
  src/tests/test_cell_path.rs
  src/tests/test_table_operations.rs
  tests/const_/mod.rs
  toolkit.nu
Labels: release-note-mention, deprecation

#10401 Add support for HTTP proxy in network commands
  crates/nu-command/src/network/http/client.rs
Labels: wait-until-after-nushell-release

#10535 Fix editor config for reedline and `config nu/env`
  Cargo.lock
  Cargo.toml
  crates/nu-cli/Cargo.toml
  crates/nu-cli/src/repl.rs
  crates/nu-cmd-base/src/util.rs
  crates/nu-command/src/env/config/config_env.rs
  crates/nu-command/src/env/config/config_nu.rs
  crates/nu-command/src/env/config/utils.rs
  crates/nu-protocol/src/config.rs
Labels: configuration, release-note-mention

#10526 Rename: change the SyntaxShape of `-c` flag from list to record
  crates/nu-command/src/filters/rename.rs
  crates/nu-command/tests/commands/rename.rs
Labels: breaking-change, release-note-mention

#10489 feat: Add unfold command
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/example_test.rs
  crates/nu-command/src/generators/mod.rs
  crates/nu-command/src/generators/unfold.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-command/tests/commands/unfold.rs
Labels: new-command
