Repository nushell/nushell, pull requests merged in 2023-11, with the labels that each got.

#10875 Disallow duplicated columns in table literals
  crates/nu-command/src/formats/from/nuon.rs
  crates/nu-command/tests/commands/reject.rs
  crates/nu-command/tests/format_conversions/nuon.rs
  crates/nu-engine/src/eval.rs
  crates/nu-protocol/src/eval_const.rs
  crates/nu-protocol/src/shell_error.rs
  src/tests/test_table_operations.rs
  tests/const_/mod.rs
Labels: breaking-change

#10913 Change `input list` to return null
  crates/nu-command/src/platform/input/list.rs
Labels: breaking-change

#10923 Refactor `error make`
  crates/nu-cmd-lang/src/core_commands/error_make.rs
  crates/nu-command/tests/commands/error_make.rs
  crates/nu-protocol/tests/test_config.rs
  crates/nu-std/std/assert.nu
  crates/nu-std/std/dirs.nu
  crates/nu-std/std/dt.nu
  crates/nu-std/std/help.nu
  crates/nu-std/std/log.nu
  crates/nu-std/std/mod.nu
  crates/nu-std/std/testing.nu
  crates/nu-std/std/xml.nu
Labels: breaking-change

#10884 Improve case insensitivity consistency
  Cargo.lock
  crates/nu-cli/src/completions/custom_completions.rs
  crates/nu-cli/src/completions/file_completions.rs
  crates/nu-cli/src/completions/variable_completions.rs
  crates/nu-cli/src/menus/help_completions.rs
  crates/nu-cli/src/reedline_config.rs
  crates/nu-cmd-dataframe/src/dataframe/eager/sql_expr.rs
  crates/nu-cmd-extra/src/extra/formats/to/html.rs
  crates/nu-color-config/src/nu_style.rs
  crates/nu-command/src/conversions/fill.rs
  crates/nu-command/src/conversions/into/bool.rs
  crates/nu-command/src/conversions/into/datetime.rs
  crates/nu-command/src/date/parser.rs
  crates/nu-command/src/filters/find.rs
  crates/nu-command/src/filters/sort.rs
  crates/nu-command/src/filters/uniq.rs
  crates/nu-command/src/generators/generate.rs
  crates/nu-command/src/generators/unfold.rs
  crates/nu-command/src/help/help_.rs
  crates/nu-command/src/help/help_commands.rs
  crates/nu-command/src/platform/input/input_listen.rs
  crates/nu-command/src/sort_utils.rs
  crates/nu-command/src/strings/encode_decode/encoding.rs
  crates/nu-command/src/strings/str_/contains.rs
  crates/nu-command/src/strings/str_/ends_with.rs
  crates/nu-command/src/strings/str_/starts_with.rs
  crates/nu-command/src/system/run_external.rs
  crates/nu-glob/src/lib.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/did_you_mean.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu-utils/Cargo.toml
  crates/nu-utils/src/casing.rs
  crates/nu-utils/src/lib.rs
  src/config_files.rs
Labels: breaking-change

#10692 Testing support tweaks: exit status in `Outcome`
  crates/nu-test-support/src/lib.rs
  crates/nu-test-support/src/macros.rs
Labels: tests

#10941 Implement LSP Text Document Synchronization
  Cargo.lock
  crates/nu-lsp/Cargo.toml
  crates/nu-lsp/src/diagnostics.rs
  crates/nu-lsp/src/lib.rs
  crates/nu-lsp/src/notification.rs
  crates/nu-protocol/src/engine/state_working_set.rs
  src/main.rs
  tests/fixtures/lsp/diagnostics/var.nu
Labels: wait-until-after-nushell-release

#11058 nu-table/ Add `-t/theme` argument && Replace `-n/start-number` with `-i/index`
  crates/nu-command/src/viewers/table.rs
  crates/nu-command/tests/commands/table.rs
  crates/nu-explore/src/nu_common/table.rs
  crates/nu-protocol/src/config/table.rs
  crates/nu-table/src/common.rs
  crates/nu-table/src/types/collapse.rs
  crates/nu-table/src/types/expanded.rs
  crates/nu-table/src/types/general.rs
  crates/nu-table/src/types/mod.rs
Labels: breaking-change

#11054 Fix #11047
  crates/nu-command/tests/commands/table.rs
  crates/nu-table/src/types/expanded.rs
Labels: wait-until-after-nushell-release

#11000 remove `extern-wrapped` and `export extern-wrapped`
  crates/nu-cmd-lang/src/core_commands/export_extern_wrapped.rs
  crates/nu-cmd-lang/src/core_commands/extern_wrapped.rs
  crates/nu-cmd-lang/src/core_commands/mod.rs
  crates/nu-cmd-lang/src/default_context.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
Labels: wait-until-after-nushell-release, breaking-change, removal-after-deprecation

#10839 remove `--not` from `glob`
  crates/nu-command/src/filesystem/glob.rs
Labels: wait-until-after-nushell-release, breaking-change, removal-after-deprecation

#10784 remove `size` command in favor of `str stats`
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/strings/mod.rs
  crates/nu-command/src/strings/size.rs
  crates/nu-command/tests/commands/random/chars.rs
  crates/nu-command/tests/commands/redirection.rs
Labels: wait-until-after-nushell-release, breaking-change, removal-after-deprecation

#10773 remove the `unfold` command
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/generators/mod.rs
  crates/nu-command/src/generators/unfold.rs
  crates/nu-command/tests/commands/unfold.rs
Labels: wait-until-after-nushell-release, breaking-change, removal-after-deprecation

#11005 Add `mktemp` command
  Cargo.lock
  crates/nu-command/Cargo.toml
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/filesystem/mktemp.rs
  crates/nu-command/src/filesystem/mod.rs
  crates/nu-command/tests/commands/mktemp.rs
  crates/nu-command/tests/commands/mod.rs
Labels: coreutils-uutils

#10999 remove `def-env` and `export def-env`
  crates/nu-cmd-lang/src/core_commands/def_env.rs
  crates/nu-cmd-lang/src/core_commands/export_def_env.rs
  crates/nu-cmd-lang/src/core_commands/mod.rs
  crates/nu-cmd-lang/src/default_context.rs
  crates/nu-cmd-lang/src/example_test.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
Labels: wait-until-after-nushell-release, breaking-change, removal-after-deprecation

#11052 Curate developer documentation in tree
  CONTRIBUTING.md
  README.md
  devdocs/FAQ.md
  devdocs/PLATFORM_SUPPORT.md
  devdocs/README.md
  devdocs/rust_style.md
Labels: documentation

#11097 deprecate `std clip`
  crates/nu-std/std/mod.nu
Labels: std-library, release-note-mention, deprecation

#11057 enable to pass switch values dynamically
  crates/nu-parser/src/parser.rs
  src/tests/test_custom_commands.rs
Labels: semantics, syntax

#11144 Spread operator in record literals
  crates/nu-cli/src/syntax_highlight.rs
  crates/nu-command/src/formats/from/nuon.rs
  crates/nu-engine/src/documentation.rs
  crates/nu-engine/src/eval.rs
  crates/nu-parser/src/flatten.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/ast/expr.rs
  crates/nu-protocol/src/ast/expression.rs
  crates/nu-protocol/src/eval_const.rs
  crates/nu-protocol/src/shell_error.rs
  src/tests/test_spread.rs
Labels: breaking-change
