Repository nushell/nushell, pull requests merged in 2023-08, with the labels that each got.

#9896 update `items` signature to allow `any` output
  crates/nu-command/src/filters/items.rs
Labels: type-system

#9902 rename from `date format` to `format date`
  crates/nu-command/src/date/format.rs
  crates/nu-command/src/date/mod.rs
  crates/nu-command/src/date/now.rs
  crates/nu-command/src/date/utils.rs
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/deprecated/format.rs
  crates/nu-command/src/deprecated/mod.rs
  crates/nu-command/src/strings/format/date.rs
  crates/nu-command/src/strings/format/mod.rs
  crates/nu-command/src/strings/mod.rs
  crates/nu-command/tests/commands/date/format.rs
  crates/nu-std/std/log.nu
  crates/nu-std/tests/logger_tests/commons.nu
  crates/nu-utils/src/sample_config/default_env.nu
  src/tests/test_type_check.rs
Labels: breaking-change

#9840 remove old deprecated commands
  crates/nu-command/src/charting/histogram.rs
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/deprecated/collect.rs
  crates/nu-command/src/deprecated/deprecated_commands.rs
  crates/nu-command/src/deprecated/hash_base64.rs
  crates/nu-command/src/deprecated/let_env.rs
  crates/nu-command/src/deprecated/lpad.rs
  crates/nu-command/src/deprecated/math_eval.rs
  crates/nu-command/src/deprecated/mod.rs
  crates/nu-command/src/deprecated/rpad.rs
  crates/nu-command/src/deprecated/str_datetime.rs
  crates/nu-command/src/deprecated/str_decimal.rs
  crates/nu-command/src/deprecated/str_find_replace.rs
  crates/nu-command/src/deprecated/str_int.rs
Labels: release-note-mention

#9927 Make `Value::columns` return slice instead of cloned Vec
  crates/nu-command/src/viewers/griddle.rs
  crates/nu-protocol/src/value/mod.rs
Labels: breaking-change

#9977 fix the signature of `input list`
  crates/nu-command/src/platform/input/list.rs
Labels: type-system

#9978 Move `format duration`/`filesize` back into core
  crates/nu-cmd-extra/src/extra/mod.rs
  crates/nu-cmd-extra/src/extra/strings/format/mod.rs
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/strings/format/duration.rs
  crates/nu-command/src/strings/format/filesize.rs
  crates/nu-command/src/strings/format/mod.rs
  crates/nu-command/src/strings/mod.rs
Labels: cratification

#10022 Make `http -f` display the request headers. Closes #9912
  crates/nu-command/src/network/http/client.rs
  crates/nu-command/src/network/http/delete.rs
  crates/nu-command/src/network/http/get.rs
  crates/nu-command/src/network/http/options.rs
  crates/nu-command/src/network/http/patch.rs
  crates/nu-command/src/network/http/post.rs
  crates/nu-command/src/network/http/put.rs
  crates/nu-command/tests/commands/network/http/get.rs
Labels: networking, release-note-mention

#10017 deprecate `--format` and `--list` in `into datetime`
  crates/nu-command/src/conversions/into/datetime.rs
Labels: deprecation

#10038 Change `str replace` to match substring by default
  crates/nu-command/src/strings/str_/replace.rs
  crates/nu-command/tests/commands/str_/mod.rs
  src/tests/test_help.rs
Labels: breaking-change

#10053 make the charpage optional for `std clip`
  crates/nu-std/std/mod.nu
Labels: breaking-change, std-library

#10067 allow `return` to return any nushell value
  crates/nu-cmd-lang/src/core_commands/return_.rs
Labels: type-system

#10091 remove `--column` from `length` command and remove `record` processing
  crates/nu-command/src/filters/length.rs
  crates/nu-command/tests/commands/first.rs
  crates/nu-command/tests/commands/last.rs
  crates/nu-command/tests/commands/length.rs
  src/tests/test_table_operations.rs
Labels: breaking-change

#10030 Add encoding auto-detection for `decode`
  Cargo.lock
  crates/nu-command/Cargo.toml
  crates/nu-command/src/strings/encode_decode/decode.rs
  crates/nu-command/src/strings/encode_decode/encoding.rs
Labels: release-note-mention

#9577 Don't use `oldtime` feature of chrono
  .github/workflows/audit.yml
  Cargo.lock
  crates/nu-command/Cargo.toml
  crates/nu-system/Cargo.toml
Labels: wait-for-upstream

#9550 Use built-in is_terminal instead of is_terminal::is_terminal
  Cargo.lock
  Cargo.toml
  crates/nu-cli/Cargo.toml
  crates/nu-cli/src/repl.rs
  crates/nu-command/Cargo.toml
  crates/nu-command/src/viewers/table.rs
  crates/nu-system/Cargo.toml
  crates/nu-system/src/foreground.rs
  src/terminal.rs
Labels: wait-for-upstream

#9966 add support for Vim motions in `explore`
  crates/nu-explore/src/pager/mod.rs
  crates/nu-explore/src/views/record/mod.rs
Labels: breaking-change

#9499 Allow parse-time evaluation of calls, pipelines and subexpressions
  crates/nu-cmd-lang/src/core_commands/describe.rs
  crates/nu-cmd-lang/src/core_commands/echo.rs
  crates/nu-cmd-lang/src/core_commands/ignore.rs
  crates/nu-cmd-lang/src/core_commands/version.rs
  crates/nu-command/src/path/basename.rs
  crates/nu-command/src/path/dirname.rs
  crates/nu-command/src/path/exists.rs
  crates/nu-command/src/path/expand.rs
  crates/nu-command/src/path/join.rs
  crates/nu-command/src/path/parse.rs
  crates/nu-command/src/path/relative_to.rs
  crates/nu-command/src/path/split.rs
  crates/nu-command/src/path/type.rs
  crates/nu-command/src/strings/str_/length.rs
  crates/nu-command/tests/commands/echo.rs
  crates/nu-command/tests/commands/path/basename.rs
  crates/nu-command/tests/commands/path/dirname.rs
  crates/nu-command/tests/commands/path/exists.rs
  crates/nu-command/tests/commands/path/expand.rs
  crates/nu-command/tests/commands/path/join.rs
  crates/nu-command/tests/commands/path/mod.rs
  crates/nu-command/tests/commands/path/parse.rs
  crates/nu-command/tests/commands/path/split.rs
  crates/nu-command/tests/commands/path/type_.rs
  crates/nu-engine/src/call_ext.rs
  crates/nu-engine/src/env.rs
  crates/nu-parser/src/lib.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/engine/command.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/eval_const.rs
  crates/nu-protocol/src/lib.rs
  crates/nu-protocol/src/parse_error.rs
  crates/nu-protocol/src/shell_error.rs
  src/tests/test_engine.rs
  tests/const_/mod.rs
Labels: wait-until-after-nushell-release

#10122 Screen reader-friendly errors
  crates/nu-protocol/src/cli_error.rs
  crates/nu-protocol/src/config.rs
  crates/nu-protocol/tests/test_config.rs
  crates/nu-utils/src/sample_config/default_config.nu
Labels: accessibility

#10013 Support Termux
  crates/nu-path/Cargo.toml
  crates/nu-path/src/tilde.rs
Labels: wait-until-after-nushell-release
