Repository nushell/nushell, pull requests merged in 2023-03, with the labels that each got.

#8304 DOC: add a `README` to the standard library
  crates/nu-utils/standard_library/README.md
Labels: std-library

#8337 Fix 8244 -- store timestamps with nanosecond resolution (consistently)
  crates/nu-command/src/conversions/into/datetime.rs
  crates/nu-command/src/conversions/into/int.rs
  crates/nu-command/src/date/to_record.rs
  crates/nu-command/src/date/to_table.rs
  crates/nu-command/tests/commands/into_int.rs
  crates/nu-protocol/src/value/mod.rs
Labels: breaking-change

#8303 FEATURE: add a `path add` to the standard library
  crates/nu-utils/standard_library/std.nu
  crates/nu-utils/standard_library/tests.nu
Labels: std-library

#8368 add `dirs` command to std lib
  crates/nu-utils/standard_library/dirs.nu
  crates/nu-utils/standard_library/std.nu
  crates/nu-utils/standard_library/tests.nu
Labels: std-library

#8446 Modify reject algorithm for identical elements
  crates/nu-command/tests/commands/reject.rs
  crates/nu-protocol/src/value/mod.rs
Labels: wait-until-after-nushell-release

#8439 Fix ls behaviour when directory is empty
  crates/nu-command/src/filesystem/ls.rs
Labels: wait-until-after-nushell-release

#8405 std.nu: Rewrite assert method
  crates/nu-utils/standard_library/std.nu
Labels: std-library

#8403 Added `help externs` command
  crates/nu-cmd-lang/src/core_commands/help_externs.rs
  crates/nu-cmd-lang/src/core_commands/mod.rs
  crates/nu-cmd-lang/src/default_context.rs
  crates/nu-engine/src/scope.rs
Labels: wait-until-after-nushell-release

#8443 stdlib: add test discovery, extract test files
  crates/nu-utils/standard_library/README.md
  crates/nu-utils/standard_library/test_dirs.nu
  crates/nu-utils/standard_library/test_std.nu
  crates/nu-utils/standard_library/tests.nu
Labels: std-library

#8207 fix: fix `commandline` when called with no arguments
  Cargo.lock
  crates/nu-cli/src/repl.rs
  crates/nu-cmd-lang/Cargo.toml
  crates/nu-cmd-lang/src/core_commands/commandline.rs
  crates/nu-protocol/src/engine/engine_state.rs
  src/test_bins.rs
  src/tests.rs
  src/tests/test_commandline.rs
  tests/hooks/mod.rs
Labels: wait-until-after-nushell-release

#8373 enable error reporting from enable_vt_processing
  crates/nu-utils/src/utils.rs
Labels: wait-until-after-nushell-release

#8398 Additional flags for commands `from csv` and `from tsv`
  crates/nu-command/src/formats/from/csv.rs
  crates/nu-command/src/formats/from/delimited.rs
  crates/nu-command/src/formats/from/tsv.rs
  crates/nu-command/tests/format_conversions/csv.rs
  crates/nu-command/tests/format_conversions/tsv.rs
  crates/nu-protocol/src/value/mod.rs
Labels: wait-until-after-nushell-release

#8292 Disable pipeline echo
  crates/nu-command/tests/commands/for_.rs
  crates/nu-command/tests/commands/loop_.rs
  crates/nu-command/tests/commands/open.rs
  crates/nu-command/tests/commands/try_.rs
  crates/nu-command/tests/commands/while_.rs
  crates/nu-command/tests/commands/with_env.rs
  crates/nu-engine/src/eval.rs
  crates/nu-protocol/src/pipeline_data.rs
  crates/nu-protocol/src/value/stream.rs
  tests/fixtures/formats/script_multiline.nu
  tests/shell/pipeline/commands/internal.rs
Labels: wait-until-after-nushell-release, breaking-change

#8310 Allow NU_LIBS_DIR and friends to be const
  crates/nu-cli/src/completions/custom_completions.rs
  crates/nu-cmd-lang/src/core_commands/overlay/use_.rs
  crates/nu-cmd-lang/src/core_commands/use_.rs
  crates/nu-command/src/deprecated/source.rs
  crates/nu-command/src/env/source_env.rs
  crates/nu-command/src/system/nu_check.rs
  crates/nu-engine/src/call_ext.rs
  crates/nu-engine/src/env.rs
  crates/nu-engine/src/eval.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/ast/call.rs
  tests/shell/mod.rs
Labels: wait-until-after-nushell-release

#8290 Restrict closure expression to be something like `{|| ...}`
  crates/nu-cmd-lang/src/core_commands/do_.rs
  crates/nu-cmd-lang/src/core_commands/try_.rs
  crates/nu-command/src/debug/timeit.rs
  crates/nu-command/src/filters/all.rs
  crates/nu-command/src/filters/any.rs
  crates/nu-command/src/filters/each.rs
  crates/nu-command/tests/commands/all.rs
  crates/nu-command/tests/commands/any.rs
  crates/nu-command/tests/commands/bytes/starts_with.rs
  crates/nu-command/tests/commands/empty.rs
  crates/nu-command/tests/commands/group_by.rs
  crates/nu-command/tests/commands/ls.rs
  crates/nu-command/tests/commands/update.rs
  crates/nu-command/tests/commands/upsert.rs
  crates/nu-command/tests/commands/where_.rs
  crates/nu-parser/src/errors.rs
  crates/nu-parser/src/parser.rs
  crates/nu-parser/tests/test_parser.rs
  crates/nu-utils/src/sample_config/default_config.nu
  crates/nu-utils/src/sample_config/default_env.nu
  crates/nu-utils/src/sample_config/sample_login.nu
  src/tests/test_engine.rs
  tests/hooks/mod.rs
  tests/shell/pipeline/commands/internal.rs
Labels: breaking-change

#8473 Make assert eq, assert ne consistent with ==, != operators
  crates/nu-utils/standard_library/std.nu
  crates/nu-utils/standard_library/test_std.nu
Labels: std-library

#8448 standard library: add log commands
  crates/nu-utils/standard_library/README.md
  crates/nu-utils/standard_library/std.nu
  crates/nu-utils/standard_library/test_logger.nu
  crates/nu-utils/standard_library/tests.nu
Labels: std-library

#8509 standard library: use the standard assert and fix test output
  crates/nu-utils/standard_library/test_dirs.nu
Labels: std-library

#8526 standard library: fix the readme
  crates/nu-utils/standard_library/README.md
Labels: std-library

#8515 stdlib: Implement common assert commands
  crates/nu-utils/standard_library/std.nu
  crates/nu-utils/standard_library/test_asserts.nu
  crates/nu-utils/standard_library/test_dirs.nu
  crates/nu-utils/standard_library/test_logger.nu
  crates/nu-utils/standard_library/test_std.nu
Labels: std-library

#8499 std lib: extend test runner capabilities
  crates/nu-utils/standard_library/tests.nu
Labels: std-library

#8552 FIX: expand all the `base_path`s in `std::test_dirs`
  crates/nu-utils/standard_library/test_dirs.nu
Labels: std-library

#8588 tweak logging format
  crates/nu-utils/standard_library/std.nu
  crates/nu-utils/standard_library/test_logger.nu
Labels: std-library

#8392 Decode and Encode hex
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/strings/encode_decode/decode_hex.rs
  crates/nu-command/src/strings/encode_decode/encode_hex.rs
  crates/nu-command/src/strings/encode_decode/hex.rs
  crates/nu-command/src/strings/encode_decode/mod.rs
Labels: wait-until-after-nushell-release

#8591 Make HTTP requests cancellable when trying to connect
  crates/nu-command/src/network/http/client.rs
  crates/nu-command/src/network/http/delete.rs
  crates/nu-command/src/network/http/get.rs
  crates/nu-command/src/network/http/head.rs
  crates/nu-command/src/network/http/patch.rs
  crates/nu-command/src/network/http/post.rs
  crates/nu-command/src/network/http/put.rs
  crates/nu-protocol/src/shell_error.rs
Labels: signal-cancel

#8525 standard library: bring the tests into the main CI
  .github/workflows/ci.yml
  crates/nu-utils/standard_library/tests.nu
Labels: std-library

#8626 stdlib: optimize test search and add better errors
  crates/nu-utils/standard_library/tests.nu
Labels: std-library

#8632 stdlib: Add back recursive lookup for tests
  crates/nu-utils/standard_library/tests.nu
Labels: std-library

#8660 move 'str substring' to only use ranges
  crates/nu-command/src/strings/str_/substring.rs
  crates/nu-command/tests/commands/str_/mod.rs
  src/tests/test_strings.rs
Labels: breaking-change

#8629 feature: add the standard library tests to the PR template and the toolkit
  .github/pull_request_template.md
  toolkit.nu
Labels: std-library
