Repository nushell/nushell, pull requests merged in 2023-04, with the labels that each got.

#8686 Remove `-t`/`--threads` flag from nu
  src/command.rs
  src/main.rs
Labels: breaking-change

#8705 prevent redefining fields in a record
  crates/nu-command/tests/commands/reject.rs
  crates/nu-engine/src/eval.rs
  crates/nu-protocol/src/shell_error.rs
  tests/eval/mod.rs
  tests/main.rs
Labels: breaking-change

#8710 make `bytes at` use ranges
  crates/nu-command/src/bytes/at.rs
  crates/nu-command/src/strings/str_/substring.rs
  crates/nu-command/src/util.rs
Labels: breaking-change

#8538 Allow NU_LIBS_DIR and friends to be const
  crates/nu-cli/src/completions/custom_completions.rs
  crates/nu-cmd-lang/src/core_commands/overlay/use_.rs
  crates/nu-cmd-lang/src/core_commands/use_.rs
  crates/nu-command/src/deprecated/source.rs
  crates/nu-command/src/env/source_env.rs
  crates/nu-command/src/system/nu_check.rs
  crates/nu-engine/src/call_ext.rs
  crates/nu-engine/src/env.rs
  crates/nu-engine/src/eval.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/ast/call.rs
  tests/shell/mod.rs
Labels: wait-until-after-nushell-release

#8735 Change default config to display failed LAST_EXIT_CODE
  crates/nu-utils/src/sample_config/default_env.nu
Labels: wait-until-after-nushell-release

#8713 refactor the `ansi` help page
  crates/nu-command/src/platform/ansi/ansi_.rs
Labels: wait-until-after-nushell-release

#8695 add a cross platform `clip` command to the standard library
  crates/nu-utils/standard_library/std.nu
Labels: std-library

#8437 Std xml utils
  crates/nu-utils/standard_library/std.nu
  crates/nu-utils/standard_library/test_xml.nu
Labels: std-library

#8627 stdlib: add an automatic loading of "prelude" commands
  src/run.rs
  src/tests.rs
  src/tests/test_stdlib.rs
Labels: std-library

#8724 make `str index-of -r` use ranges
  crates/nu-command/src/strings/str_/index_of.rs
Labels: wait-until-after-nushell-release, breaking-change

#8766 Stdlib: use default color for info log level
  crates/nu-utils/standard_library/std.nu
  crates/nu-utils/standard_library/test_logger.nu
Labels: std-library

#8748 stdlib: add `assert skip` command to skip test case
  crates/nu-utils/standard_library/std.nu
  crates/nu-utils/standard_library/test_asserts.nu
  crates/nu-utils/standard_library/tests.nu
Labels: std-library

#8779 Aliasing math expression shows error earlier
  crates/nu-command/tests/commands/alias.rs
  crates/nu-command/tests/commands/help.rs
  crates/nu-command/tests/commands/source_env.rs
  crates/nu-parser/src/errors.rs
  crates/nu-parser/src/parse_keywords.rs
Labels: breaking-change

#8382 range operator accepts bot..=top as well as bot..top
  Cargo.lock
  crates/nu-parser/Cargo.toml
  crates/nu-parser/src/parser.rs
  crates/nu-parser/tests/test_parser.rs
Labels: wait-until-after-nushell-release

#8707 Add regex separators for split row/list/column
  crates/nu-command/src/strings/split/column.rs
  crates/nu-command/src/strings/split/list.rs
  crates/nu-command/src/strings/split/row.rs
  crates/nu-command/tests/commands/split_column.rs
  crates/nu-command/tests/commands/split_row.rs
Labels: wait-until-after-nushell-release

#8797 Remove old alias implementation
  crates/nu-cli/src/commands.rs
  crates/nu-cli/src/completions/command_completions.rs
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/src/eval_file.rs
  crates/nu-cli/src/reedline_config.rs
  crates/nu-cli/src/repl.rs
  crates/nu-cli/src/syntax_highlight.rs
  crates/nu-cli/src/util.rs
  crates/nu-cli/src/validation.rs
  crates/nu-cli/tests/completions.rs
  crates/nu-cli/tests/support/completions_helpers.rs
  crates/nu-cmd-lang/src/core_commands/help_aliases.rs
  crates/nu-cmd-lang/src/core_commands/help_modules.rs
  crates/nu-cmd-lang/src/example_support.rs
  crates/nu-command/src/dataframe/test_dataframe.rs
  crates/nu-command/src/debug/ast.rs
  crates/nu-command/src/debug/view_source.rs
  crates/nu-command/src/formats/from/nuon.rs
  crates/nu-command/src/hook.rs
  crates/nu-command/src/strings/format/command.rs
  crates/nu-command/src/system/nu_check.rs
  crates/nu-command/src/system/which_.rs
  crates/nu-command/tests/main.rs
  crates/nu-engine/src/scope.rs
  crates/nu-explore/src/nu_common/command.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parse_patterns.rs
  crates/nu-parser/src/parser.rs
  crates/nu-parser/tests/test_parser.rs
  crates/nu-parser/tests/test_parser_unicode_escapes.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/overlay.rs
  crates/nu-protocol/src/exportable.rs
  crates/nu-protocol/src/id.rs
  crates/nu-protocol/src/module.rs
  src/command.rs
  src/ide.rs
  src/run.rs
  src/test_bins.rs
Labels: breaking-change

#8811 stdlib: use the loaded library in tests and update `README`
  crates/nu-std/README.md
  crates/nu-std/test_asserts.nu
  crates/nu-std/test_dirs.nu
  crates/nu-std/test_logger.nu
  crates/nu-std/test_std.nu
  crates/nu-std/test_xml.nu
  crates/nu-std/tests.nu
Labels: std-library

#8815 stdlib: refactor into a multi-module library
  .github/pull_request_template.md
  .github/workflows/ci.yml
  crates/nu-std/examples.nu
  crates/nu-std/lib/assert.nu
  crates/nu-std/lib/dirs.nu
  crates/nu-std/lib/help.nu
  crates/nu-std/lib/log.nu
  crates/nu-std/lib/mod.nu
  crates/nu-std/lib/xml.nu
  crates/nu-std/src/lib.rs
  crates/nu-std/tests/run.nu
  crates/nu-std/tests/test_asserts.nu
  crates/nu-std/tests/test_dirs.nu
  crates/nu-std/tests/test_logger.nu
  crates/nu-std/tests/test_std.nu
  crates/nu-std/tests/test_xml.nu
  toolkit.nu
Labels: std-library

#8799 stdlib: add completion to `help` commands
  crates/nu-std/lib/help.nu
Labels: std-library

#8841 stdlib: make helper modules available in std
  crates/nu-std/src/lib.rs
Labels: std-library

#8850 Move unit test runner to standard library
  .github/workflows/ci.yml
  crates/nu-std/README.md
  crates/nu-std/lib/assert.nu
  crates/nu-std/lib/mod.nu
  crates/nu-std/lib/testing.nu
  crates/nu-std/src/lib.rs
  crates/nu-std/tests/run.nu
  crates/nu-std/tests/test_logger.nu
  toolkit.nu
Labels: tests, std-library

#8877 std: remove logging example
  crates/nu-std/examples.nu
Labels: std-library

#8887 Change `NU_LIB_DIRS` not to depend on `$nu.config-path`
  crates/nu-cli/tests/completions.rs
  crates/nu-engine/src/nu_variable.rs
  crates/nu-utils/src/sample_config/default_env.nu
Labels: breaking-change

#8610 `update` command: make `$in`(in closure body) takes cell path
  crates/nu-command/src/filters/update.rs
Labels: breaking-change

#8894 Replace #8824: CONTRIBUTING.md for standard library
  crates/nu-std/CONTRIBUTING.md
  crates/nu-std/README.md
  crates/nu-std/src/lib.rs
Labels: documentation, std-library

#8899 add `iter` module to standard library
  crates/nu-std/lib/iter.nu
  crates/nu-std/lib/mod.nu
  crates/nu-std/src/lib.rs
  crates/nu-std/tests/test_iter.nu
Labels: std-library

#8912 refactor the `CONTRIBUTING.md` guidelines for `nu-std`
  crates/nu-std/CONTRIBUTING.md
  crates/nu-std/README.md
Labels: documentation, std-library

#8917 Set env in exec command
  crates/nu-command/src/system/exec.rs
  crates/nu-command/src/system/run_external.rs
Labels: breaking-change

#8898 stdlib: fix the `clip` command with integer values
  crates/nu-std/lib/mod.nu
Labels: :bug: bug, std-library

#8895 `std run-tests`: Rename --command switch to --test; and likewise in --list output
  crates/nu-std/lib/testing.nu
Labels: std-library

#8952 using ratatui instead of tui
  Cargo.lock
  crates/nu-explore/Cargo.toml
  crates/nu-explore/src/commands/config_show.rs
  crates/nu-explore/src/commands/help.rs
  crates/nu-explore/src/commands/nu.rs
  crates/nu-explore/src/pager/command_bar.rs
  crates/nu-explore/src/pager/mod.rs
  crates/nu-explore/src/pager/status_bar.rs
  crates/nu-explore/src/views/coloredtextw.rs
  crates/nu-explore/src/views/configuration.rs
  crates/nu-explore/src/views/information.rs
  crates/nu-explore/src/views/interactive.rs
  crates/nu-explore/src/views/mod.rs
  crates/nu-explore/src/views/preview.rs
  crates/nu-explore/src/views/record/mod.rs
  crates/nu-explore/src/views/record/tablew.rs
  crates/nu-explore/src/views/util.rs
Labels: wait-until-after-nushell-release

#8962 update `ast` to support output to json
  Cargo.lock
  crates/nu-command/Cargo.toml
  crates/nu-command/src/debug/ast.rs
  crates/nu-protocol/src/ast/block.rs
  crates/nu-protocol/src/ast/pipeline.rs
  crates/nu-protocol/src/parse_error.rs
Labels: wait-until-after-nushell-release

#8914 allow records to have type annotations
  crates/nu-cmd-lang/src/core_commands/error_make.rs
  crates/nu-command/src/env/load_env.rs
  crates/nu-parser/src/parser.rs
  crates/nu-parser/src/type_check.rs
  crates/nu-protocol/src/syntax_shape.rs
  crates/nu-protocol/src/ty.rs
  src/tests/test_engine.rs
  src/tests/test_signatures.rs
Labels: type-system, wait-until-after-nushell-release

#8940 Change type of parameter default values to `Option<Value>`
  crates/nu-engine/src/eval.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/parse_error.rs
  crates/nu-protocol/src/signature.rs
  src/tests/test_engine.rs
Labels: wait-until-after-nushell-release, breaking-change

#9007 Fix unexpected flattening of data by par-each (Issue #8497)
  crates/nu-command/src/filters/par_each.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-command/tests/commands/par_each.rs
Labels: breaking-change

#8969 FEATURE: add the `bench` command to the standard library
  crates/nu-std/lib/mod.nu
Labels: std-library

#8970 FEATURE: add `--expand` to `std clip`
  crates/nu-std/lib/mod.nu
Labels: std-library

#9034 FIX: give same order in `std help ...` as in `help ...`
  crates/nu-std/lib/help.nu
Labels: std-library

#9035 FIX: filter the `std help ...` by name, usage and search terms
  crates/nu-std/lib/help.nu
Labels: std-library

#9033 REFACTOR: have a single `std` loading call
  src/main.rs
  src/run.rs
Labels: std-library
