Repository nushell/nushell, pull requests merged in 2023-02, with the labels that each got.

#7895 Fix: dst error on cp command
  crates/nu-command/src/filesystem/cp.rs
  crates/nu-command/tests/commands/cp.rs
  crates/nu-test-support/src/fs.rs
  crates/nu-test-support/src/playground/play.rs
Labels: wait-until-after-nushell-release

#7415 ensure that when nu evaluates files, it allows early returns
  crates/nu-cli/src/config_files.rs
  crates/nu-cli/src/eval_file.rs
  crates/nu-cli/src/repl.rs
  crates/nu-cli/src/util.rs
  crates/nu-command/src/deprecated/source.rs
  crates/nu-command/src/env/source_env.rs
  crates/nu-command/tests/commands/return_.rs
  crates/nu-command/tests/commands/source_env.rs
  src/config_files.rs
  tests/fixtures/formats/early_return.nu
Labels: wait-until-after-nushell-release

#7912 respect use_ansi_coloring configuration
  crates/nu-cli/src/config_files.rs
  crates/nu-cli/src/repl.rs
  crates/nu-cli/src/util.rs
  crates/nu-command/src/viewers/griddle.rs
  crates/nu-utils/src/utils.rs
  src/main.rs
Labels: wait-until-after-nushell-release

#7777 Remove deprecated `--numbered` flag from four commands
  crates/nu-command/src/core_commands/for_.rs
  crates/nu-command/src/example_test.rs
  crates/nu-command/src/filters/all.rs
  crates/nu-command/src/filters/any.rs
  crates/nu-command/src/filters/each.rs
  crates/nu-command/src/filters/each_while.rs
  crates/nu-command/src/filters/filter.rs
  crates/nu-command/src/filters/insert.rs
  crates/nu-command/src/filters/par_each.rs
  crates/nu-command/src/filters/reduce.rs
  crates/nu-command/src/filters/update.rs
  crates/nu-command/src/filters/upsert.rs
  crates/nu-command/src/filters/where_.rs
  crates/nu-command/tests/commands/all.rs
  crates/nu-command/tests/commands/any.rs
  crates/nu-command/tests/commands/each.rs
  crates/nu-command/tests/commands/insert.rs
  crates/nu-command/tests/commands/reduce.rs
  crates/nu-command/tests/commands/roll.rs
  crates/nu-command/tests/commands/update.rs
  crates/nu-command/tests/commands/upsert.rs
  crates/nu-command/tests/commands/where_.rs
  src/tests/test_iteration.rs
  src/tests/test_parser.rs
Labels: wait-until-after-nushell-release, breaking-change

#7963 Load env pwd
  crates/nu-command/src/env/load_env.rs
  tests/shell/environment/env.rs
Labels: breaking-change

#7999 Windows: handle illegal filenames a little better
  crates/nu-command/src/filesystem/ls.rs
Labels: platform-specific

#7984 Make plugin commands support examples.
  crates/nu-command/src/dataframe/test_dataframe.rs
  crates/nu-command/src/formats/from/yaml.rs
  crates/nu-command/src/hash/generic_digest.rs
  crates/nu-command/src/hash/md5.rs
  crates/nu-command/src/hash/sha256.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-plugin/src/plugin/declaration.rs
  crates/nu-plugin/src/plugin/mod.rs
  crates/nu-plugin/src/protocol/mod.rs
  crates/nu-plugin/src/serializers/json.rs
  crates/nu-plugin/src/serializers/msgpack.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/example.rs
  crates/nu-protocol/src/lib.rs
  crates/nu-protocol/src/plugin_signature.rs
  crates/nu_plugin_custom_values/src/main.rs
  crates/nu_plugin_example/src/main.rs
  crates/nu_plugin_example/src/nu/mod.rs
  crates/nu_plugin_gstat/src/nu/mod.rs
  crates/nu_plugin_inc/src/nu/mod.rs
  crates/nu_plugin_query/src/nu/mod.rs
  crates/nu_plugin_query/src/query.rs
Labels: breaking-change

#7989 view span & view files commands
  crates/nu-command/src/core_commands/debug.rs
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/experimental/mod.rs
  crates/nu-command/src/experimental/view.rs
  crates/nu-command/src/experimental/view_files.rs
  crates/nu-command/src/experimental/view_source.rs
  crates/nu-command/src/experimental/view_span.rs
  crates/nu-protocol/src/signature.rs
Labels: breaking-change

#8014 Filesystem commands print --verbose to stderr
  crates/nu-command/src/filesystem/cp.rs
  crates/nu-command/src/filesystem/mkdir.rs
  crates/nu-command/src/filesystem/mv.rs
  crates/nu-command/src/filesystem/rm.rs
  crates/nu-command/tests/commands/mkdir.rs
  crates/nu-protocol/src/pipeline_data.rs
Labels: breaking-change

#7846 A `fill` command to replace `str lpad` and `str rpad`
  Cargo.lock
  crates/nu-command/Cargo.toml
  crates/nu-command/src/conversions/fill.rs
  crates/nu-command/src/conversions/mod.rs
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/deprecated/deprecated_commands.rs
  crates/nu-command/src/deprecated/lpad.rs
  crates/nu-command/src/deprecated/mod.rs
  crates/nu-command/src/deprecated/rpad.rs
  crates/nu-command/src/strings/str_/lpad.rs
  crates/nu-command/src/strings/str_/mod.rs
  crates/nu-command/src/strings/str_/rpad.rs
  src/tests/test_parser.rs
Labels: breaking-change

#8020 Check ctrl+c when collecting a RawStream
  crates/nu-protocol/src/value/stream.rs
Labels: signal-cancel

#8018 rename benchmark to time
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/system/mod.rs
  crates/nu-command/src/system/timeit.rs
  tests/shell/pipeline/commands/external.rs
Labels: breaking-change

#8088 Factorize HTTP commands code
  crates/nu-command/src/network/http/client.rs
  crates/nu-command/src/network/http/get.rs
  crates/nu-command/src/network/http/post.rs
Labels: breaking-change

#8154 Update polars to 0.27.2
  Cargo.lock
  crates/nu-command/Cargo.toml
  crates/nu-command/src/dataframe/eager/dummies.rs
  crates/nu-command/src/dataframe/eager/open.rs
  crates/nu-command/src/dataframe/eager/sql_context.rs
  crates/nu-command/src/dataframe/series/arg_max.rs
  crates/nu-command/src/dataframe/series/arg_min.rs
  crates/nu-command/src/dataframe/series/date/as_datetime.rs
  crates/nu-command/src/dataframe/series/indexes/arg_sort.rs
Labels: wait-until-after-nushell-release

#8149 simplify `parse_expression` function code.
  crates/nu-parser/src/errors.rs
  crates/nu-parser/src/parser.rs
Labels: wait-until-after-nushell-release

#8070 use winget releaser action for manifest submission
  .github/workflows/winget-submission.yml
Labels: wait-until-after-nushell-release

#8135 Final rework for the HTTP commands
  crates/nu-command/src/network/http/client.rs
  crates/nu-command/src/network/http/get.rs
  crates/nu-command/src/network/http/post.rs
Labels: wait-until-after-nushell-release

#8151 fix: fix lexing of comments, such that a#b becomes a coherent Item
  crates/nu-parser/src/lex.rs
  crates/nu-parser/tests/test_lex.rs
Labels: wait-until-after-nushell-release

#7925 Display empty records and lists
  crates/nu-color-config/src/style_computer.rs
  crates/nu-command/src/viewers/table.rs
  crates/nu-command/tests/commands/find.rs
  crates/nu-command/tests/commands/path/split.rs
  crates/nu-command/tests/commands/run_external.rs
  crates/nu-command/tests/commands/table.rs
  crates/nu-protocol/src/config.rs
  crates/nu-protocol/src/ty.rs
  crates/nu-utils/src/sample_config/default_config.nu
  tests/shell/pipeline/commands/internal.rs
Labels: wait-until-after-nushell-release

#8114 Dependency update: update notify version to v5
  Cargo.lock
  crates/nu-command/Cargo.toml
  crates/nu-command/src/filesystem/watch.rs
Labels: wait-until-after-nushell-release, breaking-change

#8058 pipe binary data to external commands
  crates/nu-cli/src/eval_file.rs
  crates/nu-command/src/viewers/table.rs
  crates/nu-command/tests/commands/run_external.rs
  src/main.rs
  src/test_bins.rs
Labels: breaking-change

#8094 Fixes autocomplete when using sudo
  crates/nu-cli/src/completions/command_completions.rs
  crates/nu-cli/src/completions/completer.rs
  crates/nu-protocol/src/engine/engine_state.rs
Labels: wait-until-after-nushell-release

#8056 Try to test similar things in coverage
  .github/workflows/ci.yml
Labels: help wanted

#8203 special-case ExternalStream in bytes starts-with
  crates/nu-command/src/bytes/starts_with.rs
  crates/nu-command/tests/commands/bytes/mod.rs
  crates/nu-command/tests/commands/bytes/starts_with.rs
  crates/nu-command/tests/commands/mod.rs
  src/main.rs
  src/test_bins.rs
Labels: streaming

#8205 Simplify `str trim` command
  crates/nu-command/src/strings/str_/trim/trim_.rs
Labels: breaking-change
