Repository nushell/nushell, pull requests merged in 2023-12, with the labels that each got.

#10825 feat: Add default docs for aliases, generated from the command they point to
  crates/nu-command/tests/commands/alias.rs
  crates/nu-parser/src/parse_keywords.rs
Labels: enhancement

#11278 Ensure that command usage starts uppercase and ends period
  crates/nu-cmd-dataframe/src/dataframe/expressions/expressions_macro.rs
  crates/nu-cmd-dataframe/src/dataframe/expressions/otherwise.rs
  crates/nu-cmd-dataframe/src/dataframe/lazy/fetch.rs
  crates/nu-cmd-dataframe/src/dataframe/lazy/flatten.rs
  crates/nu-cmd-dataframe/src/dataframe/lazy/macro_commands.rs
  crates/nu-cmd-dataframe/src/dataframe/lazy/sort_by_expr.rs
  crates/nu-command/src/bytes/at.rs
  crates/nu-command/src/filters/join.rs
  crates/nu-command/src/filters/split_by.rs
  crates/nu-command/src/hash/generic_digest.rs
  crates/nu-command/src/platform/input/input_listen.rs
  crates/nu-command/src/platform/is_terminal.rs
  crates/nu-command/src/removed/format.rs
  crates/nu-command/src/stor/create.rs
  crates/nu-command/src/stor/delete.rs
  crates/nu-command/src/stor/export.rs
  crates/nu-command/src/stor/import.rs
  crates/nu-command/src/stor/insert.rs
  crates/nu-command/src/stor/open.rs
  crates/nu-command/src/stor/reset.rs
  crates/nu-command/src/stor/update.rs
  crates/nu-command/tests/main.rs
Labels: wait-until-after-nushell-release

#11229 Polars Struct support without unsafe blocks
  Cargo.lock
  crates/nu-cmd-dataframe/src/dataframe/values/nu_dataframe/conversion.rs
Labels: dataframe

#11284 :recycle: Match `--ide-hover` with `help` command
  src/ide.rs
Labels: wait-until-after-nushell-release

#11324 Add ulimit command
  crates/nu-command/Cargo.toml
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/platform/mod.rs
  crates/nu-command/src/platform/ulimit.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-command/tests/commands/ulimit.rs
Labels: wait-until-after-nushell-release

#11313 Bubble up errors passed to `complete`
  crates/nu-command/src/system/complete.rs
  crates/nu-command/tests/commands/complete.rs
  crates/nu-command/tests/commands/mod.rs
Labels: breaking-change

#11330 improve completions of `use` and `overlay use`
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/src/completions/dotnu_completions.rs
  crates/nu-cli/tests/completions.rs
  tests/fixtures/completions/directory_completion/mod.nu
Labels: completions

#11367 Remove `Expr::MatchPattern`
  crates/nu-cli/src/syntax_highlight.rs
  crates/nu-command/src/formats/from/nuon.rs
  crates/nu-parser/src/flatten.rs
  crates/nu-parser/src/parse_patterns.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/ast/expr.rs
  crates/nu-protocol/src/ast/expression.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-protocol/src/syntax_shape.rs
  crates/nu-protocol/src/ty.rs
Labels: breaking-change

#11365 Deprecate `--flag: bool` in custom command
  crates/nu-cli/src/eval_cmds.rs
  crates/nu-cli/src/util.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/engine/state_working_set.rs
  crates/nu-protocol/src/lib.rs
  crates/nu-protocol/src/parse_warning.rs
  src/tests/test_custom_commands.rs
Labels: release-note-mention, deprecation

#11414 Lock out new direct construction of `Record`
  crates/nu-protocol/src/value/record.rs
Labels: breaking-change

#11329 Allow `http` commands' automatic redirect-following to be disabled
  crates/nu-command/src/network/http/client.rs
  crates/nu-command/src/network/http/delete.rs
  crates/nu-command/src/network/http/get.rs
  crates/nu-command/src/network/http/head.rs
  crates/nu-command/src/network/http/options.rs
  crates/nu-command/src/network/http/patch.rs
  crates/nu-command/src/network/http/post.rs
  crates/nu-command/src/network/http/put.rs
  crates/nu-command/tests/commands/network/http/delete.rs
  crates/nu-command/tests/commands/network/http/get.rs
  crates/nu-command/tests/commands/network/http/head.rs
  crates/nu-command/tests/commands/network/http/patch.rs
  crates/nu-command/tests/commands/network/http/post.rs
  crates/nu-command/tests/commands/network/http/put.rs
Labels: networking

#11289 Allow spreading arguments to commands
  crates/nu-cli/src/syntax_highlight.rs
  crates/nu-command/src/bytes/build_.rs
  crates/nu-command/src/debug/explain.rs
  crates/nu-command/src/system/run_external.rs
  crates/nu-command/tests/commands/def.rs
  crates/nu-command/tests/commands/exec.rs
  crates/nu-command/tests/commands/run_external.rs
  crates/nu-engine/src/call_ext.rs
  crates/nu-engine/src/eval.rs
  crates/nu-parser/src/flatten.rs
  crates/nu-parser/src/known_external.rs
  crates/nu-parser/src/parser.rs
  crates/nu-plugin/src/protocol/evaluated_call.rs
  crates/nu-protocol/src/ast/call.rs
  crates/nu-protocol/src/ast/expr.rs
  crates/nu-protocol/src/ast/expression.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-protocol/src/eval_const.rs
  crates/nu-protocol/src/parse_error.rs
  crates/nu-protocol/src/shell_error.rs
  crates/nu-test-support/src/lib.rs
  src/tests/test_known_external.rs
  src/tests/test_spread.rs
  tests/shell/pipeline/commands/external.rs
Labels: deprecation
