Repository nushell/nushell, pull requests merged in 2023-05, with the labels that each got.

#8951 Don't run .sh files with /bin/sh
  crates/nu-command/src/system/run_external.rs
Labels: wait-until-after-nushell-release

#9056 REFACTOR: remove deprecated commands (`old-alias`)
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/deprecated/deprecated_commands.rs
  crates/nu-command/src/deprecated/export_old_alias.rs
  crates/nu-command/src/deprecated/mod.rs
  crates/nu-command/src/deprecated/old_alias.rs
  crates/nu-std/lib/help.nu
Labels: breaking-change

#9040 FEATURE: return tables with `std help ... --find ...`
  crates/nu-std/lib/help.nu
Labels: std-library

#9091 FEATURE: format `std log` and add `--short` option
  crates/nu-std/lib/log.nu
  crates/nu-std/tests/test_logger.nu
Labels: polish, std-library

#9138 swap the date and the log level in the `std log` format
  crates/nu-std/lib/log.nu
Labels: std-library

#9100 REFACTOR: fix typos and simplify external `std help`
  crates/nu-std/lib/help.nu
Labels: std-library

#8406 REFACTOR: move the banner from the `rust` source to the standard library
  crates/nu-cli/src/repl.rs
  crates/nu-std/lib/dt.nu
  crates/nu-std/lib/mod.nu
  crates/nu-std/src/lib.rs
  crates/nu-std/tests/test_std.nu
  src/run.rs
  src/test_bins.rs
Labels: std-library

#9129 add more commands to `std iter`
  crates/nu-std/lib/iter.nu
  crates/nu-std/tests/test_iter.nu
Labels: std-library

#9097 chore: ✨ enable setup-git-hooks on windows
  toolkit.nu
Labels: help wanted, more information needed, windows

#9039 FIX: correct bad span in `std help` errors
  crates/nu-std/lib/help.nu
Labels: :bug: bug, std-library

#9184 fix the span of the global `std help` item
  crates/nu-std/lib/help.nu
Labels: std-library

#8415 REFACTOR: remove the shell commands
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/filesystem/cd.rs
  crates/nu-command/src/shells/enter.rs
  crates/nu-command/src/shells/exit.rs
  crates/nu-command/src/shells/g.rs
  crates/nu-command/src/shells/mod.rs
  crates/nu-command/src/shells/n.rs
  crates/nu-command/src/shells/p.rs
  crates/nu-command/src/shells/shells_.rs
  crates/nu-command/tests/commands/enter.rs
  crates/nu-command/tests/commands/g.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-command/tests/commands/n.rs
  crates/nu-command/tests/commands/p.rs
  crates/nu-command/tests/commands/shells.rs
  crates/nu-std/lib/dirs.nu
  crates/nu-std/src/lib.rs
  src/tests/test_parser.rs
Labels: wait-until-after-nushell-release, breaking-change, std-library

#9197 fix spurious 'item not found' error in `std help`
  crates/nu-std/lib/help.nu
Labels: std-library

#8784 Avoid blocking when `o+e>` redirects too much stderr message
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/src/syntax_highlight.rs
  crates/nu-command/src/formats/from/nuon.rs
  crates/nu-command/tests/commands/redirection.rs
  crates/nu-engine/src/eval.rs
  crates/nu-parser/src/flatten.rs
  crates/nu-parser/src/lite_parser.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/ast/pipeline.rs
Labels: wait-until-after-nushell-release

#9020 Change group-by to accept cell paths
  crates/nu-command/src/example_test.rs
  crates/nu-command/src/filters/group_by.rs
  crates/nu-command/src/filters/split_by.rs
  crates/nu-command/tests/commands/group_by.rs
Labels: wait-until-after-nushell-release, breaking-change

#8332 Feature: Userland LazyRecords
  crates/nu-cmd-lang/src/core_commands/lazy_make.rs
  crates/nu-cmd-lang/src/core_commands/mod.rs
  crates/nu-cmd-lang/src/default_context.rs
  crates/nu-command/src/filters/columns.rs
  crates/nu-command/src/system/sys.rs
  crates/nu-engine/src/nu_variable.rs
  crates/nu-protocol/src/value/lazy_record.rs
  crates/nu-protocol/src/value/mod.rs
Labels: wait-until-after-nushell-release

#9216 add the `no-strip` flag to the clip command
  crates/nu-std/lib/mod.nu
Labels: std-library

#9235 Added `assert not` command (assertion that the value/expression is `false`)
  crates/nu-std/lib/testing.nu
  crates/nu-std/tests/test_asserts.nu
  crates/nu-std/tests/test_logger.nu
Labels: std-library

#9193 FEATURE: fix the namespace of the standard library (not testing)
  crates/nu-std/lib/dirs.nu
  crates/nu-std/lib/help.nu
  crates/nu-std/lib/iter.nu
  crates/nu-std/lib/log.nu
  crates/nu-std/lib/mod.nu
  crates/nu-std/lib/testing.nu
  crates/nu-std/src/lib.rs
  crates/nu-std/tests/test_xml.nu
Labels: breaking-change, std-library

#9244 Make aliased call not look up predeclarations
  crates/nu-command/tests/commands/alias.rs
  crates/nu-command/tests/commands/use_.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-protocol/src/engine/engine_state.rs
Labels: breaking-change

#9231 REFACTOR: clean the root of the repo
  .github/workflows/release-pkg.nu
  Cargo.toml
  README.md
  README.release.txt
  assets/nushell-autocomplete6.gif
  build-all.nu
  coverage-local.nu
  docs/README.md
  pkg_mgrs/winget/0.17.yml
  scripts/README.md
  scripts/build-all-maclin.sh
  scripts/build-all-windows.cmd
  scripts/build-all.nu
  scripts/build.rs
  scripts/coverage-local.nu
  scripts/coverage-local.sh
  scripts/install-all.ps1
  scripts/install-all.sh
  scripts/register-plugins.nu
  scripts/uninstall-all.sh
Labels: breaking-change

#9247 allow `view-source` to read rest arguments
  crates/nu-command/src/debug/view_source.rs
Labels: breaking-change

#9252 stdlib: fix the names of the `help` commands in `help.nu`
  crates/nu-std/lib/help.nu
Labels: std-library

#9251 CI: disable `nu-coverage`
  .github/workflows/ci.yml
Labels: ci

#9286 if --no-config-file(-n) is passed, do not load config files with -c
  src/run.rs
Labels: breaking-change

#9238 feat: ✨ (stdlib) add os record support to path add
  crates/nu-std/std/mod.nu
  crates/nu-std/tests/test_std.nu
Labels: std-library

#9253 REFACTOR: build help pages instead of printing them
  crates/nu-std/std/help.nu
Labels: std-library

#9303 REFACTOR: move `run-tests` and fix the `std assert` namespace
  crates/nu-std/src/lib.rs
  crates/nu-std/std/assert.nu
  crates/nu-std/std/mod.nu
  crates/nu-std/std/testing.nu
  crates/nu-std/tests/test_dirs.nu
  crates/nu-std/tests/test_setup_teardown.nu
  crates/nu-std/tests/test_std.nu
  crates/nu-std/tests/test_xml.nu
Labels: breaking-change, std-library
