Repository nushell/nushell, pull requests merged in 2024-05, with the labels that each got.

#12701 Change environment variables to be case-preserving
  crates/nu-engine/src/eval.rs
  crates/nu-protocol/src/eval_base.rs
  tests/shell/environment/env.rs
Labels: wait-until-after-nushell-release, pr:language

#12412 Prevent `each` from swallowing errors when `eval_block` returns a `ListStream`
  crates/nu-command/src/filters/each.rs
  crates/nu-command/tests/commands/each.rs
Labels: wait-until-after-nushell-release

#12662 Path expansion no longer removes trailing slashes
  crates/nu-path/fuzz/fuzz_targets/path_fuzzer.rs
  crates/nu-path/src/assert_path_eq.rs
  crates/nu-path/src/components.rs
  crates/nu-path/src/dots.rs
  crates/nu-path/src/lib.rs
  crates/nu-path/src/tilde.rs
  crates/nu-path/src/util.rs
  crates/nu-path/tests/mod.rs
  crates/nu-path/tests/util.rs
Labels: wait-until-after-nushell-release

#12685 Make `bytes build` accept integer values as individual bytes
  crates/nu-command/src/bytes/build_.rs
Labels: wait-until-after-nushell-release, pr:release-note-mention, pr:commands

#9956 add raw-string literal support
  crates/nu-cli/src/syntax_highlight.rs
  crates/nu-color-config/src/shape_color.rs
  crates/nu-command/tests/commands/let_.rs
  crates/nu-command/tests/commands/mut_.rs
  crates/nu-parser/src/flatten.rs
  crates/nu-parser/src/lex.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/ast/expr.rs
  crates/nu-protocol/src/ast/expression.rs
  crates/nu-protocol/src/debugger/profiler.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-utils/src/sample_config/default_config.nu
  crates/nuon/src/from.rs
  src/ide.rs
  src/tests/test_strings.rs
  tests/const_/mod.rs
Labels: wait-until-after-nushell-release, pr:language

#12629 overhaul shell_integration to enable individual control over ansi escape sequences
  crates/nu-cli/src/prompt.rs
  crates/nu-cli/src/prompt_update.rs
  crates/nu-cli/src/repl.rs
  crates/nu-command/src/viewers/table.rs
  crates/nu-protocol/src/config/mod.rs
  crates/nu-utils/src/sample_config/default_config.nu
Labels: pr:breaking-change

#12728 Flush on every plugin `Data` message
  crates/nu-plugin-core/src/interface/stream/mod.rs
  crates/nu-plugin-engine/src/init.rs
  crates/nu-plugin/src/plugin/mod.rs
Labels: pr:plugins, inconsistent-behavior, streaming

#12729 Upgrade to interprocess 2.0.0
  Cargo.lock
  Cargo.toml
  crates/nu-plugin-core/src/communication_mode/local_socket/mod.rs
  crates/nu-plugin-core/src/communication_mode/mod.rs
  crates/nu_plugin_stress_internals/src/main.rs
Labels: pr:plugins, dependencies

#12741 Update PLATFORM_SUPPORT regarding feature flags
  devdocs/PLATFORM_SUPPORT.md
Labels: documentation

#12742 Remove some macros
  crates/nu-cli/src/reedline_config.rs
  crates/nu-cli/src/syntax_highlight.rs
  crates/nu-protocol/src/ast/call.rs
  crates/nu-protocol/src/value/filesize.rs
  tests/shell/pipeline/commands/internal.rs
Labels: refactor

#12603 Migrate to a new PWD API
  Cargo.lock
  benches/benchmarks.rs
  crates/nu-cli/src/completions/directory_completions.rs
  crates/nu-cli/src/completions/dotnu_completions.rs
  crates/nu-cli/src/completions/file_completions.rs
  crates/nu-cli/src/config_files.rs
  crates/nu-cli/src/eval_file.rs
  crates/nu-cli/src/repl.rs
  crates/nu-cli/src/syntax_highlight.rs
  crates/nu-cli/tests/completions.rs
  crates/nu-cli/tests/support/completions_helpers.rs
  crates/nu-cmd-base/src/util.rs
  crates/nu-cmd-plugin/src/commands/plugin/add.rs
  crates/nu-cmd-plugin/src/util.rs
  crates/nu-command/src/filesystem/cd.rs
  crates/nu-command/src/filesystem/du.rs
  crates/nu-command/src/filesystem/glob.rs
  crates/nu-command/src/filesystem/ls.rs
  crates/nu-command/src/filesystem/mktemp.rs
  crates/nu-command/src/filesystem/open.rs
  crates/nu-command/src/filesystem/rm.rs
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/src/filesystem/touch.rs
  crates/nu-command/src/filesystem/ucp.rs
  crates/nu-command/src/filesystem/umkdir.rs
  crates/nu-command/src/filesystem/umv.rs
  crates/nu-command/src/filesystem/watch.rs
  crates/nu-command/src/path/exists.rs
  crates/nu-command/src/path/expand.rs
  crates/nu-command/src/system/exec.rs
  crates/nu-command/src/system/which_.rs
  crates/nu-command/tests/commands/cd.rs
  crates/nu-engine/src/env.rs
  crates/nu-engine/src/eval.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-plugin-engine/src/context.rs
  crates/nu-protocol/Cargo.toml
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/state_working_set.rs
  crates/nu-protocol/src/eval_const.rs
  crates/nu-std/src/lib.rs
  crates/nu-std/std/mod.nu
  src/config_files.rs
  src/test_bins.rs
Labels: pr:api-change

#12719 add more tests to the `polars` plugin
  crates/nu_plugin_polars/src/dataframe/eager/sample.rs
  crates/nu_plugin_polars/src/dataframe/lazy/to_lazy.rs
  crates/nu_plugin_polars/src/dataframe/series/cumulative.rs
  crates/nu_plugin_polars/src/dataframe/series/date/as_date.rs
  crates/nu_plugin_polars/src/dataframe/series/date/as_datetime.rs
  crates/nu_plugin_polars/src/dataframe/series/shift.rs
Labels: dataframe, pr:plugins

#12438 fix: prevent relative directory traversal from crashing
  crates/nu-cli/src/completions/completion_common.rs
  crates/nu-cli/tests/completions.rs
Labels: completions, pr:bugfix

#12760 Fix trailing slash in PWD set by `cd`
  crates/nu-command/src/filesystem/cd.rs
  crates/nu-command/tests/commands/cd.rs
  crates/nu-path/src/components.rs
  crates/nu-path/src/lib.rs
  crates/nu-path/src/trailing_slash.rs
Labels: paths, pr:bugfix

#12757 Bump `base64` to 0.22.1
  Cargo.lock
  crates/nu-command/src/strings/encode_decode/base64.rs
  crates/nu-command/src/strings/encode_decode/encode_base64.rs
  crates/nu-command/tests/commands/hash_/mod.rs
Labels: pr:bugfix, pr:commands

#12717 improve NUON documentation
  crates/nuon/README.md
  crates/nuon/src/from.rs
  crates/nuon/src/lib.rs
  crates/nuon/src/to.rs
Labels: documentation, nuon-format

#12469 Tango migration
  Cargo.lock
  Cargo.toml
  benches/benchmarks.rs
  scripts/build.rs
  toolkit.nu
Labels: wait-until-after-nushell-release

#12776 allow raw string to be used inside subexpression, list, and closure
  crates/nu-parser/src/lex.rs
  src/tests/test_strings.rs
Labels: pr:bugfix, pr:language

#12747 Add `sys` subcommands
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/filters/get.rs
  crates/nu-command/src/help/help_.rs
  crates/nu-command/src/system/mod.rs
  crates/nu-command/src/system/sys.rs
  crates/nu-command/src/system/sys/cpu.rs
  crates/nu-command/src/system/sys/disks.rs
  crates/nu-command/src/system/sys/host.rs
  crates/nu-command/src/system/sys/mem.rs
  crates/nu-command/src/system/sys/mod.rs
  crates/nu-command/src/system/sys/net.rs
  crates/nu-command/src/system/sys/sys_.rs
  crates/nu-command/src/system/sys/temp.rs
  crates/nu-command/tests/commands/select.rs
  crates/nu-explore/src/explore.rs
  crates/nu-std/std/help.nu
  crates/nu-std/testing.nu
Labels: pr:breaking-change, pr:release-note-mention, deprecation, pr:commands

#12793 Fix list spread syntax highlighting
  crates/nu-parser/src/flatten.rs
  crates/nu-parser/src/parser.rs
Labels: pr:bugfix

#12806 Make the message when running a plugin exe directly clearer
  crates/nu-cmd-plugin/src/commands/plugin/add.rs
  crates/nu-plugin/src/plugin/mod.rs
Labels: documentation, pr:plugins

#12791 Refactor `parse` command
  crates/nu-command/src/strings/parse.rs
Labels: refactor

#12784 Shrink `Value` by boxing `Range`/`Closure`
  crates/nu-cli/src/prompt_update.rs
  crates/nu-cmd-lang/src/example_support.rs
  crates/nu-color-config/src/style_computer.rs
  crates/nu-command/src/filters/group_by.rs
  crates/nu-command/src/filters/insert.rs
  crates/nu-command/src/filters/update.rs
  crates/nu-command/src/filters/upsert.rs
  crates/nu-command/src/filters/zip.rs
  crates/nu-plugin-engine/src/context.rs
  crates/nu-protocol/src/pipeline_data/mod.rs
  crates/nu-protocol/src/value/from_value.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nuon/src/to.rs
Labels: performance, pr:release-note-mention

#12799 Refactor message printing in `rm`
  crates/nu-command/src/filesystem/rm.rs
  crates/nu-protocol/src/pipeline_data/mod.rs
Labels: refactor

#12783 Pass `Stack` ref to `Completer::fetch`
  crates/nu-cli/src/completions/base.rs
  crates/nu-cli/src/completions/command_completions.rs
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/src/completions/custom_completions.rs
  crates/nu-cli/src/completions/directory_completions.rs
  crates/nu-cli/src/completions/dotnu_completions.rs
  crates/nu-cli/src/completions/file_completions.rs
  crates/nu-cli/src/completions/flag_completions.rs
  crates/nu-cli/src/completions/variable_completions.rs
  crates/nu-cli/src/repl.rs
  crates/nu-cli/tests/completions.rs
  crates/nu-lsp/src/lib.rs
  src/ide.rs
Labels: refactor

#12815 Fix syntax highlighting for `not`
  crates/nu-cli/tests/commands/mod.rs
  crates/nu-cli/tests/commands/nu_highlight.rs
  crates/nu-cli/tests/completions/mod.rs
  crates/nu-cli/tests/completions/support/completions_helpers.rs
  crates/nu-cli/tests/completions/support/mod.rs
  crates/nu-cli/tests/main.rs
  crates/nu-parser/src/flatten.rs
Labels: pr:bugfix

#12782 Refactor the CLI code a bit
  benches/benchmarks.rs
  crates/nu-cli/src/config_files.rs
  crates/nu-cli/src/eval_cmds.rs
  crates/nu-cli/src/eval_file.rs
  crates/nu-cli/src/prompt_update.rs
  crates/nu-cli/src/repl.rs
  crates/nu-cli/src/util.rs
  crates/nu-cli/tests/completions/support/completions_helpers.rs
  crates/nu-cmd-base/src/util.rs
  crates/nu-engine/src/env.rs
  crates/nu-lsp/src/diagnostics.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/errors/cli_error.rs
  crates/nu-protocol/src/eval_const.rs
  src/command.rs
  src/config_files.rs
  src/ide.rs
  src/main.rs
  src/run.rs
Labels: refactor

#12818 Fix pipe redirection into `complete`
  crates/nu-command/tests/commands/complete.rs
  crates/nu-engine/src/eval.rs
Labels: pr:bugfix

#12837 remove --not flag for 'str contains'
  crates/nu-command/src/strings/str_/contains.rs
Labels: pr:breaking-change, deprecation, pr:commands

#12833 Fix custom converters with `save`
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/tests/commands/save.rs
Labels: pr:bugfix

#12867 Fix `char` panic
  crates/nu-command/src/strings/char_.rs
Labels: pr:bugfix

#12868 make better messages for incomplete string
  crates/nu-parser/src/lex.rs
  tests/repl/test_strings.rs
Labels: pr:errors

#12846 Fix `sys` panic
  crates/nu-command/src/system/sys/mod.rs
Labels: pr:breaking-change, pr:bugfix, pr:commands

#12871 Remove usages of `Call::positional_nth`
  crates/nu-command/src/env/with_env.rs
  crates/nu-command/src/filesystem/touch.rs
  crates/nu-command/src/platform/ansi/ansi_.rs
  crates/nu-protocol/src/ast/call.rs
Labels: refactor, pr:api-change

#12788 `collect`: don't require a closure
  crates/nu-cmd-lang/src/core_commands/collect.rs
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/tests/commands/save.rs
Labels: pr:commands

#12848 Preserve metadata in more places
  crates/nu-command/src/filesystem/save.rs
  crates/nu-protocol/src/pipeline/pipeline_data.rs
Labels: pr:bugfix, pr:errors

#12901 Clear environment for child `Command`s
  crates/nu-command/src/system/run_external.rs
  tests/shell/environment/env.rs
Labels: pr:bugfix

#12903 Make `get_full_help` take `&dyn Command`
  crates/nu-cli/src/commands/keybindings.rs
  crates/nu-cli/src/menus/help_completions.rs
  crates/nu-cmd-dataframe/src/dataframe/stub.rs
  crates/nu-cmd-extra/src/extra/bits/bits_.rs
  crates/nu-cmd-extra/src/extra/filters/roll/roll_.rs
  crates/nu-cmd-extra/src/extra/strings/str_/case/str_.rs
  crates/nu-cmd-lang/src/core_commands/export.rs
  crates/nu-cmd-lang/src/core_commands/overlay/command.rs
  crates/nu-cmd-lang/src/core_commands/scope/command.rs
  crates/nu-cmd-plugin/src/commands/plugin/mod.rs
  crates/nu-command/src/bytes/bytes_.rs
  crates/nu-command/src/conversions/into/command.rs
  crates/nu-command/src/date/date_.rs
  crates/nu-command/src/debug/view.rs
  crates/nu-command/src/env/config/config_.rs
  crates/nu-command/src/formats/from/command.rs
  crates/nu-command/src/formats/to/command.rs
  crates/nu-command/src/hash/hash_.rs
  crates/nu-command/src/help/help_commands.rs
  crates/nu-command/src/help/help_externs.rs
  crates/nu-command/src/help/help_modules.rs
  crates/nu-command/src/math/math_.rs
  crates/nu-command/src/network/http/http_.rs
  crates/nu-command/src/network/url/url_.rs
  crates/nu-command/src/path/path_.rs
  crates/nu-command/src/random/random_.rs
  crates/nu-command/src/stor/stor_.rs
  crates/nu-command/src/strings/format/format_.rs
  crates/nu-command/src/strings/split/command.rs
  crates/nu-command/src/strings/str_/case/str_.rs
  crates/nu-engine/src/documentation.rs
  crates/nu-engine/src/eval.rs
  crates/nu-plugin-engine/src/context.rs
  crates/nu-protocol/src/engine/engine_state.rs
  src/command.rs
  tests/repl/test_engine.rs
Labels: refactor

#12897 Add string/binary type color to `ByteStream`
  crates/nu-cli/src/util.rs
  crates/nu-cmd-lang/src/core_commands/describe.rs
  crates/nu-command/src/bytes/collect.rs
  crates/nu-command/src/conversions/into/binary.rs
  crates/nu-command/src/conversions/into/cell_path.rs
  crates/nu-command/src/conversions/into/string.rs
  crates/nu-command/src/filters/drop/column.rs
  crates/nu-command/src/filters/first.rs
  crates/nu-command/src/filters/insert.rs
  crates/nu-command/src/filters/items.rs
  crates/nu-command/src/filters/last.rs
  crates/nu-command/src/filters/skip/skip_.rs
  crates/nu-command/src/filters/take/take_.rs
  crates/nu-command/src/filters/tee.rs
  crates/nu-command/src/filters/update.rs
  crates/nu-command/src/filters/upsert.rs
  crates/nu-command/src/filters/values.rs
  crates/nu-command/src/formats/to/text.rs
  crates/nu-command/src/network/http/client.rs
  crates/nu-command/src/strings/str_/join.rs
  crates/nu-command/src/system/run_external.rs
  crates/nu-command/src/viewers/table.rs
  crates/nu-command/tests/commands/bytes/collect.rs
  crates/nu-command/tests/commands/bytes/mod.rs
  crates/nu-command/tests/commands/first.rs
  crates/nu-command/tests/commands/last.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-command/tests/commands/skip/skip_.rs
  crates/nu-command/tests/commands/str_/join.rs
  crates/nu-command/tests/commands/str_/mod.rs
  crates/nu-command/tests/commands/take/rows.rs
  crates/nu-engine/src/command_prelude.rs
  crates/nu-plugin-core/src/interface/mod.rs
  crates/nu-plugin-core/src/interface/tests.rs
  crates/nu-plugin-engine/src/interface/tests.rs
  crates/nu-plugin-protocol/src/lib.rs
  crates/nu-plugin/src/plugin/interface/tests.rs
  crates/nu-pretty-hex/src/pretty_hex.rs
  crates/nu-protocol/src/errors/shell_error.rs
  crates/nu-protocol/src/pipeline/byte_stream.rs
  crates/nu-protocol/src/pipeline/pipeline_data.rs
  crates/nu_plugin_example/src/commands/collect_bytes.rs
Labels: pr:plugins, pr:breaking-change, pr:commands

#12909 Take owned `Read` and `Write`
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/src/filters/tee.rs
  crates/nu-protocol/src/pipeline/byte_stream.rs
Labels: refactor

#12915 `explore`: consolidate padding config, handle ByteStream, tweak naming+comments
  crates/nu-explore/src/commands/table.rs
  crates/nu-explore/src/lib.rs
  crates/nu-explore/src/views/binary/binary_widget.rs
  crates/nu-explore/src/views/binary/mod.rs
  crates/nu-explore/src/views/record/mod.rs
  crates/nu-explore/src/views/record/tablew.rs
Labels: configuration, pr:commands

#12918 Implement streaming I/O for CSV and TSV commands
  crates/nu-command/src/formats/from/delimited.rs
  crates/nu-command/src/formats/to/csv.rs
  crates/nu-command/src/formats/to/delimited.rs
  crates/nu-command/src/formats/to/tsv.rs
Labels: pr:commands

#12930 Small improvements to `debug profile`
  crates/nu-command/src/debug/profile.rs
  crates/nu-protocol/src/debugger/profiler.rs
Labels: pr:breaking-change, pr:commands, pr:screenshot

#12894 fix range semantic in detect_columns, str substring, str index-of
  crates/nu-cmd-base/src/util.rs
  crates/nu-command/src/strings/str_/index_of.rs
  crates/nu-command/src/strings/str_/substring.rs
  crates/nu-command/tests/commands/detect_columns.rs
  crates/nu-command/tests/commands/str_/mod.rs
  tests/repl/test_strings.rs
Labels: pr:breaking-change, pr:commands

#12908 add some completion tests
  crates/nu-cli/tests/completions/mod.rs
  tests/fixtures/partial_completions/partial_a/have_ext.exe
  tests/fixtures/partial_completions/partial_a/have_ext.txt
Labels: tests

#12939 Remove list support in `with-env`
  crates/nu-command/src/env/with_env.rs
Labels: pr:breaking-change, removal-after-deprecation, pr:commands

#12949 Make `from json --objects` streaming
  crates/nu-command/src/formats/from/json.rs
  crates/nu-command/tests/format_conversions/json.rs
  crates/nu-protocol/src/pipeline/pipeline_data.rs
Labels: pr:commands

#12975 Fix `path type` using PWD from the environment
  crates/nu-command/src/path/type.rs
  crates/nu-command/tests/commands/path/type_.rs
Labels: pr:bugfix

#12976 Fix `touch --reference` using PWD from the environment
  crates/nu-command/src/filesystem/touch.rs
  crates/nu-command/tests/commands/touch.rs
Labels: pr:bugfix

#12970 Fix panic when redirecting nothing
  crates/nu-parser/src/lite_parser.rs
  crates/nu-parser/tests/test_parser.rs
  crates/nu-protocol/src/errors/parse_error.rs
Labels: pr:bugfix, pr:errors

#13002 fix do closure with both required, options, and rest args
  crates/nu-cmd-lang/src/core_commands/do_.rs
  tests/shell/pipeline/commands/internal.rs
Labels: pr:bugfix, pr:commands

#13009 Disallow more characters in arguments for internal `cmd` commands
  crates/nu-command/src/system/run_external.rs
Labels: pr:bugfix, pr:commands, pr:errors
