Repository nushell/nushell, pull requests merged in 2024-02, with the labels that each got.

#11705 `query web --query` should return `list<list<string>>` like the scraper crate's `ElementRef::text()`
  crates/nu_plugin_query/src/nu/mod.rs
  crates/nu_plugin_query/src/query_web.rs
Labels: pr:breaking-change

#11719 Tighten def body parsing
  crates/nu-parser/src/parse_keywords.rs
  src/tests/test_parser.rs
Labels: pr:bugfix

#11718 Fix panic in `rotate`; Add safe record creation function
  crates/nu-cmd-dataframe/src/dataframe/eager/schema.rs
  crates/nu-cmd-dataframe/src/dataframe/values/nu_dataframe/conversion.rs
  crates/nu-cmd-dataframe/src/dataframe/values/nu_dataframe/mod.rs
  crates/nu-cmd-dataframe/src/dataframe/values/nu_schema.rs
  crates/nu-cmd-extra/src/extra/filters/roll/mod.rs
  crates/nu-cmd-extra/src/extra/filters/rotate.rs
  crates/nu-command/src/charting/histogram.rs
  crates/nu-command/src/database/values/sqlite.rs
  crates/nu-command/src/formats/from/delimited.rs
  crates/nu-command/src/formats/from/nuon.rs
  crates/nu-command/src/strings/detect_columns.rs
  crates/nu-command/tests/commands/rotate.rs
  crates/nu-engine/src/scope.rs
  crates/nu-explore/src/commands/help.rs
  crates/nu-explore/src/views/record/mod.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-protocol/src/shell_error.rs
  crates/nu-protocol/src/value/record.rs
  crates/nu_plugin_example/src/example.rs
Labels: pr:bugfix

#11781 allow `ansi strip` to work better on other nushell values
  crates/nu-command/src/platform/ansi/strip.rs
Labels: wait-until-after-nushell-release

#11771 make `char` command `const`
  crates/nu-command/src/strings/char_.rs
Labels: wait-until-after-nushell-release

#11729 Enforce call stack depth limit for all calls
  crates/nu-command/tests/commands/try_.rs
  crates/nu-engine/src/eval.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-protocol/src/ast/block.rs
  src/tests/test_custom_commands.rs
Labels: wait-until-after-nushell-release

#11766 Fix file completions which contains glob pattern
  crates/nu-cli/src/completions/completion_common.rs
  crates/nu-cli/tests/completions.rs
  tests/fixtures/quoted_completions/[a] bc.txt
Labels: wait-until-after-nushell-release, pr:bugfix

#11748 Allow specifying a cellpath in `input list` to get the value to display
  crates/nu-command/src/platform/input/list.rs
Labels: wait-until-after-nushell-release, pr:commands

#11772 Fix #11750: `LazyRecord` error message
  crates/nu-protocol/src/value/mod.rs
Labels: wait-until-after-nushell-release

#11717 Allow comments in match blocks
  crates/nu-command/tests/commands/match_.rs
  crates/nu-parser/src/parser.rs
Labels: wait-until-after-nushell-release, pr:bugfix

#11742 Upgrade to ratatui 0.26
  Cargo.lock
  crates/nu-explore/Cargo.toml
  crates/nu-explore/src/pager/mod.rs
Labels: wait-until-after-nushell-release

#11314 Fix a panic when parsing empty file
  crates/nu-protocol/src/engine/state_working_set.rs
  tests/shell/mod.rs
Labels: wait-until-after-nushell-release

#11788 Bump miette from 5.10.0 to 7.0.0
  Cargo.lock
  Cargo.toml
  crates/nu-cli/Cargo.toml
  crates/nu-cmd-base/Cargo.toml
  crates/nu-command/Cargo.toml
  crates/nu-lsp/Cargo.toml
  crates/nu-protocol/Cargo.toml
  crates/nu-protocol/src/span.rs
  crates/nu-protocol/tests/test_config.rs
  crates/nu-std/Cargo.toml
Labels: wait-until-after-nushell-release

#11708 Support redirect stderr and stdout+stderr with a pipe
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/src/syntax_highlight.rs
  crates/nu-command/src/formats/from/nuon.rs
  crates/nu-command/tests/commands/let_.rs
  crates/nu-command/tests/commands/redirection.rs
  crates/nu-engine/src/eval.rs
  crates/nu-parser/src/flatten.rs
  crates/nu-parser/src/lex.rs
  crates/nu-parser/src/lite_parser.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/ast/block.rs
  crates/nu-protocol/src/ast/pipeline.rs
  tests/shell/pipeline/commands/external.rs
  tests/shell/pipeline/commands/internal.rs
Labels: pr:language

#11807 Prevent duplicate records keys when decoding from nuon
  crates/nu-command/src/formats/from/nuon.rs
Labels: pr:bugfix

#11808 Prevent duplicate keys for `lazy make`
  crates/nu-cmd-lang/src/core_commands/lazy_make.rs
Labels: pr:bugfix

#11809 Fix error message for `headers`
  crates/nu-command/src/filters/headers.rs
Labels: pr:errors

#11846 Fixed to/from toml date format
  crates/nu-command/src/formats/from/toml.rs
  crates/nu-command/src/formats/to/toml.rs
Labels: pr:commands

#11857 Disallow spreading lists automatically when calling externals
  crates/nu-command/src/system/run_external.rs
  crates/nu-protocol/src/shell_error.rs
  src/tests/test_spread.rs
Labels: pr:breaking-change

#11859 Remove list of cell path support for `select` and `reject`
  crates/nu-command/src/filters/reject.rs
  crates/nu-command/src/filters/select.rs
  crates/nu-command/tests/commands/reject.rs
  crates/nu-command/tests/commands/select.rs
Labels: pr:breaking-change, pr:commands

#11864 Fix commandline --cursor to return int
  crates/nu-cli/src/commands/commandline.rs
  src/tests/test_commandline.rs
Labels: pr:breaking-change

#11858 Remove required positional arg for some file system commands
  crates/nu-command/src/filesystem/open.rs
  crates/nu-command/src/filesystem/rm.rs
  crates/nu-command/src/filesystem/touch.rs
Labels: pr:commands

#11877 separate `commandline` into subcommands
  crates/nu-cli/src/commands/commandline/commandline_.rs
  crates/nu-cli/src/commands/commandline/edit.rs
  crates/nu-cli/src/commands/commandline/get_cursor.rs
  crates/nu-cli/src/commands/commandline/mod.rs
  crates/nu-cli/src/commands/commandline/set_cursor.rs
  crates/nu-cli/src/commands/default_context.rs
  crates/nu-cli/src/commands/mod.rs
  src/tests/test_commandline.rs
Labels: pr:breaking-change, pr:bugfix, pr:commands

#11924 Add support for the argument to `zip` being a closure
  crates/nu-command/src/example_test.rs
  crates/nu-command/src/filters/zip.rs
Labels: pr:commands

#11860 wrapping run_repl with catch_unwind and restarting the repl on panic
  Cargo.lock
  Cargo.toml
  crates/nu-cli/src/repl.rs
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/misc/mod.rs
  crates/nu-command/src/misc/panic.rs
  crates/nu-protocol/src/engine/engine_state.rs
  src/command.rs
  src/main.rs
Labels: pr:release-note-mention, pr:bugfix, pr:errors

#11886 `open`, `rm`, `umv`, `cp`, `rm` and `du`: Don't globs if inputs are variables or string interpolation
  crates/nu-cmd-lang/src/core_commands/describe.rs
  crates/nu-cmd-lang/src/core_commands/let_.rs
  crates/nu-cmd-lang/src/example_support.rs
  crates/nu-color-config/src/style_computer.rs
  crates/nu-command/src/conversions/into/glob.rs
  crates/nu-command/src/conversions/into/mod.rs
  crates/nu-command/src/conversions/into/string.rs
  crates/nu-command/src/database/commands/into_sqlite.rs
  crates/nu-command/src/debug/explain.rs
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/filesystem/du.rs
  crates/nu-command/src/filesystem/ls.rs
  crates/nu-command/src/filesystem/mv.rs
  crates/nu-command/src/filesystem/open.rs
  crates/nu-command/src/filesystem/rm.rs
  crates/nu-command/src/filesystem/ucp.rs
  crates/nu-command/src/filesystem/umv.rs
  crates/nu-command/src/filesystem/util.rs
  crates/nu-command/src/filters/find.rs
  crates/nu-command/src/formats/to/json.rs
  crates/nu-command/src/formats/to/nuon.rs
  crates/nu-command/src/formats/to/text.rs
  crates/nu-command/src/formats/to/toml.rs
  crates/nu-command/src/formats/to/yaml.rs
  crates/nu-command/src/system/run_external.rs
  crates/nu-command/tests/commands/du.rs
  crates/nu-command/tests/commands/ls.rs
  crates/nu-command/tests/commands/move_/umv.rs
  crates/nu-command/tests/commands/open.rs
  crates/nu-command/tests/commands/rm.rs
  crates/nu-command/tests/commands/ucp.rs
  crates/nu-engine/src/glob_from.rs
  crates/nu-parser/src/type_check.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-protocol/src/syntax_shape.rs
  crates/nu-protocol/src/ty.rs
  crates/nu-protocol/src/value/from_value.rs
  crates/nu-protocol/src/value/glob.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu-protocol/src/value/path.rs
  crates/nu-std/testing.nu
Labels: pr:breaking-change

#11905 nu-table: Improve `table -a`
  crates/nu-command/src/viewers/table.rs
  crates/nu-command/tests/commands/table.rs
Labels: pr:language

#11953 Handling errors instead of propagating them up and killing the REPL
  crates/nu-cli/src/repl.rs
Labels: pr:errors

#11929 Print stderr streams to stderr in `pipeline_data::print_if_stream()`
  crates/nu-protocol/src/pipeline_data.rs
Labels: pr:errors

#11972 Rename spans in the serialized form of Value
  crates/nu-protocol/src/value/mod.rs
Labels: pr:breaking-change, pr:language

#11911 Bidirectional communication and streams for plugins
  Cargo.lock
  Cargo.toml
  benches/benchmarks.rs
  crates/nu-plugin/Cargo.toml
  crates/nu-plugin/src/lib.rs
  crates/nu-plugin/src/plugin/context.rs
  crates/nu-plugin/src/plugin/declaration.rs
  crates/nu-plugin/src/plugin/identity.rs
  crates/nu-plugin/src/plugin/interface.rs
  crates/nu-plugin/src/plugin/interface/engine.rs
  crates/nu-plugin/src/plugin/interface/engine/tests.rs
  crates/nu-plugin/src/plugin/interface/plugin.rs
  crates/nu-plugin/src/plugin/interface/plugin/tests.rs
  crates/nu-plugin/src/plugin/interface/stream.rs
  crates/nu-plugin/src/plugin/interface/stream/tests.rs
  crates/nu-plugin/src/plugin/interface/test_util.rs
  crates/nu-plugin/src/plugin/interface/tests.rs
  crates/nu-plugin/src/plugin/is_plugin
  crates/nu-plugin/src/plugin/mod.rs
  crates/nu-plugin/src/protocol/mod.rs
  crates/nu-plugin/src/protocol/plugin_custom_value.rs
  crates/nu-plugin/src/protocol/plugin_custom_value/tests.rs
  crates/nu-plugin/src/protocol/plugin_data.rs
  crates/nu-plugin/src/protocol/protocol_info.rs
  crates/nu-plugin/src/protocol/test_util.rs
  crates/nu-plugin/src/protocol/tests.rs
  crates/nu-plugin/src/sequence.rs
  crates/nu-plugin/src/serializers/json.rs
  crates/nu-plugin/src/serializers/mod.rs
  crates/nu-plugin/src/serializers/msgpack.rs
  crates/nu-plugin/src/serializers/tests.rs
  crates/nu-protocol/src/plugin_signature.rs
  crates/nu-protocol/src/shell_error.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu_plugin_custom_values/src/main.rs
  crates/nu_plugin_python/nu_plugin_python_example.py
  crates/nu_plugin_stream_example/Cargo.toml
  crates/nu_plugin_stream_example/README.md
  crates/nu_plugin_stream_example/src/example.rs
  crates/nu_plugin_stream_example/src/example/int_or_float.rs
  crates/nu_plugin_stream_example/src/lib.rs
  crates/nu_plugin_stream_example/src/main.rs
  crates/nu_plugin_stream_example/src/nu/mod.rs
  tests/plugins/custom_values.rs
  tests/plugins/mod.rs
  tests/plugins/stream.rs
  wix/main.wxs
Labels: plugins, pr:breaking-change

#11946 Don't expanding globs if user pass variables.
  crates/nu-command/src/system/run_external.rs
  tests/shell/pipeline/commands/external.rs
Labels: glob-expansion, pr:language

#11992 Glob: don't allow implicit casting between glob and string
  crates/nu-cmd-lang/src/core_commands/mut_.rs
  crates/nu-command/src/conversions/into/glob.rs
  crates/nu-command/src/filesystem/du.rs
  crates/nu-command/src/filesystem/ls.rs
  crates/nu-command/src/filesystem/open.rs
  crates/nu-command/src/filesystem/rm.rs
  crates/nu-command/src/filesystem/ucp.rs
  crates/nu-command/src/filesystem/umv.rs
  crates/nu-command/tests/commands/let_.rs
  crates/nu-command/tests/commands/mut_.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
  crates/nu-parser/src/type_check.rs
  crates/nu-protocol/src/ty.rs
  crates/nu-protocol/src/value/mod.rs
  src/tests/test_custom_commands.rs
  tests/const_/mod.rs
Labels: glob-expansion, pr:language

#12014 Add Goodbye message to ensure plugins exit when they are no longer needed
  crates/nu-plugin/src/plugin/interface/engine.rs
  crates/nu-plugin/src/plugin/interface/engine/tests.rs
  crates/nu-plugin/src/plugin/interface/plugin.rs
  crates/nu-plugin/src/plugin/interface/plugin/tests.rs
  crates/nu-plugin/src/protocol/mod.rs
  crates/nu_plugin_python/nu_plugin_python_example.py
Labels: plugins

#12012 fix: process empty headers in `to md` command
  crates/nu-command/src/formats/to/md.rs
Labels: pr:bugfix, pr:commands

#12018 deprecate str escape-glob command
  crates/nu-command/src/strings/str_/escape_glob.rs
Labels: deprecation, removal-after-deprecation
