Repository nushell/nushell, pull requests merged in 2024-12, with the labels that each got.

#14485 Add `--long` flag for `sys cpu`
  crates/nu-command/src/system/sys/cpu.rs
  crates/nu-engine/src/command_prelude.rs
Labels: pr:breaking-change, pr:bugfix, pr:commands

#14484 Remove duplicate implementations of `CallExt::rest`
  crates/nu-command/src/bytes/build_.rs
  crates/nu-command/src/filesystem/du.rs
  crates/nu-command/src/filesystem/ls.rs
  crates/nu-command/src/filesystem/open.rs
  crates/nu-command/src/filesystem/rm.rs
  crates/nu-command/src/filesystem/touch.rs
  crates/nu-command/src/filesystem/ucp.rs
  crates/nu-command/src/filesystem/umkdir.rs
  crates/nu-command/src/filesystem/umv.rs
  crates/nu-command/src/filesystem/util.rs
  crates/nu-command/src/filesystem/utouch.rs
  crates/nu-command/src/system/run_external.rs
  crates/nu-engine/src/call_ext.rs
Labels: refactor

#14486 Add environment variables for sourced files
  crates/nu-command/src/misc/source.rs
  crates/nu-parser/src/parse_keywords.rs
Labels: pr:release-note-mention, pr:commands

#14491 Convert Filesize to Int
  crates/nu_plugin_polars/src/dataframe/values/nu_dataframe/conversion.rs
Labels: dataframe, pr:plugins

#14492 allow `select` to stream more
  crates/nu-command/src/filters/select.rs
  crates/nu-command/tests/commands/select.rs
Labels: streaming, pr:commands

#14353 normalize special characters in module names to allow variable access
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/errors/parse_error.rs
  crates/nu-protocol/src/module.rs
  tests/repl/test_modules.rs
Labels: pr:breaking-change, pr:language

#14303 Add `path self` command for getting absolute paths to files at parse time
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/path/mod.rs
  crates/nu-command/src/path/self_.rs
Labels: const-eval

#14483 Make `timeit` take only closures as an argument
  crates/nu-command/src/debug/timeit.rs
  crates/nu-command/tests/commands/debug/timeit.rs
  crates/nu-engine/src/closure_eval.rs
Labels: pr:breaking-change, pr:bugfix, pr:commands

#14553 Allow both NU_PLUGIN_DIRS const and env at the same time
  crates/nu-cmd-plugin/src/util.rs
  crates/nu-utils/src/default_files/default_env.nu
  crates/nu-utils/src/default_files/sample_env.nu
  src/main.rs
  tests/repl/test_env.rs
Labels: pr:breaking-change

#14588 Improve handling of columns with null values
  crates/nu_plugin_polars/src/dataframe/values/nu_dataframe/conversion.rs
Labels: dataframe, pr:plugins

#14593 docs(reduce): add example demonstrating accumulator as pipeline input
  crates/nu-command/src/filters/reduce.rs
Labels: help-system, pr:commands

#14596 `std/iter scan`: change closure signature to be consistent with `reduce`
  crates/nu-std/std/iter/mod.nu
  crates/nu-std/tests/test_iter.nu
Labels: pr:breaking-change

#14525 Add `merge deep` command
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/filters/merge/common.rs
  crates/nu-command/src/filters/merge/deep.rs
  crates/nu-command/src/filters/merge/merge_.rs
  crates/nu-command/src/filters/merge/mod.rs
  crates/nu-command/src/filters/mod.rs
  crates/nu-command/tests/commands/merge_deep.rs
  crates/nu-command/tests/commands/mod.rs
Labels: new-command, pr:commands

#14610 add `view blocks` command
  crates/nu-command/src/debug/mod.rs
  crates/nu-command/src/debug/view_blocks.rs
  crates/nu-command/src/default_context.rs
Labels: new-command, pr:commands

#14621 add `config flatten` command
  Cargo.lock
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/env/config/config_flatten.rs
  crates/nu-command/src/env/config/config_nu.rs
  crates/nu-command/src/env/config/mod.rs
  crates/nu-command/src/env/mod.rs
  crates/nu-utils/Cargo.toml
  crates/nu-utils/src/flatten_json.rs
  crates/nu-utils/src/lib.rs
Labels: configuration, new-command, pr:commands

#14624 better error handling for `view source`
  crates/nu-command/src/debug/view_source.rs
Labels: pr:bugfix, pr:commands

#14635 lookup closures/blockids and get content in `config flatten`
  crates/nu-command/src/env/config/config_flatten.rs
  crates/nu-utils/src/flatten_json.rs
Labels: configuration, pr:commands

#14639 tweaks to `config flatten`
  crates/nu-utils/src/flatten_json.rs
Labels: pr:bugfix

#14649 Add binary input support to `chunks`
  crates/nu-command/src/filters/chunks.rs
Labels: wait-until-after-nushell-release, streaming, pr:commands

#14648 Polars AWS S3 support
  Cargo.lock
  crates/nu_plugin_polars/Cargo.toml
  crates/nu_plugin_polars/src/cache/rm.rs
  crates/nu_plugin_polars/src/cloud/aws.rs
  crates/nu_plugin_polars/src/cloud/mod.rs
  crates/nu_plugin_polars/src/dataframe/command/core/open.rs
  crates/nu_plugin_polars/src/dataframe/command/core/save/mod.rs
  crates/nu_plugin_polars/src/dataframe/command/core/to_lazy.rs
  crates/nu_plugin_polars/src/dataframe/values/file_type.rs
  crates/nu_plugin_polars/src/lib.rs
  crates/nu_plugin_polars/src/main.rs
Labels: dataframe, pr:plugins

#14652 Add `bytes split` command
  Cargo.lock
  Cargo.toml
  crates/nu-command/src/bytes/mod.rs
  crates/nu-command/src/bytes/split.rs
  crates/nu-command/src/default_context.rs
  crates/nu-protocol/Cargo.toml
  crates/nu-protocol/src/pipeline/byte_stream.rs
Labels: wait-until-after-nushell-release, new-command, pr:commands

#14616 14523 all comments should be prefixed with space tab or be beginning of token
  crates/nu-parser/src/lex.rs
  crates/nu-parser/tests/test_lex.rs
  tests/repl/test_parser.rs
Labels: wait-until-after-nushell-release

#14630 Switch from serde_yaml to serde_yml
  Cargo.lock
  Cargo.toml
  crates/nu-command/Cargo.toml
  crates/nu-command/src/formats/from/yaml.rs
  crates/nu-command/src/formats/to/yaml.rs
  crates/nu-command/tests/format_conversions/yaml.rs
Labels: dependencies, wait-until-after-nushell-release

#14627 `ls` now collects metadata in a separate thread
  crates/nu-command/src/filesystem/ls.rs
Labels: wait-until-after-nushell-release, pr:commands

#14638 "short" Welcome Banner option
  crates/nu-cli/src/repl.rs
  crates/nu-protocol/src/config/mod.rs
  crates/nu-std/std/core/mod.nu
Labels: wait-until-after-nushell-release

#14591 Run ENV_CONVERSIONS whenever it's modified
  crates/nu-engine/src/compile/operator.rs
  crates/nu-engine/src/env.rs
  crates/nu-engine/src/eval_ir.rs
  tests/shell/environment/env.rs
Labels: wait-until-after-nushell-release, environment

#14665 make du streaming
  crates/nu-command/src/filesystem/du.rs
Labels: streaming

#14622 add streaming to `get` and `reject`
  crates/nu-command/src/filters/get.rs
  crates/nu-command/src/filters/reject.rs
  crates/nu-command/tests/commands/split_by.rs
Labels: wait-until-after-nushell-release, streaming, pr:commands

#14647 Add `auto` option for `config.use_ansi_coloring`
  crates/nu-cli/src/completions/completion_common.rs
  crates/nu-cli/src/config_files.rs
  crates/nu-cli/src/repl.rs
  crates/nu-cli/src/util.rs
  crates/nu-command/src/help/help_aliases.rs
  crates/nu-command/src/help/help_modules.rs
  crates/nu-command/src/platform/ansi/ansi_.rs
  crates/nu-command/src/system/run_external.rs
  crates/nu-command/src/viewers/griddle.rs
  crates/nu-command/src/viewers/table.rs
  crates/nu-engine/src/documentation.rs
  crates/nu-protocol/src/config/ansi_coloring.rs
  crates/nu-protocol/src/config/mod.rs
  crates/nu-protocol/src/config/output.rs
  crates/nu-protocol/src/errors/cli_error.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu-protocol/tests/test_config.rs
  crates/nu-utils/src/default_files/doc_config.nu
  src/config_files.rs
  src/main.rs
  src/run.rs
Labels: configuration, wait-until-after-nushell-release, pr:release-note-mention

#14683 Add command to get evaluated color setting
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/env/config/config_use_colors.rs
  crates/nu-command/src/env/config/mod.rs
  crates/nu-command/src/env/mod.rs
Labels: configuration, new-command, pr:commands

#14684 update banner command to respect use_ansi_colors
  crates/nu-std/std/core/mod.nu
Labels: std-library

#14415 Bump tabled to 0.17
  Cargo.lock
  Cargo.toml
  crates/nu-command/src/debug/inspect_table.rs
  crates/nu-command/src/viewers/table.rs
  crates/nu-command/tests/commands/table.rs
  crates/nu-explore/src/commands/expand.rs
  crates/nu-explore/src/nu_common/table.rs
  crates/nu-protocol/src/config/mod.rs
  crates/nu-protocol/src/config/table.rs
  crates/nu-table/examples/table_demo.rs
  crates/nu-table/src/common.rs
  crates/nu-table/src/lib.rs
  crates/nu-table/src/table.rs
  crates/nu-table/src/table_theme.rs
  crates/nu-table/src/types/collapse.rs
  crates/nu-table/src/types/expanded.rs
  crates/nu-table/src/types/general.rs
  crates/nu-table/src/types/mod.rs
  crates/nu-table/src/unstructured_table.rs
  crates/nu-table/src/util.rs
  crates/nu-table/tests/common.rs
  crates/nu-table/tests/constrains.rs
  crates/nu-table/tests/expand.rs
  crates/nu-table/tests/style.rs
Labels: tabled, wait-until-after-nushell-release

#14634 Rename/deprecate `into bits` to `format bits`
  crates/nu-cmd-extra/src/extra/bits/into.rs
  crates/nu-cmd-extra/src/extra/mod.rs
  crates/nu-cmd-extra/src/extra/strings/format/bits.rs
  crates/nu-cmd-extra/src/extra/strings/format/mod.rs
  crates/nu-cmd-extra/tests/commands/bits/format.rs
  crates/nu-cmd-extra/tests/commands/bits/mod.rs
  tests/repl/test_bits.rs
Labels: pr:breaking-change, deprecation, naming-things :bike: :hut:
