Repository nushell/nushell, pull requests merged in 2024-11, with the labels that each got.

#14214 no deref in touch
  crates/nu-command/src/filesystem/touch.rs
  crates/nu-command/tests/commands/touch.rs
Labels: file-system, pr:commands

#14237 Change --max-time arg for http commands to use `Duration` type
  crates/nu-command/src/network/http/client.rs
  crates/nu-command/src/network/http/delete.rs
  crates/nu-command/src/network/http/get.rs
  crates/nu-command/src/network/http/head.rs
  crates/nu-command/src/network/http/options.rs
  crates/nu-command/src/network/http/patch.rs
  crates/nu-command/src/network/http/post.rs
  crates/nu-command/src/network/http/put.rs
Labels: pr:breaking-change, pr:commands

#14246 Empty rest args match should be an empty list
  crates/nu-command/tests/commands/match_.rs
  crates/nu-protocol/src/engine/pattern_match.rs
Labels: semantics, pr:breaking-change, pr:release-note-mention, pr:language

#14157 Div, mod, and floor div overhaul
  crates/nu-command/tests/commands/math/mod.rs
  crates/nu-parser/src/type_check.rs
  crates/nu-protocol/src/errors/shell_error.rs
  crates/nu-protocol/src/value/mod.rs
Labels: semantics, pr:breaking-change, pr:errors, pr:language

#14101 fix $env.FILE_PWD and $env.CURRENT_FILE inside use
  crates/nu-cmd-lang/src/core_commands/use_.rs
  crates/nu-command/tests/commands/use_.rs
Labels: pr:bugfix

#14242 No longer autoload deprecated-dirs
  crates/nu-std/src/lib.rs
  crates/nu-std/std/deprecated_dirs/mod.nu
Labels: pr:breaking-change, std-library, removal-after-deprecation

#14211 Url split query
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/network/url/mod.rs
  crates/nu-command/src/network/url/parse.rs
  crates/nu-command/src/network/url/query.rs
  crates/nu-command/src/network/url/split_query.rs
  crates/nu-command/tests/commands/url/parse.rs
Labels: pr:breaking-change, networking, new-command, pr:commands

#14231 don't include import path in args to aliased external commands
  crates/nu-parser/src/parser.rs
  tests/modules/mod.rs
Labels: pr:bugfix, pr:language

#14263 allow != for polars
  crates/nu_plugin_polars/src/dataframe/values/nu_dataframe/between_values.rs
Labels: pr:plugins, pr:bugfix

#14291 Fix multipart/form-data post example
  crates/nu-command/src/network/http/post.rs
Labels: pr:commands

#14302 Fix ignored `into datetime` test
  crates/nu-command/src/conversions/into/datetime.rs
Labels: tests, datetime-handling

#14328 Bump to dev version 0.100.1
  Cargo.lock
  Cargo.toml
  crates/nu-cli/Cargo.toml
  crates/nu-cmd-base/Cargo.toml
  crates/nu-cmd-extra/Cargo.toml
  crates/nu-cmd-lang/Cargo.toml
  crates/nu-cmd-plugin/Cargo.toml
  crates/nu-color-config/Cargo.toml
  crates/nu-command/Cargo.toml
  crates/nu-derive-value/Cargo.toml
  crates/nu-engine/Cargo.toml
  crates/nu-explore/Cargo.toml
  crates/nu-glob/Cargo.toml
  crates/nu-json/Cargo.toml
  crates/nu-lsp/Cargo.toml
  crates/nu-parser/Cargo.toml
  crates/nu-path/Cargo.toml
  crates/nu-plugin-core/Cargo.toml
  crates/nu-plugin-engine/Cargo.toml
  crates/nu-plugin-protocol/Cargo.toml
  crates/nu-plugin-test-support/Cargo.toml
  crates/nu-plugin/Cargo.toml
  crates/nu-pretty-hex/Cargo.toml
  crates/nu-protocol/Cargo.toml
  crates/nu-std/Cargo.toml
  crates/nu-system/Cargo.toml
  crates/nu-table/Cargo.toml
  crates/nu-term-grid/Cargo.toml
  crates/nu-test-support/Cargo.toml
  crates/nu-utils/Cargo.toml
  crates/nu-utils/src/sample_config/default_config.nu
  crates/nu-utils/src/sample_config/default_env.nu
  crates/nu_plugin_custom_values/Cargo.toml
  crates/nu_plugin_example/Cargo.toml
  crates/nu_plugin_formats/Cargo.toml
  crates/nu_plugin_gstat/Cargo.toml
  crates/nu_plugin_inc/Cargo.toml
  crates/nu_plugin_nu_example/nu_plugin_nu_example.nu
  crates/nu_plugin_polars/Cargo.toml
  crates/nu_plugin_python/nu_plugin_python_example.py
  crates/nu_plugin_query/Cargo.toml
  crates/nu_plugin_stress_internals/Cargo.toml
  crates/nuon/Cargo.toml
Labels: wait-until-after-nushell-release

#14314 Tests: add a test to make sure that function can't use mutable variable
  crates/nu-command/tests/commands/mut_.rs
Labels: wait-until-after-nushell-release

#14295 Allow duration to be added to date
  crates/nu-parser/src/type_check.rs
  crates/nu-protocol/src/value/mod.rs
  tests/repl/test_type_check.rs
Labels: wait-until-after-nushell-release, pr:language

#14299 skip `test_iteration_errors` if `/root` is missing
  crates/nu-glob/src/lib.rs
Labels: wait-until-after-nushell-release

#13875 Fix inconsistency in `ls` sort-order
  crates/nu-command/src/filesystem/ls.rs
  crates/nu-command/tests/commands/ls.rs
Labels: wait-until-after-nushell-release

#14310 make `ls` return "Permission denied" for CWD instead of empty results
  crates/nu-command/src/filesystem/ls.rs
  crates/nu-command/tests/commands/ls.rs
Labels: wait-until-after-nushell-release, file-system

#14293 Remove the `NU_DISABLE_IR` option
  benches/benchmarks.rs
  crates/nu-cli/src/repl.rs
  crates/nu-cmd-lang/src/core_commands/do_.rs
  crates/nu-command/src/debug/profile.rs
  crates/nu-engine/src/eval.rs
  crates/nu-protocol/src/engine/stack.rs
  crates/nu-test-support/src/macros.rs
  src/run.rs
  src/test_bins.rs
  tests/eval/mod.rs
Labels: wait-until-after-nushell-release

#14337 add multiple grouper support to `group-by`
  crates/nu-command/src/filters/group_by.rs
  crates/nu-std/testing.nu
Labels: pr:breaking-change, pr:commands

#14309 make command signature parsing more strict
  crates/nu-command/tests/commands/def.rs
  crates/nu-parser/src/parser.rs
Labels: parser

#11817 Add utouch command from uutils/coreutils
  Cargo.lock
  Cargo.toml
  crates/nu-command/Cargo.toml
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/filesystem/mod.rs
  crates/nu-command/src/filesystem/utouch.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-command/tests/commands/utouch.rs
Labels: coreutils-uutils, pr:commands

#14249 Always load default env/config values
  crates/nu-command/src/env/config/config_env.rs
  crates/nu-command/src/env/config/config_nu.rs
  crates/nu-protocol/tests/into_config.rs
  crates/nu-std/src/lib.rs
  crates/nu-std/std/config/mod.nu
  crates/nu-std/std/mod.nu
  crates/nu-utils/src/default_files/README.md
  crates/nu-utils/src/default_files/default_config.nu
  crates/nu-utils/src/default_files/default_env.nu
  crates/nu-utils/src/default_files/sample_config.nu
  crates/nu-utils/src/default_files/sample_env.nu
  crates/nu-utils/src/default_files/sample_login.nu
  crates/nu-utils/src/default_files/scaffold_config.nu
  crates/nu-utils/src/default_files/scaffold_env.nu
  crates/nu-utils/src/lib.rs
  crates/nu-utils/src/sample_config/default_config.nu
  crates/nu-utils/src/sample_config/default_env.nu
  crates/nu-utils/src/utils.rs
  src/config_files.rs
  src/run.rs
  tests/repl/test_config_path.rs
Labels: configuration

#14019 Deprecate `split-by` command
  crates/nu-command/src/filters/split_by.rs
  crates/nu-protocol/src/errors/shell_error.rs
Labels: pr:breaking-change, deprecation, pr:commands

#14399 truly flexible csv/tsv parsing
  crates/nu-command/src/formats/from/csv.rs
  crates/nu-command/src/formats/from/delimited.rs
  crates/nu-command/src/formats/from/tsv.rs
  crates/nu-command/tests/format_conversions/csv.rs
Labels: pr:breaking-change, pr:commands

#13700 Avoid recomputing fuzzy match scores
  crates/nu-cli/src/completions/command_completions.rs
  crates/nu-cli/src/completions/completion_common.rs
  crates/nu-cli/src/completions/completion_options.rs
  crates/nu-cli/src/completions/custom_completions.rs
  crates/nu-cli/src/completions/directory_completions.rs
  crates/nu-cli/src/completions/dotnu_completions.rs
  crates/nu-cli/src/completions/file_completions.rs
  crates/nu-cli/src/completions/flag_completions.rs
  crates/nu-cli/src/completions/mod.rs
  crates/nu-cli/src/completions/operator_completions.rs
  crates/nu-cli/src/completions/variable_completions.rs
  crates/nu-cli/tests/completions/mod.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/state_working_set.rs
Labels: completions

#14344 Change append operator to concatenation operator
  crates/nu-cli/src/completions/operator_completions.rs
  crates/nu-command/src/help/help_operators.rs
  crates/nu-command/tests/commands/assignment/append_assign.rs
  crates/nu-command/tests/commands/assignment/concat.rs
  crates/nu-command/tests/commands/assignment/mod.rs
  crates/nu-command/tests/commands/math/mod.rs
  crates/nu-command/tests/commands/url/join.rs
  crates/nu-engine/src/compile/operator.rs
  crates/nu-engine/src/eval.rs
  crates/nu-engine/src/eval_ir.rs
  crates/nu-parser/src/parser.rs
  crates/nu-parser/src/type_check.rs
  crates/nu-plugin-engine/src/interface/tests.rs
  crates/nu-protocol/src/ast/operator.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu-std/std/help/mod.nu
  crates/nu_plugin_custom_values/src/cool_custom_value.rs
  tests/const_/mod.rs
  tests/eval/mod.rs
Labels: pr:breaking-change, pr:release-note-mention, pr:language

#14347 make std help more user friendly
  crates/nu-std/std/help/mod.nu
Labels: std-library, pr:bugfix

#14425 Remove `ListStream` type
  crates/nu-command/src/database/commands/into_sqlite.rs
  crates/nu-command/src/random/dice.rs
  crates/nu-command/src/system/nu_check.rs
  crates/nu-parser/src/type_check.rs
  crates/nu-protocol/src/pipeline/pipeline_data.rs
  crates/nu-protocol/src/ty.rs
  crates/nu_plugin_example/src/commands/for_each.rs
  crates/nu_plugin_example/src/commands/generate.rs
Labels: refactor

#14385 deprecate --ignore-shell-errors and --ignore-program-errors in `do`
  crates/nu-cmd-lang/src/core_commands/do_.rs
  crates/nu-command/tests/commands/do_.rs
  crates/nu-utils/src/default_files/default_env.nu
Labels: deprecation

#14334 add `from ndnuon` and `to ndnuon` to stdlib
  crates/nu-std/std/formats/mod.nu
  crates/nu-std/tests/test_formats.nu
  crates/nu-std/tests/test_std_formats.nu
Labels: file-format, std-library

#14467 Allow inherited environment variables
  crates/nu-utils/src/default_files/default_env.nu
Labels: configuration, pr:bugfix

#14345 Make `Hooks` fields non-optional to match the new config defaults
  crates/nu-cli/src/repl.rs
  crates/nu-cmd-base/src/hook.rs
  crates/nu-command/src/system/exec.rs
  crates/nu-command/src/system/run_external.rs
  crates/nu-protocol/src/config/hooks.rs
  src/test_bins.rs
  tests/hooks/mod.rs
Labels: configuration, hooks, pr:breaking-change

#14369 Add `Filesize` type
  crates/nu-cmd-extra/src/extra/bits/into.rs
  crates/nu-cmd-extra/src/extra/conversions/fmt.rs
  crates/nu-command/src/charting/hashable_value.rs
  crates/nu-command/src/conversions/fill.rs
  crates/nu-command/src/conversions/into/binary.rs
  crates/nu-command/src/conversions/into/int.rs
  crates/nu-command/src/database/values/sqlite.rs
  crates/nu-command/src/formats/to/json.rs
  crates/nu-command/src/formats/to/msgpack.rs
  crates/nu-command/src/formats/to/toml.rs
  crates/nu-command/src/formats/to/yaml.rs
  crates/nu-command/src/math/avg.rs
  crates/nu-command/src/math/mode.rs
  crates/nu-command/src/random/binary.rs
  crates/nu-command/src/random/chars.rs
  crates/nu-command/tests/format_conversions/nuon.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/ast/unit.rs
  crates/nu-protocol/src/ir/mod.rs
  crates/nu-protocol/src/value/filesize.rs
  crates/nu-protocol/src/value/from_value.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu_plugin_formats/src/to/plist.rs
  crates/nuon/src/from.rs
  crates/nuon/src/lib.rs
  crates/nuon/src/to.rs
Labels: refactor, pr:bugfix, pr:errors

#14319 Deprecate `date to-record` and `date to-table`
  crates/nu-command/src/conversions/into/record.rs
  crates/nu-command/src/date/to_record.rs
  crates/nu-command/src/date/to_table.rs
  crates/nu-protocol/src/signature.rs
  crates/nu-std/std/dt/mod.nu
Labels: deprecation

#14424 fix: Respect sort in custom completions
  crates/nu-cli/src/completions/custom_completions.rs
  crates/nu-cli/tests/completions/mod.rs
Labels: pr:release-note-mention

#14418 Start to Add WASM Support Again
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/nu-cli/Cargo.toml
  crates/nu-cmd-base/Cargo.toml
  crates/nu-cmd-extra/Cargo.toml
  crates/nu-cmd-lang/Cargo.toml
  crates/nu-cmd-lang/src/core_commands/describe.rs
  crates/nu-cmd-lang/src/core_commands/do_.rs
  crates/nu-cmd-lang/src/core_commands/ignore.rs
  crates/nu-cmd-lang/src/core_commands/version.rs
  crates/nu-cmd-lang/src/lib.rs
  crates/nu-color-config/Cargo.toml
  crates/nu-command/Cargo.toml
  crates/nu-command/src/debug/info.rs
  crates/nu-command/src/debug/inspect.rs
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/env/config/config_.rs
  crates/nu-command/src/env/config/config_env.rs
  crates/nu-command/src/env/config/config_nu.rs
  crates/nu-command/src/experimental/is_admin.rs
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/src/filters/mod.rs
  crates/nu-command/src/filters/tee.rs
  crates/nu-command/src/lib.rs
  crates/nu-command/src/network/mod.rs
  crates/nu-command/src/viewers/griddle.rs
  crates/nu-command/src/viewers/table.rs
  crates/nu-engine/Cargo.toml
  crates/nu-engine/src/eval_ir.rs
  crates/nu-parser/Cargo.toml
  crates/nu-path/src/tilde.rs
  crates/nu-path/src/trailing_slash.rs
  crates/nu-plugin/Cargo.toml
  crates/nu-protocol/Cargo.toml
  crates/nu-protocol/src/errors/shell_error.rs
  crates/nu-protocol/src/lib.rs
  crates/nu-protocol/src/pipeline/byte_stream.rs
  crates/nu-std/Cargo.toml
  crates/nu-table/Cargo.toml
  crates/nu-term-grid/Cargo.toml
  crates/nu-utils/Cargo.toml
  crates/nu-utils/src/filesystem.rs
  crates/nu-utils/src/lib.rs
  crates/nu-utils/src/utils.rs
  crates/nu_plugin_custom_values/Cargo.toml
  crates/nuon/Cargo.toml
  toolkit.nu
Labels: platform-specific, build-package, pr:release-note-mention
