Repository nushell/nushell, pull requests merged in 2024-03, with the labels that each got.

#12086 fix ls with empty string
  crates/nu-command/src/filesystem/ls.rs
  crates/nu-command/tests/commands/ls.rs
Labels: pr:bugfix

#11654 Allow for stacks to have parents
  crates/nu-cli/src/nu_highlight.rs
  crates/nu-cli/src/prompt_update.rs
  crates/nu-cli/src/repl.rs
  crates/nu-cmd-base/src/util.rs
  crates/nu-protocol/src/engine/stack.rs
  crates/nu-protocol/src/shell_error.rs
  src/run.rs
Labels: wait-until-after-nushell-release

#12137 Refactor nu-check
  crates/nu-command/src/system/nu_check.rs
  crates/nu-command/tests/commands/nu_check.rs
Labels: pr:breaking-change, pr:commands

#12029 Add support for engine calls from plugins
  crates/nu-plugin/src/lib.rs
  crates/nu-plugin/src/plugin/context.rs
  crates/nu-plugin/src/plugin/declaration.rs
  crates/nu-plugin/src/plugin/interface.rs
  crates/nu-plugin/src/plugin/interface/engine.rs
  crates/nu-plugin/src/plugin/interface/engine/tests.rs
  crates/nu-plugin/src/plugin/interface/plugin.rs
  crates/nu-plugin/src/plugin/interface/plugin/tests.rs
  crates/nu-plugin/src/plugin/mod.rs
  crates/nu-plugin/src/protocol/mod.rs
  crates/nu-plugin/src/protocol/plugin_custom_value.rs
  crates/nu-plugin/src/protocol/plugin_custom_value/tests.rs
  crates/nu-plugin/src/serializers/tests.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu_plugin_custom_values/src/main.rs
  crates/nu_plugin_example/src/example.rs
  crates/nu_plugin_example/src/main.rs
  crates/nu_plugin_example/src/nu/mod.rs
  crates/nu_plugin_formats/src/lib.rs
  crates/nu_plugin_formats/src/main.rs
  crates/nu_plugin_gstat/src/main.rs
  crates/nu_plugin_gstat/src/nu/mod.rs
  crates/nu_plugin_inc/src/inc.rs
  crates/nu_plugin_inc/src/main.rs
  crates/nu_plugin_inc/src/nu/mod.rs
  crates/nu_plugin_query/src/main.rs
  crates/nu_plugin_query/src/nu/mod.rs
  crates/nu_plugin_stream_example/README.md
  crates/nu_plugin_stream_example/src/example.rs
  crates/nu_plugin_stream_example/src/main.rs
  crates/nu_plugin_stream_example/src/nu/mod.rs
  tests/plugins/custom_values.rs
  tests/plugins/stream.rs
Labels: wait-until-after-nushell-release, pr:breaking-change, pr:api-change

#12064 Keep plugins persistently running in the background
  Cargo.lock
  crates/nu-cmd-lang/src/core_commands/mod.rs
  crates/nu-cmd-lang/src/core_commands/plugin.rs
  crates/nu-cmd-lang/src/core_commands/plugin_list.rs
  crates/nu-cmd-lang/src/core_commands/plugin_stop.rs
  crates/nu-cmd-lang/src/core_commands/version.rs
  crates/nu-cmd-lang/src/default_context.rs
  crates/nu-engine/src/scope.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-plugin/Cargo.toml
  crates/nu-plugin/src/lib.rs
  crates/nu-plugin/src/plugin/context.rs
  crates/nu-plugin/src/plugin/declaration.rs
  crates/nu-plugin/src/plugin/gc.rs
  crates/nu-plugin/src/plugin/identity.rs
  crates/nu-plugin/src/plugin/interface/engine.rs
  crates/nu-plugin/src/plugin/interface/plugin.rs
  crates/nu-plugin/src/plugin/interface/plugin/tests.rs
  crates/nu-plugin/src/plugin/interface/test_util.rs
  crates/nu-plugin/src/plugin/mod.rs
  crates/nu-plugin/src/plugin/persistent.rs
  crates/nu-plugin/src/plugin/source.rs
  crates/nu-plugin/src/protocol/mod.rs
  crates/nu-plugin/src/protocol/plugin_custom_value.rs
  crates/nu-plugin/src/protocol/plugin_custom_value/tests.rs
  crates/nu-plugin/src/protocol/test_util.rs
  crates/nu-plugin/src/serializers/tests.rs
  crates/nu-protocol/src/config/mod.rs
  crates/nu-protocol/src/config/plugin_gc.rs
  crates/nu-protocol/src/engine/command.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/state_delta.rs
  crates/nu-protocol/src/engine/state_working_set.rs
  crates/nu-protocol/src/lib.rs
  crates/nu-protocol/src/plugin/identity.rs
  crates/nu-protocol/src/plugin/mod.rs
  crates/nu-protocol/src/plugin/registered.rs
  crates/nu-protocol/src/plugin/signature.rs
  crates/nu-utils/src/sample_config/default_config.nu
  crates/nu_plugin_example/src/example.rs
  crates/nu_plugin_example/src/nu/mod.rs
  src/tests/test_config.rs
  tests/main.rs
  tests/plugin_persistence/mod.rs
Labels: pr:breaking-change, pr:release-note-mention, pr:language

#12118 Use XDG_CONFIG_HOME before default config directory
  Cargo.lock
  Cargo.toml
  crates/nu-path/src/helpers.rs
  crates/nu-path/src/lib.rs
  crates/nu-protocol/src/errors/shell_error.rs
  src/main.rs
  src/tests/test_config_path.rs
Labels: pr:breaking-change

#12166 Add environment engine calls for plugins
  crates/nu-plugin/src/plugin/context.rs
  crates/nu-plugin/src/plugin/interface/engine.rs
  crates/nu-plugin/src/plugin/interface/engine/tests.rs
  crates/nu-plugin/src/plugin/interface/plugin.rs
  crates/nu-plugin/src/plugin/mod.rs
  crates/nu-plugin/src/protocol/mod.rs
  crates/nu_plugin_example/src/example.rs
  crates/nu_plugin_example/src/nu/mod.rs
  crates/nu_plugin_gstat/src/gstat.rs
  crates/nu_plugin_gstat/src/nu/mod.rs
  tests/plugins/env.rs
  tests/plugins/mod.rs
Labels: plugins

#12209 Fix `$in` value for `insert` closure
  crates/nu-command/src/filters/insert.rs
  crates/nu-command/src/filters/update.rs
  crates/nu-command/src/filters/upsert.rs
  crates/nu-command/tests/commands/insert.rs
  crates/nu-protocol/src/value/mod.rs
Labels: pr:commands

#11948 `to json -r` not removing whitespaces fix
  Cargo.lock
  crates/nu-command/tests/commands/cal.rs
  crates/nu-command/tests/commands/each.rs
  crates/nu-command/tests/commands/find.rs
  crates/nu-command/tests/commands/math/mod.rs
  crates/nu-command/tests/commands/sort_by.rs
  crates/nu-json/Cargo.toml
  crates/nu-json/src/ser.rs
  crates/nu-std/tests/test_formats.nu
  src/tests/test_converters.rs
  src/tests/test_strings.rs
  src/tests/test_table_operations.rs
  tests/shell/pipeline/commands/internal.rs
Labels: pr:breaking-change

#12184 nu-explore/ Use hex-dump for binary data
  Cargo.lock
  crates/nu-explore/Cargo.toml
  crates/nu-explore/src/explore.rs
  crates/nu-explore/src/lib.rs
  crates/nu-explore/src/views/binary/binary_widget.rs
  crates/nu-explore/src/views/binary/mod.rs
  crates/nu-explore/src/views/mod.rs
  crates/nu-pretty-hex/src/pretty_hex.rs
Labels: pr:commands, pr:screenshot

#12243 Support for getting help text from a plugin command
  Cargo.lock
  crates/nu-plugin/src/plugin/context.rs
  crates/nu-plugin/src/plugin/interface/engine.rs
  crates/nu-plugin/src/plugin/interface/engine/tests.rs
  crates/nu-plugin/src/plugin/interface/plugin.rs
  crates/nu-plugin/src/protocol/mod.rs
  crates/nu_plugin_example/src/commands/main.rs
  crates/nu_plugin_query/Cargo.toml
  crates/nu_plugin_query/src/query.rs
Labels: plugins, pr:api-change

#12249 Initial --params implementation
  crates/nu-command/src/database/commands/into_sqlite.rs
  crates/nu-command/src/database/commands/query_db.rs
  crates/nu-command/src/database/values/sqlite.rs
  crates/nu-command/src/example_test.rs
  crates/nu-command/src/lib.rs
  crates/nu-command/src/stor/create.rs
  crates/nu-command/tests/commands/database/mod.rs
  crates/nu-command/tests/commands/database/query_db.rs
Labels: pr:breaking-change, pr:commands

#12232 ls, rm, cp, open, touch, mkdir: Don't expand tilde if input path is quoted string or a variable.
  crates/nu-cli/src/repl.rs
  crates/nu-command/src/env/load_env.rs
  crates/nu-command/src/filesystem/ls.rs
  crates/nu-command/src/filesystem/open.rs
  crates/nu-command/src/filesystem/rm.rs
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/src/filesystem/ucp.rs
  crates/nu-command/src/filesystem/umkdir.rs
  crates/nu-command/src/filesystem/umv.rs
  crates/nu-command/src/path/exists.rs
  crates/nu-command/src/path/expand.rs
  crates/nu-command/tests/commands/ls.rs
  crates/nu-command/tests/commands/move_/umv.rs
  crates/nu-command/tests/commands/rm.rs
  crates/nu-command/tests/commands/touch.rs
  crates/nu-command/tests/commands/ucp.rs
  crates/nu-command/tests/commands/umkdir.rs
  crates/nu-engine/src/eval.rs
  crates/nu-engine/src/glob_from.rs
  crates/nu-path/src/expansions.rs
  crates/nu-protocol/src/value/glob.rs
  tests/path/expand_path.rs
Labels: pr:breaking-change, pr:bugfix

#11684 Initial implementation for uutils uname
  Cargo.lock
  Cargo.toml
  crates/nu-command/Cargo.toml
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/system/mod.rs
  crates/nu-command/src/system/uname.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-command/tests/commands/uname.rs
Labels: coreutils-uutils

#12277 Change default algorithm in `detect columns`
  Cargo.lock
  crates/nu-command/Cargo.toml
  crates/nu-command/src/strings/detect_columns.rs
  crates/nu-command/src/strings/guess_width.rs
  crates/nu-command/src/strings/mod.rs
  crates/nu-command/tests/commands/detect_columns.rs
Labels: pr:bugfix, pr:commands

#12284 Remove dead `impl PluginEncoder for EncodingType`
  crates/nu-plugin/src/serializers/mod.rs
Labels: pr:api-change

#12283 Follow API guidelines for public types
  crates/nu-cmd-lang/src/core_commands/try_.rs
  crates/nu-engine/src/env.rs
  crates/nu-engine/src/eval.rs
  crates/nu-protocol/src/ast/unit.rs
  crates/nu-protocol/src/config/mod.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/pattern_match.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-protocol/src/pipeline_data/mod.rs
Labels: pr:api-change

#12294 Always pretty print binary values in `table`
  crates/nu-command/src/system/run_external.rs
  crates/nu-command/src/viewers/table.rs
Labels: pr:breaking-change, pr:bugfix, pr:commands

#12279 Change PluginCommand API to be more like Command
  crates/nu-plugin-test-support/src/fake_register.rs
  crates/nu-plugin-test-support/src/lib.rs
  crates/nu-plugin-test-support/src/plugin_test.rs
  crates/nu-plugin-test-support/tests/custom_value/mod.rs
  crates/nu-plugin-test-support/tests/hello/mod.rs
  crates/nu-plugin-test-support/tests/lowercase/mod.rs
  crates/nu-plugin/src/lib.rs
  crates/nu-plugin/src/plugin/command.rs
  crates/nu-plugin/src/plugin/interface/engine/tests.rs
  crates/nu-plugin/src/plugin/mod.rs
  crates/nu-plugin/src/serializers/tests.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/example.rs
  crates/nu-protocol/src/plugin/signature.rs
  crates/nu_plugin_custom_values/src/drop_check.rs
  crates/nu_plugin_custom_values/src/generate.rs
  crates/nu_plugin_custom_values/src/generate2.rs
  crates/nu_plugin_custom_values/src/update.rs
  crates/nu_plugin_custom_values/src/update_arg.rs
  crates/nu_plugin_example/src/commands/collect_external.rs
  crates/nu_plugin_example/src/commands/config.rs
  crates/nu_plugin_example/src/commands/disable_gc.rs
  crates/nu_plugin_example/src/commands/env.rs
  crates/nu_plugin_example/src/commands/for_each.rs
  crates/nu_plugin_example/src/commands/generate.rs
  crates/nu_plugin_example/src/commands/main.rs
  crates/nu_plugin_example/src/commands/one.rs
  crates/nu_plugin_example/src/commands/seq.rs
  crates/nu_plugin_example/src/commands/sum.rs
  crates/nu_plugin_example/src/commands/three.rs
  crates/nu_plugin_example/src/commands/two.rs
  crates/nu_plugin_example/src/example.rs
  crates/nu_plugin_example/src/lib.rs
  crates/nu_plugin_example/src/main.rs
  crates/nu_plugin_formats/src/from/eml.rs
  crates/nu_plugin_formats/src/from/ics.rs
  crates/nu_plugin_formats/src/from/ini.rs
  crates/nu_plugin_formats/src/from/vcf.rs
  crates/nu_plugin_gstat/src/nu/mod.rs
  crates/nu_plugin_inc/src/nu/mod.rs
  crates/nu_plugin_query/src/query.rs
  crates/nu_plugin_query/src/query_json.rs
  crates/nu_plugin_query/src/query_web.rs
  crates/nu_plugin_query/src/query_xml.rs
  tests/plugins/register.rs
Labels: pr:breaking-change, pr:api-change

#12309 Rename `Value::CustomValue` to `Value::Custom`
  crates/nu-cmd-dataframe/src/dataframe/eager/query_df.rs
  crates/nu-cmd-dataframe/src/dataframe/lazy/collect.rs
  crates/nu-cmd-dataframe/src/dataframe/lazy/to_lazy.rs
  crates/nu-cmd-dataframe/src/dataframe/values/nu_dataframe/custom_value.rs
  crates/nu-cmd-dataframe/src/dataframe/values/nu_dataframe/mod.rs
  crates/nu-cmd-dataframe/src/dataframe/values/nu_dataframe/operations.rs
  crates/nu-cmd-dataframe/src/dataframe/values/nu_expression/custom_value.rs
  crates/nu-cmd-dataframe/src/dataframe/values/nu_expression/mod.rs
  crates/nu-cmd-dataframe/src/dataframe/values/nu_lazyframe/custom_value.rs
  crates/nu-cmd-dataframe/src/dataframe/values/nu_lazyframe/mod.rs
  crates/nu-cmd-dataframe/src/dataframe/values/nu_lazygroupby/custom_value.rs
  crates/nu-cmd-dataframe/src/dataframe/values/nu_lazygroupby/mod.rs
  crates/nu-cmd-dataframe/src/dataframe/values/nu_when/custom_value.rs
  crates/nu-cmd-dataframe/src/dataframe/values/nu_when/mod.rs
  crates/nu-cmd-lang/src/core_commands/describe.rs
  crates/nu-cmd-lang/src/example_support.rs
  crates/nu-color-config/src/style_computer.rs
  crates/nu-command/src/conversions/into/string.rs
  crates/nu-command/src/database/values/sqlite.rs
  crates/nu-command/src/debug/explain.rs
  crates/nu-command/src/filters/columns.rs
  crates/nu-command/src/filters/find.rs
  crates/nu-command/src/filters/values.rs
  crates/nu-command/src/formats/to/delimited.rs
  crates/nu-command/src/formats/to/json.rs
  crates/nu-command/src/formats/to/nuon.rs
  crates/nu-command/src/formats/to/text.rs
  crates/nu-command/src/formats/to/toml.rs
  crates/nu-command/src/formats/to/yaml.rs
  crates/nu-command/src/sort_utils.rs
  crates/nu-command/src/stor/create.rs
  crates/nu-command/src/stor/delete.rs
  crates/nu-command/src/stor/export.rs
  crates/nu-command/src/stor/import.rs
  crates/nu-command/src/stor/insert.rs
  crates/nu-command/src/stor/reset.rs
  crates/nu-command/src/stor/update.rs
  crates/nu-command/src/viewers/table.rs
  crates/nu-plugin-test-support/tests/custom_value/mod.rs
  crates/nu-plugin/src/plugin/interface/engine/tests.rs
  crates/nu-plugin/src/protocol/plugin_custom_value.rs
  crates/nu-plugin/src/protocol/plugin_custom_value/tests.rs
  crates/nu-plugin/src/protocol/test_util.rs
  crates/nu-plugin/src/serializers/tests.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu_plugin_custom_values/src/cool_custom_value.rs
  crates/nu_plugin_custom_values/src/drop_check.rs
  crates/nu_plugin_custom_values/src/second_custom_value.rs
Labels: pr:breaking-change, pr:api-change

#12308 Exposed the recursion limit value as a config option
  crates/nu-engine/src/eval.rs
  crates/nu-protocol/src/config/mod.rs
  crates/nu-utils/src/sample_config/default_config.nu
Labels: configuration

#12313 Remove ambiguous `into bits` impl for `date`
  crates/nu-cmd-extra/src/extra/bits/into.rs
Labels: pr:breaking-change, pr:commands
