Repository nushell/nushell, pull requests merged in 2024-01, with the labels that each got.

#11131 remove `std clip`
  crates/nu-std/std/mod.nu
Labels: breaking-change, release-note-mention, removal-after-deprecation

#11515 `path exists`: Empty path shouldn't be marked as exists
  crates/nu-command/src/path/exists.rs
Labels: wait-until-after-nushell-release

#11475 add type check during eval time
  crates/nu-engine/src/eval.rs
  crates/nu-protocol/src/ty.rs
  crates/nu-std/std/log.nu
  src/tests/test_custom_commands.rs
  src/tests/test_type_check.rs
Labels: wait-until-after-nushell-release

#11504 Fix `commandline --cursor-end`
  crates/nu-cli/src/commands/commandline.rs
  src/tests/test_commandline.rs
Labels: wait-until-after-nushell-release

#10232 Fix memory consumption of into sqlite
  Cargo.lock
  crates/nu-command/Cargo.toml
  crates/nu-command/src/database/commands/into_sqlite.rs
  crates/nu-command/tests/commands/database/into_sqlite.rs
  crates/nu-command/tests/commands/database/mod.rs
  crates/nu-command/tests/commands/mod.rs
Labels: performance, streaming

#10822 Initial implementation of umv from uutils
  Cargo.lock
  crates/nu-command/Cargo.toml
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/filesystem/mod.rs
  crates/nu-command/src/filesystem/umv.rs
  crates/nu-command/tests/commands/move_/mod.rs
  crates/nu-command/tests/commands/move_/umv.rs
Labels: file-system, coreutils-uutils

#11562 Evaluate string interpolation at parse time
  crates/nu-engine/src/eval.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-protocol/src/eval_const.rs
  crates/nu-protocol/src/parse_error.rs
  tests/const_/mod.rs
  tests/modules/mod.rs
Labels: pr:language

#11581 Plugin explicit flags
  crates/nu-plugin/src/protocol/evaluated_call.rs
  crates/nu_plugin_example/src/example.rs
  crates/nu_plugin_inc/src/nu/mod.rs
  crates/nu_plugin_query/src/query_web.rs
  tests/plugins/core_inc.rs
Labels: pr:breaking-change

#11541 Remove `--flag: bool` support
  crates/nu-command/tests/commands/def.rs
  crates/nu-parser/src/parser.rs
  src/tests/test_custom_commands.rs
Labels: pr:breaking-change, removal-after-deprecation

#11331 hide `std testing`
  .github/workflows/ci.yml
  crates/nu-std/src/lib.rs
  crates/nu-std/testing.nu
  toolkit.nu
Labels: pr:breaking-change, release-note-mention, removal-after-deprecation

#11672 Fix precedence of 'not' operator
  crates/nu-parser/src/parser.rs
  src/tests/test_math.rs
Labels: pr:breaking-change
