Repository nushell/nushell, pull requests merged in 2024-07, with the labels that each got.

#13254 Use pipeline data for http post|put|patch|delete commands.
  crates/nu-cmd-extra/src/extra/formats/to/html.rs
  crates/nu-cmd-lang/src/core_commands/collect.rs
  crates/nu-command/src/debug/metadata.rs
  crates/nu-command/src/debug/metadata_set.rs
  crates/nu-command/src/filesystem/ls.rs
  crates/nu-command/src/filesystem/open.rs
  crates/nu-command/src/formats/from/json.rs
  crates/nu-command/src/formats/to/json.rs
  crates/nu-command/src/formats/to/text.rs
  crates/nu-command/src/network/http/client.rs
  crates/nu-command/src/network/http/delete.rs
  crates/nu-command/src/network/http/get.rs
  crates/nu-command/src/network/http/head.rs
  crates/nu-command/src/network/http/options.rs
  crates/nu-command/src/network/http/patch.rs
  crates/nu-command/src/network/http/post.rs
  crates/nu-command/src/network/http/put.rs
  crates/nu-command/src/viewers/table.rs
  crates/nu-command/tests/commands/network/http/delete.rs
  crates/nu-command/tests/commands/network/http/patch.rs
  crates/nu-command/tests/commands/network/http/post.rs
  crates/nu-command/tests/commands/network/http/put.rs
  crates/nu-plugin-core/src/interface/tests.rs
  crates/nu-protocol/src/pipeline/metadata.rs
Labels: pr:commands

#13239 `for` - remove deprecated `--numbered`
  crates/nu-cmd-lang/src/core_commands/for_.rs
Labels: pr:commands

#13289 Support default offset with dateformat option
  crates/nu-command/src/conversions/into/datetime.rs
Labels: pr:commands

#13300 change duration mod duration to duration instead of float
  crates/nu-parser/src/type_check.rs
Labels: pr:bugfix

#13299 feat: replace `unfold` with `from_fn` for the generate command
  crates/nu-command/src/generators/generate.rs
Labels: pr:commands

#13296 don't show result in error make examples
  crates/nu-cmd-lang/src/core_commands/error_make.rs
  crates/nu-std/tests/test_help.nu
Labels: pr:bugfix

#13307 `help operators` refactor
  crates/nu-command/src/help/help_operators.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/ast/expression.rs
  crates/nu-protocol/src/ast/operator.rs
Labels: refactor, pr:commands

#13335 Make `polars unpivot` consistent with `polars pivot`
  crates/nu_plugin_polars/src/dataframe/eager/unpivot.rs
Labels: dataframe, pr:breaking-change, pr:commands

#12906 Document public types in `nu-protocol`
  crates/nu-protocol/src/alias.rs
  crates/nu-protocol/src/ast/call.rs
  crates/nu-protocol/src/ast/cell_path.rs
  crates/nu-protocol/src/ast/expr.rs
  crates/nu-protocol/src/ast/expression.rs
  crates/nu-protocol/src/ast/import_pattern.rs
  crates/nu-protocol/src/ast/match_pattern.rs
  crates/nu-protocol/src/ast/mod.rs
  crates/nu-protocol/src/config/mod.rs
  crates/nu-protocol/src/debugger/mod.rs
  crates/nu-protocol/src/engine/mod.rs
  crates/nu-protocol/src/errors/cli_error.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-protocol/src/eval_const.rs
  crates/nu-protocol/src/pipeline/byte_stream.rs
  crates/nu-protocol/src/pipeline/list_stream.rs
  crates/nu-protocol/src/process/mod.rs
  crates/nu-protocol/src/signature.rs
  crates/nu-protocol/src/span.rs
  crates/nu-protocol/src/value/record.rs
Labels: documentation

#13361 Fix `select` cell path renaming behavior
  crates/nu-command/src/filters/select.rs
  crates/nu-command/tests/commands/select.rs
Labels: pr:breaking-change, pr:release-note-mention

#12907 Add top-level crate documentation/READMEs
  crates/nu-cli/README.md
  crates/nu-cli/src/lib.rs
  crates/nu-cmd-base/README.md
  crates/nu-cmd-base/src/lib.rs
  crates/nu-cmd-extra/src/lib.rs
  crates/nu-cmd-lang/src/lib.rs
  crates/nu-color-config/README.md
  crates/nu-color-config/src/lib.rs
  crates/nu-command/README.md
  crates/nu-command/src/lib.rs
  crates/nu-engine/README.md
  crates/nu-engine/src/lib.rs
  crates/nu-explore/README.md
  crates/nu-explore/src/lib.rs
  crates/nu-json/README.md
  crates/nu-json/src/lib.rs
  crates/nu-lsp/README.md
  crates/nu-lsp/src/lib.rs
  crates/nu-parser/README.md
  crates/nu-parser/src/lib.rs
  crates/nu-path/src/lib.rs
  crates/nu-protocol/src/lib.rs
  crates/nu-protocol/src/pipeline/byte_stream.rs
  crates/nu-std/README.md
  crates/nu-std/src/lib.rs
  crates/nu-system/README.md
  crates/nu-system/src/lib.rs
  crates/nu-table/README.md
  crates/nu-table/src/lib.rs
  crates/nu-term-grid/README.md
  crates/nu-term-grid/src/lib.rs
  crates/nu-test-support/README.md
  crates/nu-test-support/src/lib.rs
  crates/nu-utils/README.md
  crates/nu-utils/src/lib.rs
  crates/nuon/README.md
Labels: documentation

#13352 JSON format output keeps braces on same line (issue #13326)
  Cargo.lock
  crates/nu-json/Cargo.toml
  crates/nu-json/src/ser.rs
  crates/nu-json/tests/main.rs
Labels: file-format, pr:breaking-change

#13377 Deprecate `group` in favor of `chunks`
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/filters/chunks.rs
  crates/nu-command/src/filters/group.rs
  crates/nu-command/src/filters/mod.rs
  crates/nu-command/tests/commands/chunks.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-protocol/src/errors/cli_error.rs
  crates/nu-protocol/src/errors/mod.rs
  crates/nu-protocol/src/errors/parse_warning.rs
  crates/nu-protocol/src/pipeline/pipeline_data.rs
  crates/nu-protocol/src/ty.rs
Labels: pr:breaking-change, pr:commands, pr:errors

#13386 Remove `default` list-diving behaviour
  crates/nu-command/src/filters/default.rs
  crates/nu-command/tests/commands/default.rs
Labels: pr:breaking-change, pr:commands

#13387 Remove unused field in `StateWorkingSet`
  crates/nu-protocol/src/engine/state_working_set.rs
Labels: refactor

#13357 Overhaul `$in` expressions
  crates/nu-cli/src/syntax_highlight.rs
  crates/nu-cmd-lang/src/example_support.rs
  crates/nu-command/src/example_test.rs
  crates/nu-command/tests/commands/redirection.rs
  crates/nu-engine/src/compile/builder.rs
  crates/nu-engine/src/compile/expression.rs
  crates/nu-engine/src/eval.rs
  crates/nu-engine/src/eval_ir.rs
  crates/nu-parser/src/flatten.rs
  crates/nu-parser/src/lite_parser.rs
  crates/nu-parser/src/parser.rs
  crates/nu-parser/tests/test_parser.rs
  crates/nu-protocol/src/ast/block.rs
  crates/nu-protocol/src/ast/expr.rs
  crates/nu-protocol/src/ast/expression.rs
  crates/nu-protocol/src/ast/pipeline.rs
  crates/nu-protocol/src/debugger/profiler.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-protocol/src/eval_const.rs
  crates/nu-protocol/src/ir/display.rs
  crates/nu-protocol/src/ir/mod.rs
  crates/nuon/src/from.rs
  tests/repl/test_engine.rs
  tests/repl/test_type_check.rs
Labels: pr:breaking-change, pr:language

#13401 Refactor `window`
  crates/nu-command/src/filters/chunks.rs
  crates/nu-command/src/filters/window.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-command/tests/commands/window.rs
Labels: pr:breaking-change, refactor, pr:commands

#13398 don't allow break/continue in `each` and `items` command
  crates/nu-cmd-lang/src/core_commands/break_.rs
  crates/nu-cmd-lang/src/core_commands/continue_.rs
  crates/nu-command/src/filters/each.rs
  crates/nu-command/src/filters/items.rs
  crates/nu-command/tests/commands/break_.rs
  crates/nu-command/tests/commands/each.rs
Labels: pr:language

#13393 generate: switch the position of <initial> and <closure>, so the closure can have default parameters
  crates/nu-command/src/generators/generate.rs
  crates/nu-command/tests/commands/generate.rs
Labels: pr:breaking-change, pr:commands

#13382 Use directories for autoloading
  Cargo.lock
  Cargo.toml
  crates/nu-cli/tests/completions/mod.rs
  crates/nu-protocol/Cargo.toml
  crates/nu-protocol/src/eval_const.rs
  src/config_files.rs
Labels: pr:release-note-mention

#13408 Tiny make up to the documentation of `reduce`
  crates/nu-command/src/filters/reduce.rs
Labels: documentation

#13414 Make parsing for unknown args in known externals like normal external calls
  crates/nu-parser/src/flatten.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/syntax_shape.rs
  tests/repl/test_custom_commands.rs
  tests/repl/test_known_external.rs
Labels: pr:bugfix

#13417 Fix output format borken in `char --list`
  crates/nu-command/src/strings/char_.rs
Labels: pr:bugfix, pr:commands

#13416 Fix setting metadata on byte streams
  crates/nu-command/src/debug/metadata_set.rs
Labels: pr:bugfix

#13429 Update query-web example to use new chunks
  crates/nu_plugin_query/src/query_web.rs
Labels: wait-until-after-nushell-release, pr:commands

#13467 IR: fix incorrect capturing of subexpressions
  crates/nu-engine/src/compile/expression.rs
  tests/shell/pipeline/commands/external.rs
Labels: pr:bugfix, ir-compiler

#13321 Keep forward slash when autocomplete on Windows
  crates/nu-cli/src/completions/completion_common.rs
  crates/nu-cli/tests/completions/mod.rs
  crates/nu-cli/tests/completions/support/completions_helpers.rs
Labels: wait-until-after-nushell-release

#13181 feat: make ctrlc available to plugins
  crates/nu-plugin-core/src/interface/mod.rs
  crates/nu-plugin-core/src/interface/tests.rs
  crates/nu-plugin-core/src/util/mod.rs
  crates/nu-plugin-engine/src/interface/mod.rs
  crates/nu-plugin-engine/src/persistent.rs
  crates/nu-plugin-protocol/src/lib.rs
  crates/nu-plugin/src/plugin/interface/mod.rs
  crates/nu-protocol/src/engine/ctrlc.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/mod.rs
  crates/nu-protocol/src/engine/sequence.rs
  crates/nu-protocol/src/pipeline/signals.rs
  crates/nu-protocol/src/plugin/registered.rs
  crates/nu_plugin_example/src/commands/ctrlc.rs
  crates/nu_plugin_example/src/commands/mod.rs
  crates/nu_plugin_example/src/lib.rs
  src/signals.rs
Labels: pr:plugins, wait-until-after-nushell-release, signal-cancel

#13449 Add "--as-columns" flag to `polars into-df`
  crates/nu_plugin_polars/src/dataframe/eager/to_df.rs
  crates/nu_plugin_polars/src/dataframe/eager/to_nu.rs
Labels: wait-until-after-nushell-release

#13461 reduce: supply <acc> to the closure as pipeline input as well
  crates/nu-command/src/filters/reduce.rs
Labels: wait-until-after-nushell-release, pr:commands

#13385 Make assignment and `const` consistent with `let`/`mut`
  crates/nu-command/tests/commands/complete.rs
  crates/nu-command/tests/commands/let_.rs
  crates/nu-command/tests/commands/rm.rs
  crates/nu-command/tests/commands/table.rs
  crates/nu-parser/src/lex.rs
  crates/nu-parser/src/lite_parser.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
  crates/nu-parser/tests/test_parser.rs
  tests/const_/mod.rs
  tests/plugins/env.rs
  tests/repl/test_config.rs
  tests/repl/test_parser.rs
Labels: wait-until-after-nushell-release, pr:breaking-change, pr:release-note-mention, syntax

#13422 save: print to stderr for bytestream
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/tests/commands/save.rs
Labels: pr:breaking-change, pr:release-note-mention
