Repository nushell/nushell, pull requests merged in 2024-04, with the labels that each got.

#12385 Make default config conservative about clipboard
  crates/nu-utils/src/sample_config/default_config.nu
Labels: pr:bugfix

#12383 Fix hooks on 0.92.0
  crates/nu-cli/src/repl.rs
  crates/nu-protocol/src/engine/stack.rs
  tests/hooks/mod.rs
Labels: pr:bugfix

#12378 prevent parser from parsing variables as units
  crates/nu-parser/src/parser.rs
  crates/nu-parser/tests/test_parser.rs
Labels: pr:bugfix

#12394 Fix #12391: mkdir uses process startup directory instead of current script directory
  crates/nu-command/src/filesystem/touch.rs
  crates/nu-command/src/filesystem/umkdir.rs
  crates/nu-command/tests/commands/touch.rs
  crates/nu-command/tests/commands/umkdir.rs
Labels: pr:bugfix

#12359 Make `view source` more robust
  crates/nu-command/src/debug/view_source.rs
Labels: pr:commands

#12362 Fix stop suggesting `--trash` when already enabled (issue #12361)
  crates/nu-command/src/filesystem/rm.rs
Labels: pr:bugfix

#12405 `Range` refactor
  crates/nu-cmd-base/src/util.rs
  crates/nu-cmd-lang/src/core_commands/for_.rs
  crates/nu-cmd-lang/src/example_support.rs
  crates/nu-command/src/conversions/into/record.rs
  crates/nu-command/src/debug/explain.rs
  crates/nu-command/src/filters/drop/nth.rs
  crates/nu-command/src/filters/first.rs
  crates/nu-command/src/filters/par_each.rs
  crates/nu-command/src/filters/range.rs
  crates/nu-command/src/filters/take/take_.rs
  crates/nu-command/src/formats/from/nuon.rs
  crates/nu-command/src/formats/to/nuon.rs
  crates/nu-command/src/formats/to/text.rs
  crates/nu-command/src/math/utils.rs
  crates/nu-command/src/random/float.rs
  crates/nu-command/src/random/int.rs
  crates/nu-command/src/strings/str_/index_of.rs
  crates/nu-command/src/viewers/table.rs
  crates/nu-command/tests/format_conversions/json.rs
  crates/nu-plugin/src/protocol/plugin_custom_value/tests.rs
  crates/nu-plugin/src/util/with_custom_values_in.rs
  crates/nu-protocol/src/ast/operator.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-protocol/src/pipeline_data/mod.rs
  crates/nu-protocol/src/value/from_value.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu-protocol/src/value/range.rs
Labels: pr:bugfix, pr:commands

#12411 Fix nushell#10591: encode returns error with utf-16le and utf-16be encodings (nushell#10591)
  crates/nu-command/src/strings/encode_decode/encode.rs
  crates/nu-command/src/strings/encode_decode/encoding.rs
Labels: pr:commands, pr:errors, pr:screenshot

#12420 Fix #12416 by canonicalizing XDG_CONFIG_HOME before comparing to config_dir()
  src/main.rs
  src/tests/test_config_path.rs
Labels: pr:bugfix, pr:screenshot

#12426 Fix merging child stack into parent
  crates/nu-plugin-test-support/src/plugin_test.rs
  crates/nu-protocol/src/engine/stack.rs
  src/test_bins.rs
  tests/shell/mod.rs
  tests/shell/repl.rs
Labels: pr:bugfix

#12435 Don't check if stderr empty in test_xdg_config_symlink
  src/tests/test_config_path.rs
Labels: pr:bugfix

#12432 `explain` refactor
  crates/nu-command/src/debug/explain.rs
Labels: pr:bugfix

#12442 Fix typo in help stor import
  crates/nu-command/src/stor/import.rs
Labels: pr:commands

#12443 Fix negative value file size for "into filesize" (issue #12396)
  crates/nu-command/src/conversions/into/filesize.rs
  crates/nu-command/tests/commands/into_filesize.rs
Labels: pr:bugfix, pr:commands

#12338 Ensure `currently_parsed_cwd` is set for config files
  crates/nu-cli/src/config_files.rs
  crates/nu-protocol/src/engine/engine_state.rs
  tests/parsing/mod.rs
Labels: wait-until-after-nushell-release

#12465 Force timeit to not capture stdout
  crates/nu-command/src/debug/timeit.rs
  crates/nu-command/tests/commands/debug/mod.rs
  crates/nu-command/tests/commands/debug/timeit.rs
  crates/nu-command/tests/commands/mod.rs
  src/test_bins.rs
Labels: pr:breaking-change, pr:commands

#12339 Lex whitespace in input-output types.
  crates/nu-parser/src/parser.rs
  src/tests/test_parser.rs
Labels: pr:release-note-mention, syntax

#12470 fix std log
  crates/nu-std/std/log.nu
  crates/nu-std/tests/logger_tests/test_basic_commands.nu
  crates/nu-std/tests/logger_tests/test_log_custom.nu
  crates/nu-std/tests/logger_tests/test_log_format_flag.nu
  crates/nu-std/tests/logger_tests/test_logger_env.nu
Labels: pr:bugfix

#12472 displaying span information, creation time, and size with polars ls
  crates/nu_plugin_polars/src/cache.rs
  crates/nu_plugin_polars/src/dataframe/eager/list.rs
  crates/nu_plugin_polars/src/dataframe/lazy/collect.rs
  crates/nu_plugin_polars/src/dataframe/lazy/to_lazy.rs
  crates/nu_plugin_polars/src/dataframe/values/mod.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_dataframe/custom_value.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_expression/custom_value.rs
  crates/nu_plugin_polars/src/lib.rs
Labels: plugins, pr:commands

#12479 `drop` refactor
  crates/nu-command/src/filters/drop/drop_.rs
Labels: pr:breaking-change, pr:commands

#12480 Return value instead of stream from `kill`
  crates/nu-command/src/platform/kill.rs
Labels: pr:breaking-change, pr:commands

#12478 Refactor `first` and `last`
  crates/nu-command/src/filters/first.rs
  crates/nu-command/src/filters/last.rs
  crates/nu-command/tests/commands/default.rs
  crates/nu-command/tests/commands/first.rs
  crates/nu-command/tests/commands/last.rs
Labels: pr:breaking-change, pr:commands

#12327 making `ls` and `du` supports rest parameters.
  crates/nu-command/src/filesystem/du.rs
  crates/nu-command/src/filesystem/ls.rs
  crates/nu-command/src/filesystem/util.rs
  crates/nu-command/tests/commands/du.rs
  crates/nu-command/tests/commands/ls.rs
Labels: pr:commands

#12502 Added a PluginTest method that will call custom_value_to_base_value
  crates/nu-plugin-test-support/src/plugin_test.rs
Labels: plugins

#12510 Improve error messages for plugin protocol by removing `#[serde(untagged)]`
  crates/nu-plugin/src/plugin/interface/engine.rs
  crates/nu-plugin/src/plugin/interface/engine/tests.rs
  crates/nu-plugin/src/plugin/interface/plugin.rs
  crates/nu-plugin/src/plugin/interface/plugin/tests.rs
  crates/nu-plugin/src/plugin/interface/tests.rs
  crates/nu-plugin/src/protocol/mod.rs
  crates/nu-plugin/src/serializers/json.rs
  crates/nu-plugin/src/serializers/tests.rs
Labels: pr:errors

#12522 Disallow setting the `PWD` via `load-env` input
  crates/nu-command/src/env/load_env.rs
Labels: pr:breaking-change, pr:commands

#12525 Ensure that lazy frames converted via to-lazy are not converted back to eager frames later in the pipeline.
  crates/nu_plugin_polars/src/dataframe/lazy/to_lazy.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_lazyframe/mod.rs
  crates/nu_plugin_polars/src/lib.rs
Labels: dataframe

#12523 Improve `with-env` robustness
  crates/nu-command/src/env/with_env.rs
  crates/nu-command/tests/commands/let_.rs
  crates/nu-command/tests/commands/reduce.rs
  crates/nu-command/tests/commands/with_env.rs
  crates/nu-parser/src/parser.rs
  crates/nu-std/std/mod.nu
  crates/nu-std/tests/test_std.nu
  src/tests/test_env.rs
  tests/shell/environment/env.rs
  tests/shell/pipeline/commands/external.rs
Labels: pr:breaking-change, deprecation, pr:commands

#12566 Update crate feature flags
  Cargo.toml
  crates/nu-cmd-lang/Cargo.toml
  crates/nu-cmd-lang/src/core_commands/version.rs
Labels: pr:breaking-change

#12577 Removed the polars dtypes command
  crates/nu_plugin_polars/src/dataframe/eager/dtypes.rs
  crates/nu_plugin_polars/src/dataframe/eager/mod.rs
Labels: pr:breaking-change

#12559 Don't allow skip on external stream
  crates/nu-command/src/filters/skip/skip_.rs
  crates/nu-command/tests/commands/skip/skip_.rs
Labels: pr:breaking-change, pr:commands

#12573 set the type of default NU_LIB_DIRS and NU_PLUGIN_DIRS to list<string>
  src/main.rs
  src/tests/test_env.rs
Labels: pr:bugfix

#12597 Change `cal --week-start` examples + error message
  crates/nu-command/src/generators/cal.rs
Labels: documentation, pr:errors

#12582 Remove the `Value::Block` case
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/src/prompt_update.rs
  crates/nu-cli/tests/completions.rs
  crates/nu-cmd-base/src/hook.rs
  crates/nu-cmd-lang/src/core_commands/describe.rs
  crates/nu-cmd-lang/src/core_commands/for_.rs
  crates/nu-cmd-lang/src/core_commands/if_.rs
  crates/nu-cmd-lang/src/core_commands/loop_.rs
  crates/nu-cmd-lang/src/core_commands/try_.rs
  crates/nu-cmd-lang/src/core_commands/while_.rs
  crates/nu-cmd-lang/src/example_support.rs
  crates/nu-color-config/src/style_computer.rs
  crates/nu-command/src/debug/explain.rs
  crates/nu-command/src/debug/view_source.rs
  crates/nu-command/src/env/export_env.rs
  crates/nu-command/src/filters/find.rs
  crates/nu-command/src/filters/insert.rs
  crates/nu-command/src/filters/update.rs
  crates/nu-command/src/filters/upsert.rs
  crates/nu-command/src/formats/to/json.rs
  crates/nu-command/src/formats/to/text.rs
  crates/nu-command/src/formats/to/toml.rs
  crates/nu-command/src/formats/to/yaml.rs
  crates/nu-engine/src/scope.rs
  crates/nu-protocol/src/config/completer.rs
  crates/nu-protocol/src/config/mod.rs
  crates/nu-protocol/src/engine/capture_block.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-protocol/src/value/from_value.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nuon/src/to.rs
  tests/scope/mod.rs
Labels: pr:breaking-change, pr:commands

#12579 Overhaul the plugin cache file with a new msgpack+brotli format
  Cargo.lock
  Cargo.toml
  crates/nu-cli/Cargo.toml
  crates/nu-cli/src/config_files.rs
  crates/nu-cli/src/lib.rs
  crates/nu-cmd-lang/src/core_commands/mod.rs
  crates/nu-cmd-lang/src/default_context.rs
  crates/nu-cmd-plugin/Cargo.toml
  crates/nu-cmd-plugin/LICENSE
  crates/nu-cmd-plugin/README.md
  crates/nu-cmd-plugin/src/commands/mod.rs
  crates/nu-cmd-plugin/src/commands/plugin/add.rs
  crates/nu-cmd-plugin/src/commands/plugin/list.rs
  crates/nu-cmd-plugin/src/commands/plugin/mod.rs
  crates/nu-cmd-plugin/src/commands/plugin/rm.rs
  crates/nu-cmd-plugin/src/commands/plugin/stop.rs
  crates/nu-cmd-plugin/src/commands/register.rs
  crates/nu-cmd-plugin/src/default_context.rs
  crates/nu-cmd-plugin/src/lib.rs
  crates/nu-cmd-plugin/src/util.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-plugin/src/lib.rs
  crates/nu-plugin/src/plugin/interface/plugin.rs
  crates/nu-plugin/src/plugin/mod.rs
  crates/nu-protocol/Cargo.toml
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/state_delta.rs
  crates/nu-protocol/src/engine/state_working_set.rs
  crates/nu-protocol/src/errors/shell_error.rs
  crates/nu-protocol/src/eval_const.rs
  crates/nu-protocol/src/example.rs
  crates/nu-protocol/src/plugin/cache_file/mod.rs
  crates/nu-protocol/src/plugin/cache_file/tests.rs
  crates/nu-protocol/src/plugin/identity.rs
  crates/nu-protocol/src/plugin/mod.rs
  crates/nu-protocol/src/plugin/signature.rs
  crates/nu-protocol/src/signature.rs
  crates/nu-test-support/src/macros.rs
  src/command.rs
  src/config_files.rs
  src/main.rs
  src/run.rs
  src/tests/test_config_path.rs
  tests/plugins/cache_file.rs
  tests/plugins/mod.rs
Labels: plugins, pr:breaking-change

#12601 Make the same file error more likely to appear
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/src/filters/lines.rs
  crates/nu-command/tests/commands/save.rs
Labels: pr:bugfix, pr:errors

#12619 Improve the "input and output are the same file" error text
  crates/nu-cmd-lang/src/core_commands/collect.rs
  crates/nu-command/src/filesystem/save.rs
Labels: pr:errors

#12634 Rename plugin cache file ⇒ plugin registry file
  crates/nu-cli/src/config_files.rs
  crates/nu-cmd-plugin/src/commands/plugin/add.rs
  crates/nu-cmd-plugin/src/commands/plugin/mod.rs
  crates/nu-cmd-plugin/src/commands/plugin/rm.rs
  crates/nu-cmd-plugin/src/commands/plugin/use_.rs
  crates/nu-cmd-plugin/src/util.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-plugin/src/lib.rs
  crates/nu-plugin/src/plugin/mod.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/state_delta.rs
  crates/nu-protocol/src/engine/state_working_set.rs
  crates/nu-protocol/src/errors/parse_error.rs
  crates/nu-protocol/src/errors/shell_error.rs
  crates/nu-protocol/src/plugin/mod.rs
  crates/nu-protocol/src/plugin/registry_file/mod.rs
  crates/nu-protocol/src/plugin/registry_file/tests.rs
  crates/nu-test-support/src/macros.rs
  src/command.rs
  src/tests/test_parser.rs
  tests/plugins/mod.rs
  tests/plugins/registry_file.rs
Labels: pr:plugins

#12658 Remove deprecated flags on `commandline`
  crates/nu-cli/src/commands/commandline/commandline_.rs
  src/tests/test_commandline.rs
Labels: pr:breaking-change, removal-after-deprecation, pr:commands

#12659 Remove deprecated flags on `run-external`
  crates/nu-command/src/system/run_external.rs
Labels: pr:breaking-change, removal-after-deprecation, pr:commands

#12664 Msgpack commands
  Cargo.lock
  Cargo.toml
  crates/nu-command/Cargo.toml
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/formats/from/mod.rs
  crates/nu-command/src/formats/from/msgpack.rs
  crates/nu-command/src/formats/from/msgpackz.rs
  crates/nu-command/src/formats/to/mod.rs
  crates/nu-command/src/formats/to/msgpack.rs
  crates/nu-command/src/formats/to/msgpackz.rs
  crates/nu-command/tests/format_conversions/mod.rs
  crates/nu-command/tests/format_conversions/msgpack.rs
  crates/nu-command/tests/format_conversions/msgpackz.rs
  crates/nu-protocol/Cargo.toml
  crates/nu-test-support/src/macros.rs
  tests/fixtures/formats/msgpack/.gitignore
  tests/fixtures/formats/msgpack/generate.nu
  tests/fixtures/formats/msgpack/objects.nuon
  tests/fixtures/formats/msgpack/sample.nuon
Labels: pr:plugins

#12673 Add a bit more delay before `ps` calls in plugin persistence tests
  tests/plugin_persistence/mod.rs
Labels: pr:plugins

#12648 Make exit code available in `catch` block
  crates/nu-cmd-lang/src/core_commands/try_.rs
  crates/nu-command/tests/commands/try_.rs
Labels: pr:bugfix

#12667 Add deprecation warning to `describe --collect-lazyrecords`
  crates/nu-cmd-lang/src/core_commands/describe.rs
Labels: pr:commands

#12693 restore `query web --as-table` to working order
  crates/nu_plugin_query/src/query_web.rs
Labels: pr:plugins, pr:bugfix
