Repository nushell/nushell, pull requests merged in 2024-10, with the labels that each got.

#13977 `polars into-df` struct fix
  crates/nu_plugin_polars/src/dataframe/command/core/to_df.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_dataframe/conversion.rs
Labels: pr:plugins, pr:bugfix

#13954 Fix `LAST_EXIT_CODE` not being set for internal errors
  crates/nu-protocol/src/engine/stack.rs
Labels: pr:bugfix

#13899 Fix non-zero exit code errors in middle of pipeline
  crates/nu-cli/src/print.rs
  crates/nu-cmd-lang/src/core_commands/do_.rs
  crates/nu-cmd-lang/src/core_commands/ignore.rs
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/src/system/run_external.rs
  crates/nu-protocol/src/process/child.rs
  tests/shell/pipeline/mod.rs
Labels: pr:bugfix

#13987 Make `get_env_var` return a reference to a `Value`
  crates/nu-cli/src/completions/completion_common.rs
  crates/nu-cli/src/prompt.rs
  crates/nu-cli/src/prompt_update.rs
  crates/nu-cli/src/repl.rs
  crates/nu-cmd-base/src/hook.rs
  crates/nu-cmd-plugin/src/util.rs
  crates/nu-command/src/filesystem/cd.rs
  crates/nu-command/src/network/http/client.rs
  crates/nu-command/src/viewers/griddle.rs
  crates/nu-command/src/viewers/table.rs
  crates/nu-engine/src/env.rs
  crates/nu-explore/src/nu_common/lscolor.rs
  crates/nu-plugin-engine/src/context.rs
  crates/nu-plugin-engine/src/interface/mod.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/stack.rs
  src/test_bins.rs
Labels: pr:api-change

#14018 Replace the old `encode base64` and `decode base64` with new-base64 commands
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/strings/base/base64.rs
  crates/nu-command/src/strings/encode_decode/base64.rs
  crates/nu-command/src/strings/encode_decode/decode_base64.rs
  crates/nu-command/src/strings/encode_decode/encode_base64.rs
  crates/nu-command/src/strings/encode_decode/mod.rs
  crates/nu-command/tests/commands/base/base64.rs
  crates/nu-command/tests/commands/hash_/mod.rs
Labels: pr:breaking-change

#14037 fix format date by getting the env vars properly
  crates/nu-command/src/strings/format/date.rs
Labels: localization, pr:bugfix

#14040 Virtual std module subdirectories
  crates/nu-std/src/lib.rs
  crates/nu-std/std/assert/mod.nu
  crates/nu-std/std/bench/mod.nu
  crates/nu-std/std/core/mod.nu
  crates/nu-std/std/deprecated_dirs/mod.nu
  crates/nu-std/std/dirs/mod.nu
  crates/nu-std/std/dt/mod.nu
  crates/nu-std/std/formats/mod.nu
  crates/nu-std/std/help/mod.nu
  crates/nu-std/std/input/mod.nu
  crates/nu-std/std/iter/mod.nu
  crates/nu-std/std/log/mod.nu
  crates/nu-std/std/math/mod.nu
  crates/nu-std/std/util/mod.nu
  crates/nu-std/std/xml/mod.nu
Labels: std-library

#14056 Remove `group` command
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/filters/group.rs
  crates/nu-command/src/filters/mod.rs
  crates/nu-command/tests/commands/each.rs
Labels: pr:breaking-change, removal-after-deprecation, pr:commands

#13992 Fix `try` printing when it is not the last pipeline element
  crates/nu-cmd-lang/src/core_commands/try_.rs
  crates/nu-command/src/filters/tee.rs
  crates/nu-command/tests/commands/try_.rs
  crates/nu-engine/src/compile/builder.rs
  crates/nu-engine/src/compile/keyword.rs
  crates/nu-engine/src/compile/redirect.rs
  crates/nu-engine/src/eval.rs
  crates/nu-engine/src/eval_ir.rs
  crates/nu-protocol/src/engine/stack_out_dest.rs
  crates/nu-protocol/src/ir/display.rs
  crates/nu-protocol/src/ir/mod.rs
  crates/nu-protocol/src/pipeline/byte_stream.rs
  crates/nu-protocol/src/pipeline/out_dest.rs
  crates/nu-protocol/src/pipeline/pipeline_data.rs
Labels: pr:bugfix

#14085 Make `plugin list` read state from plugin registry file as well
  crates/nu-cmd-plugin/src/commands/plugin/add.rs
  crates/nu-cmd-plugin/src/commands/plugin/list.rs
  crates/nu-cmd-plugin/src/commands/plugin/rm.rs
  crates/nu-cmd-plugin/src/util.rs
  tests/plugin_persistence/mod.rs
  tests/plugins/registry_file.rs
Labels: enhancement, delight, pr:plugins, wait-until-after-nushell-release, pr:breaking-change, pr:commands

#14074 run ensure_flag_arg_type for short flag values
  crates/nu-command/src/conversions/into/value.rs
  crates/nu-parser/src/parser.rs
  crates/nu_plugin_polars/src/dataframe/command/data/unpivot.rs
  tests/repl/test_custom_commands.rs
Labels: wait-until-after-nushell-release

#14051 `use` command: Don't create a variable with empty record if it doesn't define any constants
  crates/nu-protocol/src/module.rs
  tests/const_/mod.rs
  tests/repl/test_modules.rs
Labels: wait-until-after-nushell-release, pr:bugfix

#14120 Fix return setting last exit code
  crates/nu-cli/src/util.rs
  crates/nu-command/tests/commands/return_.rs
  crates/nu-protocol/src/engine/stack.rs
  crates/nu-protocol/src/errors/shell_error.rs
  src/run.rs
Labels: pr:bugfix, pr:errors

#14127 add `start_time` to `ps -l` on macos
  crates/nu-command/src/system/ps.rs
  crates/nu-system/src/macos.rs
Labels: pr:commands

#14073 Feature `url build_query` accepts records with lists of strings
  crates/nu-command/src/network/url/build_query.rs
Labels: networking

#14159 add `name` to `$env.config.keybindings`
  crates/nu-cli/src/reedline_config.rs
  crates/nu-protocol/src/config/reedline.rs
Labels: pr:screenshot

#14158 make adding newlines with `to text` more consistent and opt-out-able
  crates/nu-command/src/formats/to/text.rs
  crates/nu-command/tests/commands/save.rs
Labels: pr:bugfix, pr:commands, pr:screenshot

#14165 add command_type to help
  crates/nu-command/src/system/run_external.rs
  crates/nu-engine/src/documentation.rs
  crates/nu-protocol/src/engine/engine_state.rs
Labels: pr:plugins, pr:release-note-mention, pr:commands, pr:screenshot, pr:api-change

#14187 allow oem code pages to be used to decode text
  Cargo.lock
  Cargo.toml
  crates/nu-command/Cargo.toml
  crates/nu-command/src/strings/encode_decode/decode.rs
Labels: localization, pr:commands, pr:screenshot

#14042 Show `?` for optional entries when displaying `CellPath`s
  crates/nu-command/tests/commands/select.rs
  crates/nu-protocol/src/ast/cell_path.rs
Labels: cell-path-semantics
