Repository nushell/nushell, pull requests merged in 2024-08, with the labels that each got.

#13505 Add `--upgrade` switch for `mv` command
  crates/nu-command/src/filesystem/umv.rs
Labels: pr:commands

#13368 Path migration part 3: `$nu` paths
  crates/nu-cli/src/commands/history/history_.rs
  crates/nu-cli/src/completions/completion_common.rs
  crates/nu-cli/src/config_files.rs
  crates/nu-cmd-base/src/util.rs
  crates/nu-command/src/filesystem/cd.rs
  crates/nu-command/src/filesystem/rm.rs
  crates/nu-path/src/dots.rs
  crates/nu-path/src/expansions.rs
  crates/nu-path/src/helpers.rs
  crates/nu-path/src/lib.rs
  crates/nu-protocol/src/eval_const.rs
  src/config_files.rs
  src/main.rs
  tests/repl/test_config_path.rs
Labels: refactor

#13495 Make pipeline metadata available to plugins
  crates/nu-plugin-core/src/interface/mod.rs
  crates/nu-plugin-core/src/interface/tests.rs
  crates/nu-plugin-core/src/serializers/tests.rs
  crates/nu-plugin-engine/src/interface/tests.rs
  crates/nu-plugin-protocol/src/lib.rs
  crates/nu-plugin/src/plugin/interface/tests.rs
  crates/nu-protocol/src/pipeline/metadata.rs
  crates/nu_plugin_nu_example/nu_plugin_nu_example.nu
  crates/nu_plugin_python/nu_plugin_python_example.py
  crates/nu_plugin_stress_internals/src/main.rs
Labels: pr:plugins, pr:api-change

#13507 Fix internal panic for `query web`
  crates/nu_plugin_query/src/query_web.rs
Labels: pr:bugfix, pr:errors

#13522 Simplify column look-up in `default`
  crates/nu-command/src/filters/default.rs
Labels: performance, refactor

#13524 Lift `SharedCow::to_mut` out of if let branches
  crates/nu-protocol/src/value/mod.rs
Labels: performance

#13373 Path migration part 4: various tests
  crates/nu-cli/src/repl.rs
  crates/nu-command/tests/commands/cd.rs
  crates/nu-command/tests/commands/database/into_sqlite.rs
  crates/nu-command/tests/commands/mktemp.rs
  crates/nu-command/tests/commands/move_/umv.rs
  crates/nu-command/tests/commands/path/expand.rs
  crates/nu-command/tests/commands/rm.rs
  crates/nu-command/tests/commands/touch.rs
  crates/nu-command/tests/commands/ucp.rs
  crates/nu-command/tests/commands/umkdir.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-test-support/src/fs.rs
  tests/repl/test_config_path.rs
Labels: refactor

#13531 Rework `help` generation internals
  crates/nu-cli/src/menus/help_completions.rs
  crates/nu-engine/src/documentation.rs
  crates/nu-plugin/src/plugin/mod.rs
Labels: help-system

#13521 Attempt to guess the content type of a file when opening with --raw
  crates/nu-command/src/filesystem/open.rs
  crates/nu-command/src/formats/to/toml.rs
  crates/nu-command/src/formats/to/yaml.rs
  crates/nu-command/tests/commands/open.rs
  crates/nu-test-support/src/lib.rs
Labels: pipeline-metadata

#13566 Make the math commands const
  crates/nu-command/src/math/abs.rs
  crates/nu-command/src/math/avg.rs
  crates/nu-command/src/math/ceil.rs
  crates/nu-command/src/math/floor.rs
  crates/nu-command/src/math/log.rs
  crates/nu-command/src/math/max.rs
  crates/nu-command/src/math/median.rs
  crates/nu-command/src/math/min.rs
  crates/nu-command/src/math/mode.rs
  crates/nu-command/src/math/product.rs
  crates/nu-command/src/math/round.rs
  crates/nu-command/src/math/stddev.rs
  crates/nu-command/src/math/sum.rs
  crates/nu-command/src/math/variance.rs
  crates/nu-command/tests/commands/math/abs.rs
  crates/nu-command/tests/commands/math/avg.rs
  crates/nu-command/tests/commands/math/ceil.rs
  crates/nu-command/tests/commands/math/floor.rs
  crates/nu-command/tests/commands/math/log.rs
  crates/nu-command/tests/commands/math/max.rs
  crates/nu-command/tests/commands/math/median.rs
  crates/nu-command/tests/commands/math/min.rs
  crates/nu-command/tests/commands/math/mod.rs
  crates/nu-command/tests/commands/math/mode.rs
  crates/nu-command/tests/commands/math/product.rs
  crates/nu-command/tests/commands/math/round.rs
  crates/nu-command/tests/commands/math/sqrt.rs
  crates/nu-command/tests/commands/math/stddev.rs
  crates/nu-command/tests/commands/math/sum.rs
  crates/nu-command/tests/commands/math/variance.rs
Labels: pr:commands

#13568 Merge `polars sink` and `polars to-*` to `polars save`
  crates/nu_plugin_polars/src/dataframe/eager/mod.rs
  crates/nu_plugin_polars/src/dataframe/eager/open.rs
  crates/nu_plugin_polars/src/dataframe/eager/save/arrow.rs
  crates/nu_plugin_polars/src/dataframe/eager/save/avro.rs
  crates/nu_plugin_polars/src/dataframe/eager/save/csv.rs
  crates/nu_plugin_polars/src/dataframe/eager/save/mod.rs
  crates/nu_plugin_polars/src/dataframe/eager/save/ndjson.rs
  crates/nu_plugin_polars/src/dataframe/eager/save/parquet.rs
  crates/nu_plugin_polars/src/dataframe/eager/to_arrow.rs
  crates/nu_plugin_polars/src/dataframe/eager/to_avro.rs
  crates/nu_plugin_polars/src/dataframe/eager/to_csv.rs
  crates/nu_plugin_polars/src/dataframe/eager/to_json_lines.rs
  crates/nu_plugin_polars/src/dataframe/eager/to_parquet.rs
  crates/nu_plugin_polars/src/dataframe/lazy/mod.rs
  crates/nu_plugin_polars/src/dataframe/lazy/sink.rs
  crates/nu_plugin_polars/src/dataframe/values/file_type.rs
  crates/nu_plugin_polars/src/dataframe/values/mod.rs
Labels: pr:plugins, pr:breaking-change

#13595 Parse time type checking for range
  crates/nu-parser/src/parser.rs
  crates/nu-parser/src/type_check.rs
  crates/nu-parser/tests/test_parser.rs
  crates/nu-protocol/src/errors/parse_error.rs
Labels: pr:bugfix

#13605 make `ls -lf` outputs full path in symbolic target
  crates/nu-command/src/filesystem/ls.rs
  crates/nu-command/tests/commands/ls.rs
Labels: pr:bugfix, pr:commands

#13609 add more helpful error with text/xml
  Cargo.toml
  crates/nu-command/Cargo.toml
  crates/nu-command/src/network/http/client.rs
Labels: pr:bugfix, pr:errors

#13637 Change behavior of `into record` on lists to be more useful
  crates/nu-command/src/conversions/into/record.rs
  crates/nu-command/tests/commands/conversions/into/mod.rs
  crates/nu-command/tests/commands/conversions/into/record.rs
  crates/nu-std/std/iter.nu
  crates/nu_plugin_nu_example/nu_plugin_nu_example.nu
Labels: wait-until-after-nushell-release, pr:breaking-change, pr:release-note-mention, pr:commands

#13646 Be explicit about `reduce` args and input
  crates/nu-command/src/filters/reduce.rs
Labels: wait-until-after-nushell-release, refactor

#13663 Fix bugs and UB in bit shifting ops
  crates/nu-cmd-extra/src/extra/bits/mod.rs
  crates/nu-cmd-extra/src/extra/bits/shift_left.rs
  crates/nu-cmd-extra/src/extra/bits/shift_right.rs
  crates/nu-protocol/src/value/mod.rs
  tests/repl/test_bits.rs
  tests/repl/test_math.rs
Labels: pr:bugfix

#13428 `encode`/`decode` for multiple alphabets
  Cargo.lock
  Cargo.toml
  crates/nu-cmd-extra/src/extra/mod.rs
  crates/nu-cmd-extra/src/extra/strings/encode_decode/hex.rs
  crates/nu-cmd-extra/src/extra/strings/encode_decode/mod.rs
  crates/nu-cmd-extra/src/extra/strings/mod.rs
  crates/nu-command/Cargo.toml
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/strings/base/base32.rs
  crates/nu-command/src/strings/base/base32hex.rs
  crates/nu-command/src/strings/base/base64.rs
  crates/nu-command/src/strings/base/hex.rs
  crates/nu-command/src/strings/base/mod.rs
  crates/nu-command/src/strings/encode_decode/decode_base64.rs
  crates/nu-command/src/strings/encode_decode/encode_base64.rs
  crates/nu-command/src/strings/encode_decode/mod.rs
  crates/nu-command/src/strings/mod.rs
  crates/nu-command/tests/commands/base/base32.rs
  crates/nu-command/tests/commands/base/base32hex.rs
  crates/nu-command/tests/commands/base/base64.rs
  crates/nu-command/tests/commands/base/hex.rs
  crates/nu-command/tests/commands/base/mod.rs
  crates/nu-command/tests/commands/mod.rs
Labels: wait-until-after-nushell-release, pr:breaking-change, pr:commands

#13445 Improve help output for scripts
  crates/nu-engine/src/documentation.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/engine/state_working_set.rs
  tests/shell/mod.rs
Labels: wait-until-after-nushell-release, help-system

#13693 Remove `str deunicode`
  Cargo.lock
  Cargo.toml
  crates/nu-command/Cargo.toml
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/strings/str_/deunicode.rs
  crates/nu-command/src/strings/str_/mod.rs
Labels: pr:breaking-change, pr:commands

#13705 Add split cell-path
  crates/nu-command/src/conversions/mod.rs
  crates/nu-command/src/conversions/split_cell_path.rs
  crates/nu-command/src/default_context.rs
Labels: new-command
