Repository nushell/nushell, pull requests merged in 2024-09, with the labels that each got.

#13745 Remove bincode and use MessagePack instead for plugin custom values
  Cargo.lock
  crates/nu-plugin-protocol/Cargo.toml
  crates/nu-plugin-protocol/src/plugin_custom_value/mod.rs
  crates/nu-plugin-protocol/src/test_util.rs
Labels: pr:plugins, pr:breaking-change, pr:bugfix

#13652 Make `tee` work more nicely with non-collections
  crates/nu-command/src/filters/tee.rs
  crates/nu-command/tests/commands/tee.rs
  crates/nu-protocol/src/pipeline/pipeline_data.rs
Labels: pr:breaking-change, pr:commands

#13764 add version and path to plugin executable help
  crates/nu-plugin/src/plugin/mod.rs
Labels: pr:plugins

#13782 Added expression support for `polars str-lengths`
  crates/nu_plugin_polars/src/dataframe/series/string/str_lengths.rs
Labels: pr:plugins, pr:commands

#13781 Renamed `polars concatenate` and added expression support.
  crates/nu_plugin_polars/src/dataframe/series/mod.rs
  crates/nu_plugin_polars/src/dataframe/series/string/concatenate.rs
  crates/nu_plugin_polars/src/dataframe/series/string/mod.rs
  crates/nu_plugin_polars/src/dataframe/series/string/str_join.rs
Labels: pr:plugins, pr:breaking-change, pr:release-note-mention, pr:commands

#13788 remove config use_grid_icons, move to parameter of grid command
  crates/nu-command/src/viewers/griddle.rs
  crates/nu-command/tests/commands/table.rs
  crates/nu-protocol/src/config/mod.rs
  crates/nu-utils/src/sample_config/default_config.nu
Labels: configuration, pr:breaking-change, pr:commands

#13799 Added expression support for `polars cumulative`
  crates/nu_plugin_polars/src/dataframe/command/aggregation/cumulative.rs
Labels: pr:plugins, pr:commands

#13515 Error on non-zero exit statuses
  crates/nu-cli/src/config_files.rs
  crates/nu-cli/src/eval_cmds.rs
  crates/nu-cli/src/eval_file.rs
  crates/nu-cli/src/prompt_update.rs
  crates/nu-cli/src/repl.rs
  crates/nu-cli/src/util.rs
  crates/nu-cmd-base/src/hook.rs
  crates/nu-cmd-lang/src/core_commands/do_.rs
  crates/nu-cmd-lang/src/core_commands/for_.rs
  crates/nu-cmd-lang/src/core_commands/if_.rs
  crates/nu-cmd-lang/src/core_commands/loop_.rs
  crates/nu-cmd-lang/src/core_commands/match_.rs
  crates/nu-cmd-lang/src/core_commands/try_.rs
  crates/nu-cmd-lang/src/core_commands/while_.rs
  crates/nu-cmd-lang/src/example_support.rs
  crates/nu-command/src/debug/timeit.rs
  crates/nu-command/src/filesystem/rm.rs
  crates/nu-command/src/filesystem/watch.rs
  crates/nu-command/src/filters/group.rs
  crates/nu-command/src/filters/tee.rs
  crates/nu-command/src/network/url/join.rs
  crates/nu-command/src/strings/encode_decode/decode_base64.rs
  crates/nu-command/src/strings/encode_decode/encode_base64.rs
  crates/nu-command/src/strings/str_/contains.rs
  crates/nu-command/tests/commands/do_.rs
  crates/nu-command/tests/commands/try_.rs
  crates/nu-engine/src/compile/builder.rs
  crates/nu-engine/src/compile/keyword.rs
  crates/nu-engine/src/eval.rs
  crates/nu-engine/src/eval_helpers.rs
  crates/nu-engine/src/eval_ir.rs
  crates/nu-plugin-engine/src/init.rs
  crates/nu-plugin-test-support/src/plugin_test.rs
  crates/nu-protocol/src/config/display_errors.rs
  crates/nu-protocol/src/config/mod.rs
  crates/nu-protocol/src/engine/stack.rs
  crates/nu-protocol/src/errors/cli_error.rs
  crates/nu-protocol/src/errors/mod.rs
  crates/nu-protocol/src/errors/shell_error.rs
  crates/nu-protocol/src/ir/display.rs
  crates/nu-protocol/src/ir/mod.rs
  crates/nu-protocol/src/pipeline/byte_stream.rs
  crates/nu-protocol/src/pipeline/pipeline_data.rs
  crates/nu-protocol/src/process/child.rs
  crates/nu-protocol/src/process/exit_status.rs
  crates/nu-protocol/tests/test_config.rs
  crates/nu-std/src/lib.rs
  crates/nu-utils/src/sample_config/default_config.nu
  src/command.rs
  src/config_files.rs
  src/ide.rs
  src/main.rs
  src/run.rs
  tests/shell/pipeline/commands/external.rs
Labels: pr:breaking-change, pr:release-note-mention, pr:errors, pr:language

#13808 Fix padding issue with header_on_border
  crates/nu-table/src/table.rs
Labels: pr:bugfix

#13821 Improve #12008 UX, clear scrollback by default on `clear`
  crates/nu-command/src/platform/clear.rs
Labels: pr:breaking-change, pr:commands

#13848 allow tab to be retained with `find`
  crates/nu-command/src/help/help_.rs
  crates/nu-utils/src/deansi.rs
Labels: pr:bugfix, pr:commands

#13855 Improved null handling when converting from nu -> dataframe.
  crates/nu_plugin_polars/src/dataframe/command/aggregation/count.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_dataframe/conversion.rs
Labels: pr:plugins, pr:commands

#13881 Fix `do -p` not waiting for external commands
  crates/nu-cmd-lang/src/core_commands/do_.rs
  crates/nu-command/tests/commands/do_.rs
  crates/nu-protocol/src/process/child.rs
  crates/nu-protocol/src/process/exit_status.rs
Labels: pr:bugfix

#13877 fix the ability to add a plugin by name instead of path
  crates/nu-cmd-plugin/src/commands/plugin/add.rs
Labels: pr:bugfix

#13885 Fix `try` not working with `let`, etc.
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/src/menus/menu_completions.rs
  crates/nu-cli/src/reedline_config.rs
  crates/nu-cmd-lang/src/core_commands/do_.rs
  crates/nu-cmd-lang/src/core_commands/let_.rs
  crates/nu-cmd-lang/src/core_commands/mut_.rs
  crates/nu-cmd-lang/src/example_support.rs
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/src/filters/tee.rs
  crates/nu-command/src/system/complete.rs
  crates/nu-command/src/system/run_external.rs
  crates/nu-command/tests/commands/try_.rs
  crates/nu-engine/src/compile/call.rs
  crates/nu-engine/src/compile/expression.rs
  crates/nu-engine/src/compile/keyword.rs
  crates/nu-engine/src/compile/operator.rs
  crates/nu-engine/src/compile/redirect.rs
  crates/nu-engine/src/documentation.rs
  crates/nu-engine/src/eval.rs
  crates/nu-engine/src/eval_ir.rs
  crates/nu-explore/src/nu_common/command.rs
  crates/nu-plugin-engine/src/context.rs
  crates/nu-plugin-engine/src/persistent.rs
  crates/nu-plugin-test-support/src/plugin_test.rs
  crates/nu-protocol/src/engine/stack.rs
  crates/nu-protocol/src/engine/stack_out_dest.rs
  crates/nu-protocol/src/ir/display.rs
  crates/nu-protocol/src/ir/mod.rs
  crates/nu-protocol/src/pipeline/byte_stream.rs
  crates/nu-protocol/src/pipeline/out_dest.rs
  crates/nu-protocol/src/pipeline/pipeline_data.rs
  src/test_bins.rs
Labels: pr:bugfix

#13741 Fix handling of stopped TUI applications on unix
  crates/nu-protocol/src/process/child.rs
  crates/nu-protocol/src/process/mod.rs
  crates/nu-system/src/exit_status.rs
  crates/nu-system/src/foreground.rs
  crates/nu-system/src/lib.rs
Labels: wait-until-after-nushell-release

#13857 Only ask to create config files the first time nu is started
  src/config_files.rs
  src/run.rs
Labels: configuration

#13941 Added command `polars len` for performing count(*) like operations.
  crates/nu_plugin_polars/src/dataframe/command/data/len.rs
  crates/nu_plugin_polars/src/dataframe/command/data/mod.rs
Labels: pr:plugins

#13939 Expose flag truncate-ragged-lines in `polars open`
  crates/nu_plugin_polars/src/dataframe/command/core/open.rs
Labels: pr:plugins

#13832 Replace raw usize IDs with new types
  crates/nu-cli/src/completions/custom_completions.rs
  crates/nu-cli/src/menus/menu_completions.rs
  crates/nu-cmd-lang/src/core_commands/overlay/use_.rs
  crates/nu-command/src/charting/hashable_value.rs
  crates/nu-command/src/debug/explain.rs
  crates/nu-command/src/debug/view_ir.rs
  crates/nu-command/src/env/source_env.rs
  crates/nu-command/src/formats/to/text.rs
  crates/nu-command/src/misc/source.rs
  crates/nu-engine/src/eval.rs
  crates/nu-engine/src/scope.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
  crates/nu-parser/tests/test_parser.rs
  crates/nu-plugin-core/src/util/with_custom_values_in.rs
  crates/nu-plugin-engine/src/context.rs
  crates/nu-plugin-engine/src/interface/tests.rs
  crates/nu-plugin-engine/src/plugin_custom_value_with_source/tests.rs
  crates/nu-plugin-protocol/src/lib.rs
  crates/nu-plugin-protocol/src/plugin_custom_value/tests.rs
  crates/nu-plugin/src/plugin/interface/tests.rs
  crates/nu-protocol/src/ast/call.rs
  crates/nu-protocol/src/ast/expr.rs
  crates/nu-protocol/src/engine/call.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/overlay.rs
  crates/nu-protocol/src/engine/stack.rs
  crates/nu-protocol/src/engine/state_delta.rs
  crates/nu-protocol/src/engine/state_working_set.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-protocol/src/eval_const.rs
  crates/nu-protocol/src/id.rs
  crates/nu-protocol/src/ir/display.rs
  crates/nu-protocol/src/parser_path.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nuon/src/lib.rs
Labels: refactor

#13964 nu-exlore/ Fix :try table view
  crates/nu-explore/src/views/record/table_widget.rs
Labels: tabled, pr:bugfix
