Repository nushell/nushell, pull requests merged in 2024-06, with the labels that each got.

#12984 Make LS_COLORS functionality faster in `explore`, especially on Windows
  crates/nu-explore/src/nu_common/lscolor.rs
Labels: wait-until-after-nushell-release, pr:bugfix, pr:commands

#12974 support plus sign for "into filesize"
  crates/nu-command/src/conversions/into/filesize.rs
  crates/nu-command/tests/commands/into_filesize.rs
Labels: wait-until-after-nushell-release, pr:bugfix, pr:commands, pr:errors

#13047 Make `query xml` return nodes in document order
  crates/nu_plugin_query/src/query_xml.rs
Labels: pr:commands

#12960 Span ID Refactor - Step 1
  crates/nu-cli/src/completions/custom_completions.rs
  crates/nu-command/src/system/run_external.rs
  crates/nu-engine/src/documentation.rs
  crates/nu-parser/src/known_external.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
  crates/nu-parser/src/type_check.rs
  crates/nu-protocol/src/ast/call.rs
  crates/nu-protocol/src/ast/expression.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/state_delta.rs
  crates/nu-protocol/src/engine/state_working_set.rs
  crates/nu-protocol/src/id.rs
  crates/nuon/src/from.rs
Labels: wait-until-after-nushell-release

#13073 run_external: remove inner quotes once nushell gets `=` sign
  crates/nu-command/src/system/run_external.rs
  tests/shell/pipeline/commands/external.rs
Labels: pr:bugfix

#13018 Use native toml datetime type in `to toml`
  crates/nu-command/src/formats/to/toml.rs
Labels: pr:breaking-change, pr:commands

#12898 Fix the colors when completing using a relative path
  crates/nu-cli/src/completions/completion_common.rs
Labels: completions, file-system

#13112 Deprecate `--numbered` from `for`
  crates/nu-cmd-lang/src/core_commands/for_.rs
  crates/nu-protocol/src/errors/parse_warning.rs
Labels: pr:breaking-change, pr:commands

#13114 Remove old `sys` command behavior
  crates/nu-command/src/system/sys/cpu.rs
  crates/nu-command/src/system/sys/disks.rs
  crates/nu-command/src/system/sys/host.rs
  crates/nu-command/src/system/sys/mem.rs
  crates/nu-command/src/system/sys/mod.rs
  crates/nu-command/src/system/sys/net.rs
  crates/nu-command/src/system/sys/sys_.rs
  crates/nu-command/src/system/sys/temp.rs
  crates/nu-command/src/system/sys/users.rs
Labels: pr:breaking-change, removal-after-deprecation, pr:commands

#13007 `path type` error and not found changes
  crates/nu-command/src/path/type.rs
Labels: wait-until-after-nushell-release, pr:breaking-change, pr:commands, pr:errors

#13124 Remove deprecated `--not` flag on `str contains`
  crates/nu-command/src/strings/str_/contains.rs
Labels: pr:breaking-change, removal-after-deprecation, pr:commands

#13113 Improves commands that support range input
  crates/nu-cmd-base/src/util.rs
  crates/nu-command/src/bytes/at.rs
  crates/nu-command/src/strings/str_/substring.rs
  crates/nu-command/tests/commands/detect_columns.rs
  crates/nu-command/tests/commands/str_/mod.rs
Labels: pr:bugfix, pr:commands

#12883 Allow plugins to report their own version and store it in the registry
  crates/nu-cli/src/config_files.rs
  crates/nu-cmd-lang/src/core_commands/version.rs
  crates/nu-cmd-plugin/src/commands/plugin/add.rs
  crates/nu-cmd-plugin/src/commands/plugin/list.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-plugin-engine/src/init.rs
  crates/nu-plugin-engine/src/interface/mod.rs
  crates/nu-plugin-engine/src/interface/tests.rs
  crates/nu-plugin-engine/src/persistent.rs
  crates/nu-plugin-protocol/src/lib.rs
  crates/nu-plugin-test-support/src/fake_persistent_plugin.rs
  crates/nu-plugin-test-support/src/lib.rs
  crates/nu-plugin-test-support/tests/custom_value/mod.rs
  crates/nu-plugin-test-support/tests/hello/mod.rs
  crates/nu-plugin-test-support/tests/lowercase/mod.rs
  crates/nu-plugin/src/lib.rs
  crates/nu-plugin/src/plugin/command.rs
  crates/nu-plugin/src/plugin/interface/mod.rs
  crates/nu-plugin/src/plugin/interface/tests.rs
  crates/nu-plugin/src/plugin/mod.rs
  crates/nu-protocol/src/plugin/metadata.rs
  crates/nu-protocol/src/plugin/mod.rs
  crates/nu-protocol/src/plugin/registered.rs
  crates/nu-protocol/src/plugin/registry_file/mod.rs
  crates/nu-protocol/src/plugin/registry_file/tests.rs
  crates/nu_plugin_custom_values/src/main.rs
  crates/nu_plugin_example/src/lib.rs
  crates/nu_plugin_formats/src/lib.rs
  crates/nu_plugin_gstat/src/nu/mod.rs
  crates/nu_plugin_inc/src/nu/mod.rs
  crates/nu_plugin_nu_example/nu_plugin_nu_example.nu
  crates/nu_plugin_polars/src/lib.rs
  crates/nu_plugin_python/nu_plugin_python_example.py
  crates/nu_plugin_query/src/query.rs
  crates/nu_plugin_stress_internals/src/main.rs
  src/main.rs
  tests/plugin_persistence/mod.rs
  tests/plugins/registry_file.rs
Labels: plugins

#13188 Suppress column index for default `cal` output
  crates/nu-command/src/generators/cal.rs
  crates/nu-command/tests/commands/cal.rs
  crates/nu-command/tests/commands/length.rs
Labels: pr:breaking-change, pr:commands

#13217 implement autoloading
  crates/nu-protocol/src/eval_const.rs
  src/config_files.rs
Labels: wait-until-after-nushell-release, pr:release-note-mention

#13213 Define keywords
  crates/nu-cmd-lang/src/core_commands/break_.rs
  crates/nu-cmd-lang/src/core_commands/continue_.rs
  crates/nu-cmd-lang/src/core_commands/if_.rs
  crates/nu-cmd-lang/src/core_commands/loop_.rs
  crates/nu-cmd-lang/src/core_commands/match_.rs
  crates/nu-cmd-lang/src/core_commands/scope/command.rs
  crates/nu-cmd-lang/src/core_commands/try_.rs
  crates/nu-cmd-lang/src/core_commands/while_.rs
  crates/nu-command/src/env/export_env.rs
  crates/nu-command/src/env/source_env.rs
  crates/nu-command/src/filters/where_.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
Labels: wait-until-after-nushell-release

#13170 Enable reloading changes to a submodule
  crates/nu-parser/src/lib.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/lib.rs
  crates/nu-protocol/src/module.rs
  crates/nu-protocol/src/parser_path.rs
  tests/modules/mod.rs
Labels: wait-until-after-nushell-release, pr:release-note-mention, pr:bugfix

#13115 Add typed path forms
  crates/nu-path/src/form.rs
  crates/nu-path/src/lib.rs
  crates/nu-path/src/path.rs
  typos.toml
Labels: wait-until-after-nushell-release

#13209 Make the subcommands (`from {csv, tsv, ssv}`) 0-based for consistency
  crates/nu-command/src/formats/from/delimited.rs
  crates/nu-command/src/formats/from/ssv.rs
  crates/nu-command/tests/format_conversions/csv.rs
  crates/nu-command/tests/format_conversions/ssv.rs
  crates/nu-command/tests/format_conversions/tsv.rs
Labels: pr:breaking-change, pr:commands
