Repository nushell/nushell, pull requests merged in 2025-01, with the labels that each got.

#14721 Make utouch the new touch
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/filesystem/mod.rs
  crates/nu-command/src/filesystem/touch.rs
  crates/nu-command/src/filesystem/utouch.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-command/tests/commands/touch.rs
  crates/nu-command/tests/commands/utouch.rs
Labels: coreutils-uutils, pr:commands

#14772 fix `stor reset` when there are foreign keys
  crates/nu-command/src/stor/reset.rs
Labels: pr:bugfix, pr:commands

#14698 more closure serialization
  crates/nu-command/src/debug/explain.rs
  crates/nu-command/src/debug/inspect.rs
  crates/nu-command/src/debug/inspect_table.rs
  crates/nu-command/src/filters/uniq.rs
  crates/nu-command/src/formats/to/json.rs
  crates/nu-command/src/formats/to/nuon.rs
  crates/nu-command/src/formats/to/text.rs
  crates/nu-command/src/formats/to/toml.rs
  crates/nu-command/src/formats/to/yaml.rs
  crates/nu-command/src/network/http/client.rs
  crates/nu-command/src/network/http/delete.rs
  crates/nu-command/src/network/http/get.rs
  crates/nu-command/src/network/http/head.rs
  crates/nu-command/src/network/http/options.rs
  crates/nu-command/src/network/http/patch.rs
  crates/nu-command/src/network/http/post.rs
  crates/nu-command/src/network/http/put.rs
  crates/nu-command/tests/commands/database/into_sqlite.rs
  crates/nu-command/tests/format_conversions/nuon.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nuon/src/lib.rs
  crates/nuon/src/to.rs
  tests/eval/mod.rs
Labels: pr:breaking-change

#14738 Custom completions: Inherit case_sensitive option from $env.config
  crates/nu-cli/src/completions/custom_completions.rs
  crates/nu-cli/tests/completions/mod.rs
Labels: completions

#14741 Add run-time type checking for command pipeline input
  crates/nu-cli/src/commands/history/history_import.rs
  crates/nu-cmd-extra/src/extra/filters/rotate.rs
  crates/nu-cmd-lang/src/core_commands/do_.rs
  crates/nu-cmd-lang/src/example_support.rs
  crates/nu-command/src/conversions/into/string.rs
  crates/nu-command/src/filters/drop/nth.rs
  crates/nu-command/src/filters/get.rs
  crates/nu-command/src/filters/headers.rs
  crates/nu-command/src/filters/reject.rs
  crates/nu-command/src/formats/from/csv.rs
  crates/nu-command/src/formats/from/tsv.rs
  crates/nu-command/src/system/nu_check.rs
  crates/nu-command/tests/commands/group_by.rs
  crates/nu-command/tests/commands/reduce.rs
  crates/nu-command/tests/commands/split_by.rs
  crates/nu-command/tests/format_conversions/csv.rs
  crates/nu-engine/src/eval.rs
  crates/nu-engine/src/eval_ir.rs
  crates/nu-protocol/src/pipeline/pipeline_data.rs
  crates/nu-protocol/src/ty.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu-std/testing.nu
  crates/nu-std/tests/test_iter.nu
  crates/nu_plugin_polars/src/dataframe/command/boolean/when.rs
  toolkit.nu
Labels: type-system, pr:breaking-change

#14764 Convert Path to `list` in main and preserve case
  crates/nu-cli/src/completions/command_completions.rs
  crates/nu-cli/src/eval_cmds.rs
  crates/nu-cli/src/eval_file.rs
  crates/nu-engine/src/env.rs
  crates/nu-plugin-engine/src/context.rs
  crates/nu-protocol/src/config/ansi_coloring.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/stack.rs
  src/config_files.rs
  src/main.rs
  src/run.rs
  tests/shell/environment/env.rs
Labels: environment, pr:bugfix

#14765 Remove required positional arguments from `run-external` and `exec`
  Cargo.lock
  Cargo.toml
  crates/nu-command/Cargo.toml
  crates/nu-command/src/system/exec.rs
  crates/nu-command/src/system/mod.rs
  crates/nu-command/src/system/run_external.rs
  crates/nu-command/tests/commands/run_external.rs
Labels: pr:breaking-change, pr:commands

#14837 feat(lsp): workspace wide operations: `rename/goto references`
  Cargo.lock
  crates/nu-lsp/Cargo.toml
  crates/nu-lsp/src/ast.rs
  crates/nu-lsp/src/diagnostics.rs
  crates/nu-lsp/src/goto.rs
  crates/nu-lsp/src/hints.rs
  crates/nu-lsp/src/lib.rs
  crates/nu-lsp/src/notification.rs
  crates/nu-lsp/src/symbols.rs
  crates/nu-lsp/src/workspace.rs
  tests/fixtures/lsp/workspace/bar.nu
  tests/fixtures/lsp/workspace/foo.nu
Labels: pr:release-note-mention, LSP

#14841 Add new operators `has` and `not-has`
  crates/nu-cli/src/completions/operator_completions.rs
  crates/nu-command/src/help/help_operators.rs
  crates/nu-command/tests/commands/where_.rs
  crates/nu-engine/src/eval_ir.rs
  crates/nu-parser/src/parser.rs
  crates/nu-parser/src/type_check.rs
  crates/nu-protocol/src/ast/operator.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-protocol/src/value/mod.rs
Labels: pr:language

#14825 Rename/deprecate `range` to `slice`
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/filters/mod.rs
  crates/nu-command/src/filters/range.rs
  crates/nu-command/src/filters/slice.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-command/tests/commands/slice.rs
  tests/repl/test_engine.rs
Labels: pr:breaking-change, naming-things :bike: :hut:

#14848 Fix variable names that end in a duration suffix can't be on the right part of a range
  crates/nu-parser/src/parser.rs
  tests/repl/test_parser.rs
Labels: pr:bugfix

#14861 fix(lsp): missing references in `use` command
  crates/nu-lsp/src/ast.rs
  crates/nu-lsp/src/goto.rs
  crates/nu-lsp/src/hints.rs
  crates/nu-lsp/src/lib.rs
  crates/nu-lsp/src/workspace.rs
  tests/fixtures/lsp/goto/module.nu
  tests/fixtures/lsp/goto/use_module.nu
Labels: LSP

#14877 Fix retrieval of config directory for user autoloads
  crates/nu-protocol/src/eval_const.rs
Labels: configuration, pr:bugfix

#14875 Rename `fmt` to `format number`
  crates/nu-cmd-extra/src/extra/conversions/fmt.rs
  crates/nu-cmd-extra/src/extra/mod.rs
  crates/nu-cmd-extra/src/extra/strings/format/mod.rs
  crates/nu-cmd-extra/src/extra/strings/format/number.rs
Labels: pr:breaking-change, deprecation, naming-things :bike: :hut:

#14885 Fix #14842
  crates/nu-command/tests/commands/table.rs
  crates/nu-table/src/types/general.rs
Labels: tabled, pr:bugfix

#14397 Improve and fix filesize formatting/display
  Cargo.lock
  crates/nu-command/src/conversions/into/string.rs
  crates/nu-command/src/formats/to/text.rs
  crates/nu-command/src/random/binary.rs
  crates/nu-command/src/random/chars.rs
  crates/nu-command/src/strings/format/filesize.rs
  crates/nu-command/tests/commands/format.rs
  crates/nu-command/tests/commands/into_filesize.rs
  crates/nu-command/tests/commands/math/mod.rs
  crates/nu-command/tests/commands/ucp.rs
  crates/nu-protocol/Cargo.toml
  crates/nu-protocol/src/config/filesize.rs
  crates/nu-protocol/src/value/filesize.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu-protocol/tests/into_config.rs
  crates/nu-protocol/tests/test_config.rs
  crates/nu-test-support/src/playground/play.rs
  crates/nu-utils/src/default_files/doc_config.nu
  tests/const_/mod.rs
  tests/eval/mod.rs
  tests/repl/test_config.rs
  tests/repl/test_parser.rs
  tests/shell/pipeline/commands/internal.rs
Labels: configuration, pr:breaking-change, pr:bugfix, pr:commands

#14905 feat(lsp): better completion item documentation
  crates/nu-lsp/src/ast.rs
  crates/nu-lsp/src/diagnostics.rs
  crates/nu-lsp/src/goto.rs
  crates/nu-lsp/src/hints.rs
  crates/nu-lsp/src/lib.rs
  crates/nu-lsp/src/notification.rs
  crates/nu-lsp/src/symbols.rs
  crates/nu-lsp/src/workspace.rs
Labels: LSP

#14913 Use single atom for fuzzy matching (fix #14904)
  crates/nu-cli/src/completions/completion_options.rs
  crates/nu-cli/tests/completions/mod.rs
Labels: completions, pr:bugfix

#14903 `seq date`: generalize to allow any duration for `--increment` argument
  crates/nu-command/src/generators/seq_date.rs
  crates/nu-command/tests/commands/seq_date.rs
Labels: pr:bugfix, pr:commands

#14781 Fallback to file completer in custom/external completer
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/src/completions/custom_completions.rs
  crates/nu-cli/tests/completions/mod.rs
Labels: completions, pr:breaking-change

#14920 refactor(parser): use var_id for most constants in `ResolvedImportPattern`
  crates/nu-lsp/src/ast.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-protocol/src/module.rs
Labels: parser

#14897 Use `ref-cast` crate to remove some `unsafe`
  Cargo.lock
  crates/nu-path/Cargo.toml
  crates/nu-path/src/form.rs
  crates/nu-path/src/path.rs
Labels: refactor

#14924 fix(lsp): goto/hover on module name in some commands
  crates/nu-lsp/src/ast.rs
  crates/nu-lsp/src/goto.rs
  tests/fixtures/lsp/goto/use_module.nu
Labels: LSP

#14928 fix(parser): span of keyword expression
  crates/nu-lsp/src/ast.rs
  crates/nu-lsp/src/goto.rs
  crates/nu-parser/src/parser.rs
Labels: parser, LSP

#14940 feat(lsp): show value on hover for const variables and CellPaths
  crates/nu-lsp/src/ast.rs
  crates/nu-lsp/src/goto.rs
  crates/nu-lsp/src/hints.rs
  crates/nu-lsp/src/lib.rs
  crates/nu-lsp/src/notification.rs
  crates/nu-lsp/src/symbols.rs
  crates/nu-lsp/src/workspace.rs
  crates/nu-protocol/src/ast/cell_path.rs
  tests/fixtures/lsp/hover/cell_path.nu
Labels: LSP

#14912 fix(parser): mixed side effects of different choices in `parse_oneof`
  crates/nu-parser/src/parser.rs
  crates/nu-parser/tests/test_parser.rs
Labels: parser, completions, pr:bugfix, LSP

#14961 Add `--first`/`--last` flags to `move`
  crates/nu-command/src/filters/move_.rs
Labels: enhancement, pr:commands

#14863 fix range bugs in `str substring`, `str index-of`, `slice`, `bytes at`
  crates/nu-command/src/bytes/at.rs
  crates/nu-command/src/filters/slice.rs
  crates/nu-command/src/strings/str_/index_of.rs
  crates/nu-command/src/strings/str_/substring.rs
  crates/nu-command/tests/commands/bytes/at.rs
  crates/nu-command/tests/commands/slice.rs
  crates/nu-protocol/src/pipeline/byte_stream.rs
  crates/nu-protocol/src/value/range.rs
  crates/nu-protocol/tests/pipeline/byte_stream.rs
Labels: pr:bugfix, pr:commands
