Repository nushell/nushell, pull requests merged in 2025-02, with the labels that each got.

#14954 Swap additional context and label in I/O errors
  crates/nu-command/src/filesystem/open.rs
  crates/nu-protocol/src/errors/shell_error/io.rs
Labels: pr:errors, pr:screenshot

#14908 feat(cli): add vi solidus `/` keybinding
  crates/nu-cli/src/reedline_config.rs
Labels: keybindings

#14997 make `echo` const
  crates/nu-cmd-lang/src/core_commands/echo.rs
  crates/nu-command/tests/commands/echo.rs
Labels: pr:commands

#15022 remove duplicate code in math/log.rs
  crates/nu-command/src/math/log.rs
Labels: refactor, pr:commands

#14980 check signals while printing values
  crates/nu-command/tests/commands/start.rs
  crates/nu-protocol/src/pipeline/pipeline_data.rs
Labels: signal-cancel, pr:bugfix, pr:errors

#15037 Trigger tests for patch release branch pushes
  .github/workflows/ci.yml
Labels: tests, build-package

#15054 allow `export alias` in repl
  crates/nu-command/tests/commands/alias.rs
  crates/nu-parser/src/parse_keywords.rs
Labels: pr:bugfix

#15058 Fix `missing required overlay` error
  crates/nu-parser/src/parser.rs
  tests/overlays/mod.rs
Labels: pr:bugfix

#15032 Fix match running closures as block
  crates/nu-engine/src/compile/keyword.rs
Labels: semantics, pr:breaking-change, pr:bugfix

#15088 Bump `bytesize` to fix `into filesize`
  Cargo.lock
  Cargo.toml
  crates/nu-command/tests/commands/into_filesize.rs
Labels: pr:bugfix

#15084 make plugin compatible with nightly nushell version
  crates/nu-plugin-protocol/src/protocol_info.rs
  crates/nu-plugin-protocol/src/tests.rs
Labels: pr:plugins

#15023 Fix spread operator lexing in records
  crates/nu-parser/src/parser.rs
  tests/repl/test_spread.rs
Labels: syntax, pr:bugfix

#14429 Rework operator type errors
  crates/nu-color-config/src/style_computer.rs
  crates/nu-command/src/help/help_operators.rs
  crates/nu-command/src/math/median.rs
  crates/nu-command/src/math/mode.rs
  crates/nu-command/src/math/reducers.rs
  crates/nu-command/tests/commands/assignment/concat.rs
  crates/nu-command/tests/commands/reduce.rs
  crates/nu-engine/src/compile/expression.rs
  crates/nu-engine/src/compile/operator.rs
  crates/nu-engine/src/eval.rs
  crates/nu-engine/src/eval_ir.rs
  crates/nu-parser/src/parser.rs
  crates/nu-parser/src/type_check.rs
  crates/nu-parser/tests/test_parser.rs
  crates/nu-plugin-engine/src/interface/tests.rs
  crates/nu-protocol/src/ast/operator.rs
  crates/nu-protocol/src/errors/parse_error.rs
  crates/nu-protocol/src/errors/shell_error/mod.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-protocol/src/value/custom_value.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu-std/std/help/mod.nu
  crates/nu_plugin_custom_values/src/cool_custom_value.rs
  crates/nu_plugin_polars/src/dataframe/values/mod.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_dataframe/between_values.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_expression/custom_value.rs
  tests/const_/mod.rs
  tests/repl/test_ranges.rs
  tests/repl/test_regex.rs
  tests/repl/test_strings.rs
  tests/repl/test_type_check.rs
  tests/shell/pipeline/commands/internal.rs
Labels: pr:bugfix, pr:errors

#15137 add `attr category` `@category` to custom command attributes
  crates/nu-cli/tests/completions/mod.rs
  crates/nu-cmd-lang/src/core_commands/attr/category.rs
  crates/nu-cmd-lang/src/core_commands/attr/mod.rs
  crates/nu-cmd-lang/src/default_context.rs
  crates/nu-lsp/src/lib.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-protocol/src/signature.rs
Labels: new-command, pr:commands
