Repository nushell/nushell, pull requests merged in 2025-10, with the labels that each got.

#16768 add `--chars` to `str length` command
  crates/nu-command/src/strings/mod.rs
  crates/nu-command/src/strings/str_/length.rs
Labels: notes:ready, notes:additions, X:controversial

#16795 Promote experimental option `reorder-cell-paths` to opt out
  crates/nu-experimental/src/options/reorder_cell_paths.rs
Labels: notes:ready, notes:additions

#16796 Stop using `macos-13` in CI
  .github/workflows/ci.yml
Labels: A:ci

#16789 Add syntax for simple completions from const lists
  crates/nu-cli/tests/completions/mod.rs
  crates/nu-parser/src/parse_shape_specs.rs
  crates/nu-parser/src/parser.rs
Labels: A:parser, A:completions, A:syntax, notes:additions

#16735 feat: `each` can flatten streams from the closure without collecting
  crates/nu-cli/src/menus/help_completions.rs
  crates/nu-command/src/filters/each.rs
  crates/nu-command/tests/commands/each.rs
Labels: A:streaming, notes:additions

#16765 Command-wide completions
  crates/nu-cli/src/completions/command_completions.rs
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/src/completions/custom_completions.rs
  crates/nu-cli/tests/completions/mod.rs
  crates/nu-cmd-lang/src/core_commands/attr/complete.rs
  crates/nu-cmd-lang/src/core_commands/attr/mod.rs
  crates/nu-cmd-lang/src/default_context.rs
  crates/nu-engine/src/scope.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-protocol/src/signature.rs
Labels: A:external-commands, A:parser, A:completions, notes:additions

#16775 Windows device path fixes
  crates/nu-command/src/filesystem/open.rs
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/src/misc/source.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-path/src/dots.rs
  crates/nu-path/src/helpers.rs
  crates/nu-path/src/lib.rs
  crates/nu-path/src/trailing_slash.rs
Labels: A:parser

#16820 Mark `Value` variants as `#[non_exhaustive]`
  crates/nu-cli/tests/completions/support/completions_helpers.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_dtype/mod.rs
Labels: A:plugin-polars, A:plugins, notes:hide
