Repository nushell/nushell, pull requests merged in 2025-03, with the labels that each got.

#15213 fix(compact): compact empty list or record in column
  crates/nu-command/src/filters/compact.rs
  crates/nu-command/tests/commands/compact.rs
Labels: pr:breaking-change, pr:bugfix

#15247 feat(lsp): completion items now respect the `append_whitespace` flag
  crates/nu-lsp/src/completion.rs
Labels: LSP

#15254 bugfix: add "to yml" command
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/formats/to/mod.rs
  crates/nu-command/src/formats/to/yaml.rs
  crates/nu-command/tests/format_conversions/yaml.rs
Labels: file-format, new-command, pr:release-note-mention

#15271 Respect system locale when formatting file sizes via config
  crates/nu-command/src/formats/to/text.rs
  crates/nu-command/src/random/binary.rs
  crates/nu-command/src/random/chars.rs
  crates/nu-command/src/strings/format/filesize.rs
  crates/nu-protocol/src/config/filesize.rs
  crates/nu-protocol/src/value/filesize.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu-utils/src/locale.rs
Labels: pr:commands

#15276 Add `filesize.show_unit` config option
  crates/nu-protocol/src/config/filesize.rs
  crates/nu-protocol/src/value/filesize.rs
  crates/nu-utils/src/default_files/doc_config.nu
  crates/nu-utils/src/locale.rs
Labels: configuration

#15255 `polars open`: exposing the ability to configure hive settings.
  crates/nu_plugin_polars/src/dataframe/command/core/open.rs
Labels: dataframe, pr:plugins

#15272 Parse XML documents with DTDs by default, and add `--disallow-dtd` flag
  crates/nu-command/src/env/config/config_flatten.rs
  crates/nu-command/src/formats/from/json.rs
  crates/nu-command/src/formats/from/xml.rs
  crates/nu-protocol/src/span.rs
Labels: file-format, pr:commands, pr:errors

#15301 refactor: tree-sitter-nu friendly alternative expressions
  crates/nu-std/std-rfc/tables/mod.nu
  crates/nu-std/std/help/mod.nu
  scripts/build-all.nu
  scripts/coverage-local.nu
  scripts/test_virtualenv.nu
Labels: std-library

#15304 Adds polars list-contains command
  crates/nu_plugin_polars/src/dataframe/command/list/contains.rs
  crates/nu_plugin_polars/src/dataframe/command/list/mod.rs
  crates/nu_plugin_polars/src/dataframe/command/mod.rs
  crates/nu_plugin_polars/src/lib.rs
Labels: dataframe, pr:plugins

#15038 Remove `range` command after deprecation
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/filters/mod.rs
  crates/nu-command/src/filters/range.rs
Labels: pr:breaking-change, removal-after-deprecation

#15040 Remove `fmt` after deprecation
  crates/nu-cmd-extra/src/extra/conversions/fmt.rs
  crates/nu-cmd-extra/src/extra/conversions/mod.rs
  crates/nu-cmd-extra/src/extra/mod.rs
  crates/nu-cmd-extra/src/extra/strings/format/mod.rs
Labels: pr:breaking-change, removal-after-deprecation

#15039 Remove `into bits` after deprecation
  crates/nu-cmd-extra/src/extra/bits/into.rs
  crates/nu-cmd-extra/src/extra/bits/mod.rs
  crates/nu-cmd-extra/src/extra/mod.rs
  crates/nu-cmd-extra/src/extra/strings/format/bits.rs
  crates/nu-cmd-extra/src/extra/strings/format/mod.rs
Labels: pr:breaking-change, removal-after-deprecation

#15292 Support for reading Categorical and Enum types
  crates/nu_plugin_polars/src/dataframe/values/nu_dataframe/conversion.rs
Labels: dataframe, pr:plugins

#15299 fix(completion): more quoting for file_completion/directory_completion
  crates/nu-cli/src/completions/completion_common.rs
  crates/nu-cli/tests/completions/mod.rs
  tests/fixtures/partial_completions/partial-d(/.gitkeep
  tests/fixtures/quoted_completions/curly-bracket_{.txt
  tests/fixtures/quoted_completions/semicolon_;.txt
  tests/fixtures/quoted_completions/square-bracket_[.txt
Labels: completions, pr:bugfix

#15317 remove mimalloc allocator
  Cargo.lock
  Cargo.toml
  crates/nu-cmd-lang/Cargo.toml
  crates/nu-cmd-lang/src/core_commands/version.rs
  crates/nu_plugin_polars/Cargo.toml
  crates/nu_plugin_polars/src/main.rs
  src/main.rs
Labels: pr:breaking-change

#15314 Close find handle in `ls` windows unsafe code
  crates/nu-command/src/filesystem/ls.rs
Labels: windows, pr:bugfix

#15285 Unify closure serializing logic for `to nuon`, `to msgpack`, and `to json`
  crates/nu-command/src/formats/to/json.rs
  crates/nu-command/src/formats/to/msgpack.rs
  crates/nu-command/src/formats/to/msgpackz.rs
  crates/nu-command/src/formats/to/nuon.rs
  crates/nu-command/src/network/http/client.rs
  crates/nu-protocol/src/engine/capture_block.rs
  crates/nu-protocol/src/engine/closure.rs
  crates/nu-protocol/src/engine/mod.rs
  crates/nuon/src/to.rs
Labels: inconsistent-behavior, file-format, pr:breaking-change

#15320 `into string` should not modify strings
  crates/nu-command/src/conversions/into/string.rs
  crates/nu-protocol/src/errors/shell_error/mod.rs
Labels: pr:commands

#15365 Don't collect job output
  crates/nu-command/src/experimental/job_spawn.rs
Labels: pr:bugfix

#15349 Remove `nu-glob`'s dependency on `nu-protocol`
  Cargo.lock
  crates/nu-command/src/filesystem/utouch.rs
  crates/nu-glob/Cargo.toml
  crates/nu-glob/src/lib.rs
  crates/nu-lsp/src/workspace.rs
  crates/nu-protocol/Cargo.toml
  crates/nu-protocol/src/pipeline/signals.rs
  crates/nu-test-support/src/playground/play.rs
Labels: refactor

#15357 Fix `to nuon --serialize` of closure
  crates/nu-command/tests/format_conversions/nuon.rs
  crates/nuon/src/to.rs
  tests/eval/mod.rs
Labels: nuon-format, pr:breaking-change, pr:bugfix

#15374 fix: flatten of empty closures
  crates/nu-parser/src/flatten.rs
Labels: pr:commands

#15264 Rename user-facing 'date' to 'datetime'
  crates/nu-cmd-lang/src/core_commands/describe.rs
  crates/nu-color-config/src/style_computer.rs
  crates/nu-command/src/conversions/into/value.rs
  crates/nu-command/tests/commands/table.rs
  crates/nu-command/tests/format_conversions/nuon.rs
  crates/nu-protocol/src/ty.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu-std/std/config/mod.nu
  crates/nu-utils/src/default_files/default_config.nu
Labels: pr:breaking-change, naming-things :bike: :hut:, datetime-handling

#15379 Fix `path add` bug when given a record
  crates/nu-std/std/util/mod.nu
  crates/nu-std/tests/test_std_util.nu
  crates/nu-std/tests/test_util.nu
Labels: std-library, pr:bugfix

#15443 fix(completion): completions.external.enable config option not respected
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/tests/completions/mod.rs
Labels: completions, pr:bugfix

#15449 feat(lsp): parse_warnings in diagnostics report
  crates/nu-lsp/src/diagnostics.rs
Labels: LSP

#15457 Revert "Improve completions for exact matches (Issue #14794)"
  crates/nu-cli/src/completions/completion_common.rs
  crates/nu-cli/tests/completions/mod.rs
Labels: completions
