Repository nushell/nushell, pull requests merged in 2025-05, with the labels that each got.

#15653 nu-table/ 1 refactoring + a few optimizations + small fix
  crates/nu-command/src/viewers/table.rs
  crates/nu-command/tests/commands/table.rs
  crates/nu-table/examples/table_demo.rs
  crates/nu-table/src/table.rs
  crates/nu-table/src/types/expanded.rs
  crates/nu-table/src/types/general.rs
  crates/nu-table/tests/common.rs
Labels: tabled, performance, wait-until-after-nushell-release

#15640 refactor `Value::follow_cell_path` to reduce clones and return `Cow`
  crates/nu-cli/src/completions/cell_path_completions.rs
  crates/nu-cmd-extra/src/extra/strings/format/command.rs
  crates/nu-command/src/filters/empty.rs
  crates/nu-command/src/filters/get.rs
  crates/nu-command/src/filters/group_by.rs
  crates/nu-command/src/filters/insert.rs
  crates/nu-command/src/filters/select.rs
  crates/nu-command/src/filters/update.rs
  crates/nu-command/src/filters/upsert.rs
  crates/nu-command/src/platform/input/list.rs
  crates/nu-command/src/sort_utils.rs
  crates/nu-engine/src/eval.rs
  crates/nu-engine/src/eval_ir.rs
  crates/nu-lsp/src/goto.rs
  crates/nu-lsp/src/hover.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-protocol/src/pipeline/pipeline_data.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu_plugin_inc/src/inc.rs
Labels: optimization, performance, wait-until-after-nushell-release

#15656 feat(polars): add `polars horizontal` aggregation command
  crates/nu_plugin_polars/src/dataframe/command/aggregation/horizontal.rs
  crates/nu_plugin_polars/src/dataframe/command/aggregation/mod.rs
Labels: dataframe, pr:plugins, wait-until-after-nushell-release

#15651 Environment-aware help for `open` and `save`
  crates/nu-command/src/filesystem/open.rs
  crates/nu-command/src/filesystem/save.rs
  crates/nu-std/std/help/mod.nu
Labels: std-library

#15678 Added `polars struct-encode-json`, providing the ability to encode structs as json
  crates/nu-plugin-test-support/src/plugin_test.rs
  crates/nu_plugin_polars/src/dataframe/command/data/mod.rs
  crates/nu_plugin_polars/src/dataframe/command/data/struct_json_encode.rs
Labels: dataframe, pr:plugins

#15646 Add `SyntaxShape::OneOf` syntax users can use
  crates/nu-parser/src/parse_shape_specs.rs
  crates/nu-protocol/src/syntax_shape.rs
  tests/repl/test_signatures.rs
Labels: parser, type-system, syntax

#15560 Remove legacy code in some core commands
  crates/nu-cmd-lang/src/core_commands/break_.rs
  crates/nu-cmd-lang/src/core_commands/const_.rs
  crates/nu-cmd-lang/src/core_commands/continue_.rs
  crates/nu-cmd-lang/src/core_commands/for_.rs
  crates/nu-cmd-lang/src/core_commands/if_.rs
  crates/nu-cmd-lang/src/core_commands/let_.rs
  crates/nu-cmd-lang/src/core_commands/loop_.rs
  crates/nu-cmd-lang/src/core_commands/match_.rs
  crates/nu-cmd-lang/src/core_commands/mut_.rs
  crates/nu-cmd-lang/src/core_commands/return_.rs
  crates/nu-cmd-lang/src/core_commands/try_.rs
  crates/nu-cmd-lang/src/core_commands/while_.rs
  crates/nu-parser/README.md
Labels: parser

#15609 feat: make to nuon raw option remove all white space
  crates/nu-command/src/filters/uniq.rs
  crates/nu-command/src/formats/from/nuon.rs
  crates/nu-command/src/formats/to/nuon.rs
  crates/nu-command/tests/commands/database/into_sqlite.rs
  crates/nu-command/tests/commands/filter.rs
  crates/nu-command/tests/commands/headers.rs
  crates/nu-std/std/assert/mod.nu
  crates/nu-std/std/formats/mod.nu
  crates/nu_plugin_nu_example/nu_plugin_nu_example.nu
  crates/nuon/src/lib.rs
  crates/nuon/src/to.rs
  tests/plugins/formats/ini.rs
Labels: pr:plugins, nuon-format, pr:breaking-change, std-library

#15727 nu-table: (table --expand) Remove unnessary use of truncate logic
  crates/nu-table/src/table.rs
  crates/nu-table/src/types/expanded.rs
Labels: tabled

#15728 Minor DataType refactor
  crates/nu_plugin_polars/src/dataframe/values/nu_dtype/mod.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_schema/mod.rs
Labels: dataframe, pr:plugins

#15697 feat(where): Support stored closure
  crates/nu-command/src/filters/where_.rs
  crates/nu-command/tests/commands/where_.rs
  crates/nu-parser/src/parser.rs
Labels: parser, pr:commands

#15735 fix parsing of bare word string interpolations that start with a sub expression
  crates/nu-parser/src/parser.rs
  crates/nu-parser/tests/test_parser.rs
Labels: parser

#15767 fix duplicate short_name in `ansi` command
  crates/nu-command/src/platform/ansi/ansi_.rs
Labels: pr:breaking-change, pr:commands

#15771 feat(polars): expand `polars unique` to allow expressions inputs
  crates/nu_plugin_polars/src/dataframe/command/data/unique.rs
Labels: dataframe, pr:plugins

#15769 fix `kv set` examples
  crates/nu-std/std-rfc/kv/mod.nu
Labels: std-library

#15692 feat!: Explicit cell-path case sensitivity syntax
  crates/nu-cli/src/completions/cell_path_completions.rs
  crates/nu-cmd-extra/src/extra/strings/format/command.rs
  crates/nu-command/src/conversions/into/cell_path.rs
  crates/nu-command/src/conversions/split_cell_path.rs
  crates/nu-command/src/filters/empty.rs
  crates/nu-command/src/filters/get.rs
  crates/nu-command/src/filters/group_by.rs
  crates/nu-command/src/filters/insert.rs
  crates/nu-command/src/filters/reject.rs
  crates/nu-command/src/filters/select.rs
  crates/nu-command/src/filters/sort.rs
  crates/nu-command/src/filters/update.rs
  crates/nu-command/src/filters/upsert.rs
  crates/nu-command/src/platform/input/list.rs
  crates/nu-command/src/sort_utils.rs
  crates/nu-command/tests/commands/database/into_sqlite.rs
  crates/nu-command/tests/sort_utils.rs
  crates/nu-engine/src/eval.rs
  crates/nu-engine/src/eval_ir.rs
  crates/nu-lsp/src/goto.rs
  crates/nu-lsp/src/hover.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/ast/cell_path.rs
  crates/nu-protocol/src/casing.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-protocol/src/lib.rs
  crates/nu-protocol/src/pipeline/pipeline_data.rs
  crates/nu-protocol/src/value/from_value.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu-protocol/src/value/record.rs
  crates/nu-utils/src/quoting.rs
  crates/nu_plugin_inc/src/inc.rs
  crates/nuon/src/lib.rs
  tests/repl/test_table_operations.rs
Labels: enhancement, parser, pr:plugins, inconsistent-behavior, pr:breaking-change, environment, syntax, LSP, pr:commands, pr:language, cell-path-semantics

#15690 Fix Windows arm64 release binaries and winget related issues
  .github/workflows/nightly-build.yml
  .github/workflows/release-pkg.nu
  .github/workflows/release.yml
  scripts/build.rs
  wix/License.rtf
  wix/main.wixproj
  wix/main.wxs
  wix/nu.ico
Labels: build-package, windows, ci, pr:bugfix

#15800 Add a lightweight MSI packages release workflow for winget
  .github/workflows/release-msi.nu
  .github/workflows/release-msi.yml
Labels: ci

#15792 std-rfc/kv: optimize kv get by only selecting one row from the stor db
  crates/nu-std/std-rfc/kv/mod.nu
Labels: std-library

#15798 `source`: make sure the block is compiled when parsing
  crates/nu-command/tests/commands/source_env.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parser.rs
Labels: parser, pr:bugfix

#15787 Improve error handling for unsupported --theme in to html command
  crates/nu-cmd-extra/src/extra/formats/to/html.rs
Labels: pr:errors

#15852 Polars upgrade
  Cargo.lock
  crates/nu_plugin_polars/Cargo.toml
  crates/nu_plugin_polars/src/dataframe/command/aggregation/aggregate.rs
  crates/nu_plugin_polars/src/dataframe/command/aggregation/over.rs
  crates/nu_plugin_polars/src/dataframe/command/boolean/is_in.rs
  crates/nu_plugin_polars/src/dataframe/command/core/save/arrow.rs
  crates/nu_plugin_polars/src/dataframe/command/core/save/csv.rs
  crates/nu_plugin_polars/src/dataframe/command/core/save/mod.rs
  crates/nu_plugin_polars/src/dataframe/command/core/save/ndjson.rs
  crates/nu_plugin_polars/src/dataframe/command/core/save/parquet.rs
  crates/nu_plugin_polars/src/dataframe/command/core/summary.rs
  crates/nu_plugin_polars/src/dataframe/command/data/sql_expr.rs
  crates/nu_plugin_polars/src/dataframe/command/datetime/as_datetime.rs
  crates/nu_plugin_polars/src/dataframe/command/datetime/convert_time_zone.rs
  crates/nu_plugin_polars/src/dataframe/command/datetime/mod.rs
  crates/nu_plugin_polars/src/dataframe/command/datetime/replace_time_zone.rs
  crates/nu_plugin_polars/src/dataframe/command/datetime/truncate.rs
  crates/nu_plugin_polars/src/dataframe/command/list/contains.rs
  crates/nu_plugin_polars/src/dataframe/values/mod.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_dataframe/conversion.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_dtype/mod.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_expression/mod.rs
Labels: dataframe, pr:plugins, pr:breaking-change

#15855 Allow `polars first` to be used with `polars group-by`
  crates/nu_plugin_polars/src/dataframe/command/data/first.rs
  crates/nu_plugin_polars/src/main.rs
Labels: dataframe, pr:plugins

#15857 Fix for null handling #15788
  crates/nu_plugin_polars/src/dataframe/values/nu_dataframe/conversion.rs
Labels: dataframe, pr:plugins

#15680 fix(parser): don't parse closure in block position (fixes #15417)
  crates/nu-parser/src/parser.rs
  crates/nu-parser/tests/test_parser.rs
Labels: parser
