Repository nushell/nushell, pull requests merged in 2025-08, with the labels that each got.

#16111 Fix parse-time pipeline type checking to support multiple output types for same input type
  crates/nu-command/src/conversions/into/datetime.rs
  crates/nu-command/src/conversions/into/duration.rs
  crates/nu-engine/src/eval_ir.rs
  crates/nu-parser/src/type_check.rs
  crates/nu-protocol/src/errors/parse_error.rs
  crates/nu-protocol/src/ty.rs
  tests/repl/test_type_check.rs
Labels: parser, type-system, pipeline, pr:bugfix

#16078 Bump ureq, get redirect history.
  Cargo.lock
  Cargo.toml
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/src/completions/custom_completions.rs
  crates/nu-command/Cargo.toml
  crates/nu-command/src/network/http/client.rs
  crates/nu-command/src/network/http/delete.rs
  crates/nu-command/src/network/http/get.rs
  crates/nu-command/src/network/http/head.rs
  crates/nu-command/src/network/http/http_.rs
  crates/nu-command/src/network/http/mod.rs
  crates/nu-command/src/network/http/options.rs
  crates/nu-command/src/network/http/patch.rs
  crates/nu-command/src/network/http/post.rs
  crates/nu-command/src/network/http/put.rs
  crates/nu-command/src/network/http/timeout_extractor_reader.rs
  crates/nu-command/src/network/tls/impl_rustls.rs
  crates/nu-command/tests/commands/network/http/delete.rs
  crates/nu-command/tests/commands/network/http/get.rs
  crates/nu-command/tests/commands/network/http/head.rs
  crates/nu-command/tests/commands/network/http/post.rs
Labels: networking

#16328 Forgo full build in the `cargo hack` wf
  .github/workflows/pre-release-checkup.yml
Labels: ci

#16323 Change the behavior of `--ignore-case` and `--multiline` options for `find`
  crates/nu-command/src/filters/find.rs
  crates/nu-command/tests/commands/find.rs
  typos.toml
Labels: pr:breaking-change

#16270 [nu-std] std-rfc/random: add `random choice`
  crates/nu-std/src/lib.rs
  crates/nu-std/std-rfc/mod.nu
  crates/nu-std/std-rfc/random/mod.nu
Labels: std-library, new-command

#16369 Respect `$env.LC_ALL` and `$env.LANG` in `format date`
  crates/nu-command/src/strings/format/date.rs
Labels: localization, datetime-handling

#16376 fix(parser): missing span of short flag that requires a value
  crates/nu-cli/tests/completions/mod.rs
  crates/nu-parser/src/parser.rs
Labels: parser

#16399 feat: `null` values can be spread as if they are empty lists or records.
  crates/nu-engine/src/eval_ir.rs
  crates/nu-protocol/src/ast/call.rs
  crates/nu-protocol/src/eval_base.rs
  crates/nu-protocol/src/ir/call.rs
  tests/repl/test_spread.rs
Labels: semantics, quality-of-life

#16430 Validate `std/random dice` args
  crates/nu-std/std/random/mod.nu
  crates/nu-std/tests/test_std_random.nu
Labels: std-library

#16401 feat(get,select,reject): add `--ignore-case` which interprets cell-paths case insensitively, analogous to `--optional`
  crates/nu-command/src/filters/get.rs
  crates/nu-command/src/filters/reject.rs
  crates/nu-command/src/filters/select.rs
  tests/repl/test_table_operations.rs
Labels: enhancement, pr:commands

#16245 feat(std/bench) add `osc 9;4` progress bar
  crates/nu-std/std/bench/mod.nu
Labels: std-library

#16452 fix uninlined_format_args clippy warnings
  crates/nu-cli/src/eval_file.rs
  crates/nu-cli/src/repl.rs
  crates/nu-cli/src/syntax_highlight.rs
  crates/nu-command/src/database/values/sqlite.rs
  crates/nu-command/src/platform/input/list.rs
  crates/nu-command/tests/commands/run_external.rs
  crates/nu-parser/src/parser.rs
  crates/nu-plugin-core/src/interface/stream/mod.rs
  crates/nu-plugin-engine/src/interface/mod.rs
  crates/nu-plugin/src/plugin/interface/mod.rs
  src/config_files.rs
Labels: parser, pr:plugins

#16440 Quote strings containing `=`
  crates/nu-command/tests/format_conversions/nuon.rs
  crates/nu-utils/src/quoting.rs
Labels: nuon-format, pr:release-note-mention

#16455 Fix loongarch64 builds for rust 1.87.0
  .github/workflows/release-pkg.nu
Labels: ci

#16262 fix(parser): `export def` exposes arguments to current scope
  crates/nu-command/tests/commands/export.rs
  crates/nu-command/tests/commands/export_def.rs
  crates/nu-command/tests/commands/mod.rs
  crates/nu-parser/src/parse_keywords.rs
Labels: parser

#16493 feat(docs): add to `run-external` and `help` command descriptions
  crates/nu-command/src/help/help_.rs
  crates/nu-command/src/system/run_external.rs
Labels: notes:ready, notes:additions

#16444 fix(polars): fix `polars fill-null` signature to also accept expression as input
  crates/nu_plugin_polars/src/dataframe/command/data/fill_null.rs
Labels: dataframe, pr:plugins

#16490 Refactor `Record` api. Reduce code duplication and make future refactors easier.
  crates/nu-protocol/src/casing.rs
  crates/nu-protocol/src/value/record.rs
Labels: refactor, pr:api-change
