Repository nushell/nushell, pull requests merged in 2025-09, with the labels that each got.

#16585 update help to remove incorrect link
  crates/nu_plugin_query/Cargo.toml
  crates/nu_plugin_query/src/query_json.rs
Labels: pr:plugins

#16551 `which` without application parameter now lists all internal and external executables
  crates/nu-command/src/system/which_.rs
  crates/nu-command/tests/commands/which.rs
Labels: notes:other

#16449 Try to implement pipefail feature
  Cargo.lock
  crates/nu-cli/Cargo.toml
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/src/eval_cmds.rs
  crates/nu-cli/src/eval_file.rs
  crates/nu-cli/src/menus/menu_completions.rs
  crates/nu-cli/src/reedline_config.rs
  crates/nu-cli/src/util.rs
  crates/nu-cmd-base/src/hook.rs
  crates/nu-cmd-lang/src/core_commands/collect.rs
  crates/nu-cmd-lang/src/core_commands/do_.rs
  crates/nu-cmd-lang/src/example_support.rs
  crates/nu-command/src/debug/metadata_access.rs
  crates/nu-command/src/env/source_env.rs
  crates/nu-command/src/env/with_env.rs
  crates/nu-command/src/filesystem/save.rs
  crates/nu-command/src/filters/tee.rs
  crates/nu-command/src/misc/source.rs
  crates/nu-command/tests/commands/do_.rs
  crates/nu-engine/Cargo.toml
  crates/nu-engine/src/closure_eval.rs
  crates/nu-engine/src/eval.rs
  crates/nu-engine/src/eval_helpers.rs
  crates/nu-engine/src/eval_ir.rs
  crates/nu-experimental/src/options/mod.rs
  crates/nu-experimental/src/options/pipefail.rs
  crates/nu-explore/src/nu_common/command.rs
  crates/nu-plugin-engine/src/context.rs
  crates/nu-plugin-test-support/src/plugin_test.rs
  crates/nu-protocol/src/debugger/debugger_trait.rs
  crates/nu-protocol/src/debugger/profiler.rs
  crates/nu-protocol/src/pipeline/pipeline_data.rs
  crates/nu-protocol/src/process/child.rs
  crates/nu-test-support/src/macros.rs
  src/test_bins.rs
  tests/shell/pipeline/commands/external.rs
Labels: pr:plugins

#16617 Rework signature flag parsing
  crates/nu-parser/src/parser.rs
Labels: A:parser, category:refactor

#16684 Bump `rusqlite` to 0.37
  Cargo.lock
  Cargo.toml
  crates/nu-command/src/database/values/sqlite.rs
Labels: notes:mention, notes:ready

#16690 Load experimental options before command context is loaded
  crates/nu-cmd-lang/src/default_context.rs
  src/command_context.rs
  src/main.rs
Labels: notes:mention, notes:ready

#16702 Fix CI artifact upload on Windows runner
  .github/workflows/ci.yml
Labels: A:ci

#16628 test(lsp): add more test cases for recent fixes
  crates/nu-lsp/src/completion.rs
  crates/nu-lsp/src/goto.rs
  crates/nu-lsp/src/lib.rs
  crates/nu-lsp/src/notification.rs
  crates/nu-lsp/src/workspace.rs
  tests/fixtures/lsp/completion/var.nu
Labels: notes:mention, A:LSP, notes:ready

#16688 Improve error messages for invalid binary strings
  crates/nu-parser/src/parser.rs
  crates/nu-parser/tests/test_parser.rs
  crates/nu-protocol/src/errors/parse_error.rs
Labels: A:parser

#16694 fix(lsp): panic on goto std files
  crates/nu-lsp/src/goto.rs
  crates/nu-lsp/src/hover.rs
  crates/nu-lsp/src/lib.rs
  crates/nu-lsp/src/notification.rs
  crates/nu-lsp/src/workspace.rs
  tests/fixtures/lsp/goto/use_module.nu
Labels: A:LSP

#16715 fix(completion): dotnu completion refactor, fixes path with space for both dotnu module path and external executable
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/src/completions/dotnu_completions.rs
  crates/nu-cli/src/completions/file_completions.rs
  crates/nu-cli/src/completions/mod.rs
  crates/nu-cli/tests/completions/mod.rs
  crates/nu-lsp/src/completion.rs
Labels: A:LSP

#16722 Theming fix
  crates/nu-color-config/src/nu_style.rs
  crates/nu-std/std/config/mod.nu
Labels: A:std-library, notes:fixes, notes:ready

#16724 Add configuration for columnar menu traversal direction
  Cargo.lock
  crates/nu-cli/src/reedline_config.rs
  crates/nu-utils/src/default_files/doc_config.nu
Labels: A:completions

#16737 update nushell to use coreutils v0.2.2 crates
  Cargo.lock
  Cargo.toml
  crates/nu-command/Cargo.toml
  crates/nu-command/src/filesystem/mktemp.rs
  crates/nu-command/src/filesystem/ucp.rs
  crates/nu-command/src/filesystem/umkdir.rs
  crates/nu-command/src/filesystem/umv.rs
  crates/nu-command/src/filesystem/utouch.rs
  crates/nu-command/src/platform/whoami.rs
  crates/nu-command/src/system/uname.rs
  crates/nu-command/tests/commands/move_/umv.rs
  crates/nu-command/tests/commands/ucp.rs
Labels: X:blessed

#16740 Using `break`/`continue` outside loops raises a compile error
  crates/nu-command/tests/commands/break_.rs
  crates/nu-engine/src/compile/keyword.rs
  crates/nu-parser/src/parser.rs
Labels: A:parser, notes:fixes, A:ir-compiler
