Repository nushell/nushell, pull requests merged in 2025-06, with the labels that each got.

#15867 Update deprecation warnings
  crates/nu-command/src/filters/filter.rs
  crates/nu-command/src/filters/get.rs
  crates/nu-command/tests/commands/filter.rs
  crates/nu-std/std/iter/mod.nu
  crates/nu-std/std/xml/mod.nu
  crates/nu-std/testing.nu
Labels: std-library, deprecation

#15856 feat(std): further `bench` improvements
  crates/nu-std/std/bench/mod.nu
Labels: std-library

#15875 Add `debug env` command
  crates/nu-command/src/debug/env.rs
  crates/nu-command/src/debug/mod.rs
  crates/nu-command/src/default_context.rs
Labels: new-command, environment, pr:commands

#15840 feat(std-rfc): add `iter` module and `recurse` command
  crates/nu-std/src/lib.rs
  crates/nu-std/std-rfc/iter/mod.nu
  crates/nu-std/std-rfc/mod.nu
  crates/nu-std/tests/test_std-rfc_iter.nu
Labels: std-library, new-command, recursion

#15893 (gstat): add config option to disable tag calculation
  crates/nu_plugin_gstat/src/gstat.rs
  crates/nu_plugin_gstat/src/nu/mod.rs
Labels: pr:plugins

#15891 Creates col and nth expressions when using paths on lazy frames.
  crates/nu_plugin_polars/src/dataframe/values/nu_lazyframe/custom_value.rs
Labels: dataframe, pr:plugins, pr:breaking-change

#15898 Add regex documentation/examples to `polars col`
  crates/nu_plugin_polars/src/dataframe/command/data/col.rs
Labels: dataframe, pr:plugins

#15913 fix(polars): swap out pivot for pivot_stable to suppress warning message
  crates/nu_plugin_polars/src/dataframe/command/data/pivot.rs
Labels: dataframe, pr:plugins

#15933 Try to fix winget publish error
  .github/workflows/winget-submission.yml
Labels: ci

#15901 nu-table: Remove safety-net width check
  crates/nu-table/src/table.rs
Labels: wait-until-after-nushell-release

#15902 nu-table: (table -e) Reuse NuRecordsValue::width in some cases
  crates/nu-table/src/table.rs
  crates/nu-table/src/types/expanded.rs
Labels: wait-until-after-nushell-release

#15964 Allow `polars schema --datatype-list` to be used without pipeline input
  crates/nu_plugin_polars/src/dataframe/command/core/schema.rs
Labels: dataframe, pr:plugins

#15907 feat(ansi): use `_` in short name and rst -> reset
  crates/nu-command/src/platform/ansi/ansi_.rs
Labels: pr:breaking-change

#15965 feat(gstat): add `state` entry (like "Clean", "Merge", "Rebase", etc.)
  crates/nu_plugin_gstat/src/gstat.rs
Labels: pr:plugins

#15980 fix(std/log): Don't assume env variables are set
  crates/nu-std/std/log/mod.nu
Labels: std-library

#16008 Support namespaces in `query xml`
  crates/nu_plugin_query/src/query_xml.rs
Labels: pr:plugins

#15962 feat(std/help): Add `--help` for external-commands
  crates/nu-std/std/help/mod.nu
Labels: std-library

#15998 fix(completion): invalid prefix for external path argument with spaces
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/tests/completions/mod.rs
  tests/fixtures/external_completions/dir with space/bar baz
  tests/fixtures/external_completions/dir with space/foo
Labels: completions, pr:bugfix

#16019 fix(std/help): `collect` windows `--help` output for gui programs
  crates/nu-std/std/help/mod.nu
Labels: std-library

#16020 Add loongarch64-unknown-linux-musl build target
  .github/workflows/nightly-build.yml
  .github/workflows/release-pkg.nu
  .github/workflows/release.yml
Labels: ci

#16031 polars 0.49 upgrade
  Cargo.lock
  crates/nu_plugin_polars/Cargo.toml
  crates/nu_plugin_polars/src/dataframe/command/aggregation/aggregate.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_expression/mod.rs
Labels: dataframe, pr:plugins

#15892 Add backtick code formatting to `help`
  Cargo.lock
  crates/nu-cli/src/menus/help_completions.rs
  crates/nu-cli/src/nu_highlight.rs
  crates/nu-cli/src/syntax_highlight.rs
  crates/nu-command/src/help/help_aliases.rs
  crates/nu-engine/Cargo.toml
  crates/nu-engine/src/documentation.rs
  crates/nu-plugin/src/plugin/mod.rs
Labels: pr:plugins, help-system, pr:release-note-mention

#16016 `to <format>`: preserve round float numbers' type
  Cargo.lock
  crates/nu-command/src/formats/to/text.rs
  crates/nu-command/tests/commands/database/query_db.rs
  crates/nu-command/tests/commands/histogram.rs
  crates/nu-command/tests/commands/math/avg.rs
  crates/nu-command/tests/commands/math/log.rs
  crates/nu-command/tests/commands/math/mod.rs
  crates/nu-command/tests/commands/math/round.rs
  crates/nu-command/tests/commands/math/sqrt.rs
  crates/nu-command/tests/commands/math/variance.rs
  crates/nu-command/tests/commands/mut_.rs
  crates/nu-command/tests/format_conversions/csv.rs
  crates/nu-command/tests/format_conversions/json.rs
  crates/nu-command/tests/format_conversions/tsv.rs
  crates/nu-json/Cargo.toml
  crates/nu-json/src/ser.rs
  crates/nu-json/tests/main.rs
  crates/nu-protocol/src/value/format.rs
  crates/nu-protocol/src/value/mod.rs
  crates/nu-protocol/src/value/range.rs
  crates/nu-utils/src/float.rs
  crates/nu-utils/src/lib.rs
  crates/nuon/src/to.rs
  tests/assets/nu_json/comments_result.hjson
  tests/assets/nu_json/comments_result.json
  tests/assets/nu_json/kan_result.json
  tests/assets/nu_json/pass1_result.json
  tests/const_/mod.rs
  tests/plugins/stream.rs
  tests/repl/test_custom_commands.rs
  tests/repl/test_engine.rs
  tests/shell/pipeline/commands/internal.rs
Labels: inconsistent-behavior, file-format, pr:bugfix

#16063 fix(std/help): add `debug -v` to string default parameters
  crates/nu-std/std/help/mod.nu
Labels: std-library
