Repository nushell/nushell, pull requests merged in 2025-07, with the labels that each got.

#16132 Added flag limit for `polars arg-sort`
  crates/nu_plugin_polars/src/dataframe/command/index/arg_sort.rs
Labels: dataframe, pr:plugins

#16153 fix(gstat): make `state` entry lowercase
  crates/nu_plugin_gstat/src/gstat.rs
Labels: pr:plugins

#16154 fix(overlay): `overlay use` and `overlay hide` now update config state
  crates/nu-cmd-lang/src/core_commands/overlay/hide.rs
  crates/nu-cmd-lang/src/core_commands/overlay/use_.rs
  tests/overlays/mod.rs
Labels: configuration, hooks, inconsistent-behavior, environment, pr:bugfix

#16165 Update default (scaffold) config blurb
  crates/nu-utils/src/default_files/scaffold_config.nu
Labels: configuration

#16171 print to a value should be a SIGPIPE
  crates/nu-protocol/src/ast/expr.rs
  tests/shell/pipeline/mod.rs
Labels: pr:bugfix

#16173 Polars limit housekeeping
  crates/nu_plugin_polars/src/dataframe/command/data/sort_by_expr.rs
  crates/nu_plugin_polars/src/dataframe/command/index/arg_sort.rs
Labels: dataframe, pr:plugins

#16166 Add default error codes
  crates/nu-command/src/filesystem/watch.rs
  crates/nu-protocol/src/errors/cli_error.rs
  crates/nu-protocol/src/errors/shell_error/mod.rs
  crates/nu-protocol/tests/test_config.rs
Labels: pr:errors

#16151 Add warning when using history isolation with non-SQLite history format
  crates/nu-protocol/src/config/error.rs
  crates/nu-protocol/src/config/history.rs
  crates/nu-protocol/src/config/mod.rs
  crates/nu-protocol/src/config/plugin_gc.rs
  crates/nu-protocol/src/config/prelude.rs
  crates/nu-protocol/src/engine/stack.rs
  crates/nu-protocol/src/errors/config.rs
  crates/nu-protocol/src/errors/mod.rs
  crates/nu-protocol/src/errors/parse_warning.rs
  crates/nu-protocol/src/errors/shell_warning.rs
  tests/repl/test_config.rs
Labels: configuration

#16160 Panic when converting `other` I/O errors into our I/O errors
  crates/nu-protocol/src/engine/jobs.rs
  crates/nu-protocol/src/errors/shell_error/io.rs
  crates/nu-system/src/util.rs
Labels: error-handling

#16089 fix quotation rules
  crates/nu-parser/src/deparse.rs
Labels: parser

#16204 fix(parser): repeated `(` / parenthesis / opened sub-expressions causes memory leak
  crates/nu-parser/src/parser.rs
Labels: parser, pr:bugfix

#16221 Add `KillLine` to the `EditCommand` parser
  crates/nu-cli/src/reedline_config.rs
Labels: pr:bugfix

#16192 fix: highlighting a where command with invalid arguments can duplicate text
  crates/nu-cli/tests/commands/nu_highlight.rs
  crates/nu-command/src/filters/where_.rs
  crates/nu-protocol/src/syntax_shape.rs
Labels: syntax-highlighting, pr:bugfix

#16235 fix bare interpolation regression
  crates/nu-parser/src/parser.rs
  crates/nu-parser/tests/test_parser.rs
Labels: parser

#16259 Reapply "refactor(completion, parser): move custom_completion info from Expression to Signature" (#16250)
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/tests/completions/mod.rs
  crates/nu-engine/src/documentation.rs
  crates/nu-engine/src/scope.rs
  crates/nu-parser/src/flatten.rs
  crates/nu-parser/src/parse_keywords.rs
  crates/nu-parser/src/parse_shape_specs.rs
  crates/nu-parser/src/parser.rs
  crates/nu-protocol/src/ast/expression.rs
  crates/nu-protocol/src/signature.rs
  crates/nu-protocol/src/syntax_shape.rs
  crates/nu-protocol/tests/test_signature.rs
Labels: parser

#16268 fix(get): run_const uses `--optional` flag
  crates/nu-command/src/filters/get.rs
Labels: pr:bugfix

#16279 Don't import `IoError` on `nu-plugin-core` without `local-socket`
  crates/nu-plugin-core/src/communication_mode/mod.rs
Labels: pr:plugins

#16304 Manual GH workflow for `cargo hack` before release
  .github/workflows/before-release-hack-check.yml
Labels: ci

#16231 fix panic when `..=` syntax is used in stepped ranges
  crates/nu-parser/src/parser.rs
  tests/repl/test_ranges.rs
Labels: parser, pr:bugfix

#16305 Fixup pre-release checkup workflow
  .github/workflows/pre-release-checkup.yml
Labels: ci

#16309 Fix commit ID hex formatting in gstat
  crates/nu_plugin_gstat/src/gstat.rs
Labels: pr:plugins
