Repository nushell/nushell, pull requests merged in 2025-04, with the labels that each got.

#15270 feat(completion): stdlib virtual path completion & exportable completion
  Cargo.lock
  crates/nu-cli/Cargo.toml
  crates/nu-cli/src/completions/completer.rs
  crates/nu-cli/src/completions/completion_common.rs
  crates/nu-cli/src/completions/dotnu_completions.rs
  crates/nu-cli/src/completions/exportable_completions.rs
  crates/nu-cli/src/completions/flag_completions.rs
  crates/nu-cli/src/completions/mod.rs
  crates/nu-cli/tests/completions/mod.rs
  crates/nu-lsp/Cargo.toml
  crates/nu-lsp/src/completion.rs
  crates/nu-lsp/src/lib.rs
  tests/fixtures/lsp/completion/use.nu
Labels: completions, pr:bugfix

#15456 remove -s, -p in do
  crates/nu-cmd-lang/src/core_commands/do_.rs
  crates/nu-command/tests/commands/do_.rs
Labels: pr:breaking-change, removal-after-deprecation

#15297 feat: into duration accepts floats
  crates/nu-command/src/conversions/into/duration.rs
Labels: datetime-handling

#15407 Fix #15394 for `table -e` wrapping issue
  crates/nu-command/tests/commands/table.rs
  crates/nu-table/src/table.rs
  crates/nu-table/src/types/expanded.rs
  crates/nu-table/src/util.rs
  typos.toml
Labels: tabled, pr:bugfix

#15508 refactor(lsp): align markdown doc string with output of --help
  crates/nu-lsp/src/hover.rs
  crates/nu-lsp/src/notification.rs
  crates/nu-lsp/src/signature.rs
  tests/fixtures/lsp/hints/signature.nu
Labels: LSP

#15481 Reminder comment to update doc when adding `$nu` constants
  crates/nu-protocol/src/eval_const.rs
Labels: wait-for-upstream

#15515 Fix Exbibyte parsing
  crates/nu-parser/src/parser.rs
Labels: pr:bugfix

#15517 fix(lsp): parser_info based id detection for use/overlay keywords
  crates/nu-lsp/src/ast.rs
  crates/nu-lsp/src/goto.rs
  crates/nu-lsp/src/hover.rs
  tests/fixtures/lsp/hover/cell_path.nu
  tests/fixtures/lsp/hover/use.nu
Labels: LSP

#15522 bugfix: wrong display of human readable string
  crates/nu-command/src/date/from_human.rs
  crates/nu-protocol/src/value/mod.rs
Labels: pr:bugfix, datetime-handling

#15514 fix(lsp): workspace wide ops may panic in certain conditions
  crates/nu-lsp/src/workspace.rs
Labels: LSP

#15564 `polars`: update `polars lit` to handle nushell Value::Duration and Value::Date types
  crates/nu_plugin_polars/src/dataframe/command/data/filter.rs
  crates/nu_plugin_polars/src/dataframe/command/data/lit.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_expression/mod.rs
Labels: dataframe, pr:plugins

#15557 `polars`: update `get-` datetime components commands to allow expressions as inputs
  crates/nu_plugin_polars/src/dataframe/command/datetime/get_day.rs
  crates/nu_plugin_polars/src/dataframe/command/datetime/get_hour.rs
  crates/nu_plugin_polars/src/dataframe/command/datetime/get_minute.rs
  crates/nu_plugin_polars/src/dataframe/command/datetime/get_month.rs
  crates/nu_plugin_polars/src/dataframe/command/datetime/get_nanosecond.rs
  crates/nu_plugin_polars/src/dataframe/command/datetime/get_ordinal.rs
  crates/nu_plugin_polars/src/dataframe/command/datetime/get_second.rs
  crates/nu_plugin_polars/src/dataframe/command/datetime/get_week.rs
  crates/nu_plugin_polars/src/dataframe/command/datetime/get_weekday.rs
  crates/nu_plugin_polars/src/dataframe/command/datetime/get_year.rs
Labels: dataframe, pr:plugins

#15551 `polars`: add new command `polars over`
  crates/nu_plugin_polars/src/dataframe/command/aggregation/mod.rs
  crates/nu_plugin_polars/src/dataframe/command/aggregation/over.rs
Labels: dataframe, pr:plugins

#15553 `polars`: extend `NuExpression::extract_exprs` to handle records
  crates/nu_plugin_polars/src/dataframe/command/aggregation/aggregate.rs
  crates/nu_plugin_polars/src/dataframe/command/data/select.rs
  crates/nu_plugin_polars/src/dataframe/command/data/with_column.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_expression/mod.rs
Labels: dataframe, pr:plugins

#15536 refactor(completion, lsp): include decl_id in suggetion_kind for later usage
  crates/nu-cli/src/completions/attribute_completions.rs
  crates/nu-cli/src/completions/base.rs
  crates/nu-cli/src/completions/command_completions.rs
  crates/nu-cli/src/completions/exportable_completions.rs
  crates/nu-lsp/src/completion.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/state_working_set.rs
Labels: completions, performance, LSP

#15577 fix cannot find issue when performing collect on an eager dataframe
  crates/nu_plugin_polars/src/dataframe/command/data/collect.rs
Labels: dataframe, pr:plugins

#15576 fix(lsp): a panic caused by completion with decl_id out of range
  crates/nu-cli/src/completions/exportable_completions.rs
  crates/nu-lsp/src/completion.rs
  tests/fixtures/lsp/completion/command.nu
Labels: LSP

#15582 feat(polars): add `polars truncate` for rounding datetimes
  crates/nu_plugin_polars/src/dataframe/command/datetime/mod.rs
  crates/nu_plugin_polars/src/dataframe/command/datetime/truncate.rs
Labels: dataframe, pr:plugins

#15583 feat(polars): loosen constraints on accepted expressions in `polars group-by`
  crates/nu_plugin_polars/src/dataframe/command/aggregation/groupby.rs
Labels: dataframe, pr:plugins

#15570 `polars`: expand `polars col` to handle multiple columns and by types
  crates/nu_plugin_polars/src/dataframe/command/data/col.rs
Labels: dataframe, pr:plugins

#15598 feat(polars): add pow (`**`) operator for polars expressions
  crates/nu_plugin_polars/src/dataframe/command/data/select.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_expression/custom_value.rs
Labels: dataframe, pr:plugins

#15599 fix(custom_value) + fix(polars): map `//` operator to FloorDivide for custom values and in polars
  crates/nu-protocol/src/value/mod.rs
  crates/nu_plugin_polars/Cargo.toml
  crates/nu_plugin_polars/src/dataframe/values/nu_expression/custom_value.rs
Labels: dataframe, pr:plugins, pr:bugfix

#15603 fix(lsp): regression of semantic tokens of module-prefixed commands
  crates/nu-lsp/src/semantic_tokens.rs
  tests/fixtures/lsp/semantic_tokens/internals.nu
Labels: LSP

#15569 Add env-conversions helpers to std
  crates/nu-std/std/config/mod.nu
Labels: std-library, environment

#15588 Fix `kv set` with a closure argument
  crates/nu-std/std-rfc/kv/mod.nu
  crates/nu-std/tests/test_std-rfc_kv.nu
Labels: std-library

#15608 fix(polars): remove requirement that pivot columns must be same type in `polars pivot`
  crates/nu_plugin_polars/src/dataframe/command/data/pivot.rs
Labels: dataframe, pr:plugins

#15617 IR: allow subexpression with redirection.
  crates/nu-command/tests/commands/redirection.rs
  crates/nu-engine/src/compile/mod.rs
Labels: pr:bugfix

#15634 Fix labelling of plugins through correct glob
  .github/labeler.yml
Labels: ci

#15629 bugfix: `str join` outputs dates consistently (RFC2822 when possible)
  crates/nu-command/src/strings/str_/join.rs
Labels: pr:breaking-change, datetime-handling

#15611 Run scripts of any file extension in PATHEXT on Windows
  crates/nu-command/src/system/run_external.rs
Labels: external-commands, windows

#15632 feat(polars): enable parsing decimals in polars schemas
  crates/nu_plugin_polars/src/dataframe/command/core/to_df.rs
  crates/nu_plugin_polars/src/dataframe/values/nu_dataframe/conversion.rs
Labels: dataframe, pr:plugins

#15635 add polars join_where command
  crates/nu_plugin_polars/Cargo.toml
  crates/nu_plugin_polars/src/dataframe/command/data/join_where.rs
  crates/nu_plugin_polars/src/dataframe/command/data/mod.rs
Labels: dataframe, pr:plugins

#15637 fix(polars): conversion from nanoseconds to time_units in Datetime and Duration parsing
  crates/nu_plugin_polars/src/dataframe/values/nu_dataframe/conversion.rs
Labels: dataframe, pr:plugins

#15644 docs(explore): Add ":nu" back to the help text
  crates/nu-explore/src/commands/help.rs
Labels: documentation, help-system

#15253 Inter-Job direct messaging
  crates/nu-command/src/default_context.rs
  crates/nu-command/src/experimental/job_flush.rs
  crates/nu-command/src/experimental/job_id.rs
  crates/nu-command/src/experimental/job_recv.rs
  crates/nu-command/src/experimental/job_send.rs
  crates/nu-command/src/experimental/job_spawn.rs
  crates/nu-command/src/experimental/job_unfreeze.rs
  crates/nu-command/src/experimental/mod.rs
  crates/nu-command/src/system/run_external.rs
  crates/nu-command/tests/commands/job.rs
  crates/nu-protocol/src/engine/engine_state.rs
  crates/nu-protocol/src/engine/jobs.rs
  crates/nu-protocol/src/errors/shell_error/mod.rs
  crates/nu-protocol/src/process/child.rs
Labels: job-control

#15645 feat(polars): enable parsing strings as dates and datetime in polars schema
  crates/nu_plugin_polars/src/dataframe/values/nu_dataframe/conversion.rs
Labels: dataframe, pr:plugins

#15648 Revert "Fix `kv set` with a closure argument"
  crates/nu-std/std-rfc/kv/mod.nu
  crates/nu-std/tests/test_std-rfc_kv.nu
Labels: std-library

#15625 Update Nu to 0.103.0 for release workflow and improve Windows OS checks
  .github/workflows/nightly-build.yml
  .github/workflows/release-pkg.nu
  .github/workflows/release.yml
Labels: ci

#15647 feat(table): make missing value symbol configurable
  crates/nu-command/tests/commands/table.rs
  crates/nu-protocol/src/config/table.rs
  crates/nu-table/src/common.rs
  crates/nu-table/src/types/expanded.rs
  crates/nu-table/src/types/general.rs
  crates/nu-utils/src/default_files/doc_config.nu
Labels: configuration
